.css_idlinea__label {text-align:;}
.css_idlinea__line {text-align:left;}
.css_idlinea__obj {text-align:left;}
.css_claveacceso__label { }
.css_claveacceso__line { }
.css_claveacceso__obj { }
.css_codigo__label { }
.css_codigo__line { }
.css_codigo__obj { }
.css_codigoporcentaje__label { }
.css_codigoporcentaje__line { }
.css_codigoporcentaje__obj { }
.css_tarifa__label {text-align:;}
.css_tarifa__line {text-align:left;}
.css_tarifa__obj {text-align:left;}
.css_baseimponible__label {text-align:;}
.css_baseimponible__line {text-align:left;}
.css_baseimponible__obj {text-align:left;}
.css_valor__label {text-align:;}
.css_valor__line {text-align:left;}
.css_valor__obj {text-align:left;}
