.css_id_sales_detail_det_label {text-align: right;vertical-align: middle;}
.css_id_sales_detail_det_line {height:0px;text-align: right;}
.css_id_sales_det_label {text-align: right;vertical-align: middle;}
.css_id_sales_det_line {height:0px;text-align: right;}
.css_unit_cost_det_label {text-align: right;vertical-align: middle;}
.css_unit_cost_det_line {height:0px;text-align: right;}
.css_unit_value_det_label {text-align: right;vertical-align: middle;}
.css_unit_value_det_line {height:0px;text-align: right;}
.css_quantity_det_label {text-align: right;vertical-align: middle;}
.css_quantity_det_line {height:0px;text-align: right;}
.css_discount_det_label {text-align: right;vertical-align: middle;}
.css_discount_det_line {height:0px;text-align: right;}
.css_item_total_det_label {text-align: right;vertical-align: middle;}
.css_item_total_det_line {height:0px;text-align: right;}
.css_id_product_det_label {text-align: right;vertical-align: middle;}
.css_id_product_det_line {height:0px;text-align: right;}
.css_idcaja_det_label {text-align: right;vertical-align: middle;}
.css_idcaja_det_line {height:0px;text-align: right;}
.css_uniqueid_det_label {text-align: right;vertical-align: middle;}
.css_uniqueid_det_line {height:0px;text-align: right;}
.css_uniqueidtrans_det_label {text-align: right;vertical-align: middle;}
.css_uniqueidtrans_det_line {height:0px;text-align: right;}
.css_fechatrans_det_label {text-align: right;vertical-align: middle;}
.css_fechatrans_det_line {height:0px;text-align: right;}
.css_estado_det_label {text-align: right;vertical-align: middle;}
.css_estado_det_line {height:0px;text-align: right;}
.css_valor_siniva_det_label {text-align: right;vertical-align: middle;}
.css_valor_siniva_det_line {height:0px;text-align: right;}
.css_valor_unitario_det_label {text-align: right;vertical-align: middle;}
.css_valor_unitario_det_line {height:0px;text-align: right;}
.css_codproducto_det_label {text-align: right;vertical-align: middle;}
.css_codproducto_det_line {height:0px;text-align: right;}
.css_factura_det_label {text-align: right;vertical-align: middle;}
.css_factura_det_line {height:0px;text-align: right;}
.css_producto_det_label {text-align: right;vertical-align: middle;}
.css_producto_det_line {height:0px;text-align: right;}
.css_entrada_det_label {text-align: right;vertical-align: middle;}
.css_entrada_det_line {height:0px;text-align: right;}
.css_jugador_det_label {text-align: right;vertical-align: middle;}
.css_jugador_det_line {height:0px;text-align: right;}
.css_visitante_det_label {text-align: right;vertical-align: middle;}
.css_visitante_det_line {height:0px;text-align: right;}
.css_tarjeta_det_label {text-align: right;vertical-align: middle;}
.css_tarjeta_det_line {height:0px;text-align: right;}
.css_tokens_det_label {text-align: right;vertical-align: middle;}
.css_tokens_det_line {height:0px;text-align: right;}
.css_minutos_det_label {text-align: right;vertical-align: middle;}
.css_minutos_det_line {height:0px;text-align: right;}
.css_comida_det_label {text-align: right;vertical-align: middle;}
.css_comida_det_line {height:0px;text-align: right;}
.css_tarjetarfid_det_label {text-align: right;vertical-align: middle;}
.css_tarjetarfid_det_line {height:0px;text-align: right;}
.css_rfid_pulsera_det_label {text-align: right;vertical-align: middle;}
.css_rfid_pulsera_det_line {height:0px;text-align: right;}
