.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_codigo_empleado_det_label {text-align: right;vertical-align: middle;}
.css_codigo_empleado_det_line {height:0px;text-align: right;}
.css_tipo_det_label {text-align: right;vertical-align: middle;}
.css_tipo_det_line {height:0px;text-align: right;}
.css_nombre_det_label {text-align: right;vertical-align: middle;}
.css_nombre_det_line {height:0px;text-align: right;}
.css_genero_det_label {text-align: right;vertical-align: middle;}
.css_genero_det_line {height:0px;text-align: right;}
.css_fecha_nacimiento_det_label {text-align: right;vertical-align: middle;}
.css_fecha_nacimiento_det_line {height:0px;text-align: right;}
.css_discapacidad_det_label {text-align: right;vertical-align: middle;}
.css_discapacidad_det_line {height:0px;text-align: right;}
.css_observacion_det_label {text-align: right;vertical-align: middle;}
.css_observacion_det_line {height:0px;text-align: right;}
