.css_idcustomer_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idcustomer_grid_line {vertical-align: top;text-align: right;}
.css_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombre_grid_line {vertical-align: top;text-align: right;}
.css_correo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_correo_grid_line {vertical-align: top;text-align: right;}
.css_celular_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_celular_grid_line {vertical-align: top;text-align: right;}
.css_direccion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_direccion_grid_line {vertical-align: top;text-align: right;}
.css_tipodoc_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipodoc_grid_line {vertical-align: top;text-align: right;}
.css_fechault_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechault_grid_line {vertical-align: top;text-align: center;}
.css_ult_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_ult_fecha_grid_line {vertical-align: top;text-align: center;}
.css_numvisitas_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_numvisitas_grid_line {vertical-align: top;text-align: right;}
.css_totalventa_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_totalventa_grid_line {vertical-align: top;text-align: right;}
.css_idinterno_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idinterno_grid_line {vertical-align: top;text-align: right;}
