.css_idcustomer_det_label {text-align: left;vertical-align: middle;}
.css_idcustomer_det_line {height:0px;text-align: left;}
.css_nombre_det_label {text-align: left;vertical-align: middle;}
.css_nombre_det_line {height:0px;text-align: left;}
.css_correo_det_label {text-align: left;vertical-align: middle;}
.css_correo_det_line {height:0px;text-align: left;}
.css_celular_det_label {text-align: left;vertical-align: middle;}
.css_celular_det_line {height:0px;text-align: left;}
.css_idinterno_det_label {text-align: left;vertical-align: middle;}
.css_idinterno_det_line {height:0px;text-align: left;}
.css_direccion_det_label {text-align: left;vertical-align: middle;}
.css_direccion_det_line {height:0px;text-align: left;}
.css_tipodoc_det_label {text-align: left;vertical-align: middle;}
.css_tipodoc_det_line {height:0px;text-align: left;}
.css_ult_fecha_det_label {text-align: left;vertical-align: middle;}
.css_ult_fecha_det_line {height:0px;text-align: left;}
.css_fechault_det_label {text-align: left;vertical-align: middle;}
.css_fechault_det_line {height:0px;text-align: left;}
.css_numvisitas_det_label {text-align: left;vertical-align: middle;}
.css_numvisitas_det_line {height:0px;text-align: left;}
.css_totalventa_det_label {text-align: left;vertical-align: middle;}
.css_totalventa_det_line {height:0px;text-align: left;}
