.css_idlinea__label {text-align:;}
.css_idlinea__line {text-align:left;}
.css_idlinea__obj {text-align:left;}
.css_claveacceso__label { }
.css_claveacceso__line { }
.css_claveacceso__obj { }
.css_formapago__label { }
.css_formapago__line { }
.css_formapago__obj { }
.css_total__label {text-align:;}
.css_total__line {text-align:left;}
.css_total__obj {text-align:left;}
