.css_cod_device_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cod_device_grid_line {vertical-align: top;text-align: right;}
.css_device_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_device_name_grid_line {vertical-align: top;text-align: left;}
.css_cod_rfid900_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cod_rfid900_grid_line {vertical-align: top;text-align: left;}
.css_uhfip_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_uhfip_grid_line {vertical-align: top;text-align: left;}
.css_rfid_read_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rfid_read_grid_line {vertical-align: top;text-align: left;}
.css_mensaje_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_mensaje_grid_line {vertical-align: top;text-align: left;}
.css_cod_activo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cod_activo_grid_line {vertical-align: top;text-align: left;}
.css_cod_grupo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cod_grupo_grid_line {vertical-align: top;text-align: left;}
.css_activa_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_activa_grid_line {vertical-align: top;text-align: right;}
.css_estado_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_estado_grid_line {vertical-align: top;text-align: right;}
