.css_idcustomer_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idcustomer_grid_line {vertical-align: top;text-align: left;}
.css_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombre_grid_line {vertical-align: top;text-align: left;}
.css_celular_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_celular_grid_line {vertical-align: top;text-align: left;}
.css_correo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_correo_grid_line {vertical-align: top;text-align: left;}
.css_direccion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_direccion_grid_line {vertical-align: top;text-align: left;}
.css_idinterno_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idinterno_grid_line {vertical-align: top;text-align: left;}
.css_tipodoc_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipodoc_grid_line {vertical-align: top;text-align: left;}
.css_ult_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_ult_fecha_grid_line {vertical-align: top;text-align: center;}
.css_afiliaciones_grid_line {text-align: center;}
.css_familia_grid_line {text-align: center;}
