.css_id_product_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_product_grid_line {vertical-align: top;text-align: right;}
.css_product_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_product_name_grid_line {vertical-align: top;text-align: right;}
.css_product_code_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_product_code_grid_line {vertical-align: top;text-align: right;}
.css_id_status_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_id_status_grid_line {vertical-align: top;text-align: center;}
.css_stock_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_stock_grid_line {vertical-align: top;text-align: right;}
.css_product_value_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_product_value_grid_line {vertical-align: top;text-align: right;}
.css_kiosko_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_kiosko_grid_line {vertical-align: top;text-align: right;}
.css_entrada_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_entrada_grid_line {vertical-align: top;text-align: right;}
.css_jugador_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_jugador_grid_line {vertical-align: top;text-align: right;}
.css_visitante_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_visitante_grid_line {vertical-align: top;text-align: right;}
.css_service_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_service_grid_line {vertical-align: top;text-align: right;}
.css_tarjeta_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tarjeta_grid_line {vertical-align: top;text-align: right;}
.css_minutos_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_minutos_grid_line {vertical-align: top;text-align: right;}
.css_tokens_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tokens_grid_line {vertical-align: top;text-align: right;}
.css_comida_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_comida_grid_line {vertical-align: top;text-align: right;}
.css_score_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_score_grid_line {vertical-align: top;text-align: right;}
.css_poriva_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_poriva_grid_line {vertical-align: top;text-align: right;}
.css_cuentaventa_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cuentaventa_grid_line {vertical-align: top;text-align: right;}
.css_unidad_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_unidad_grid_line {vertical-align: top;text-align: right;}
.css_tipoitem_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipoitem_grid_line {vertical-align: top;text-align: right;}
.css_cuentacompra_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cuentacompra_grid_line {vertical-align: top;text-align: right;}
.css_precioventa_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_precioventa_grid_line {vertical-align: top;text-align: center;}
.css_puntoventa_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_puntoventa_grid_line {vertical-align: top;text-align: right;}
.css_orden_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_orden_grid_line {vertical-align: top;text-align: right;}
.css_id_category_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_category_grid_line {vertical-align: top;text-align: right;}
.css_dateproduct_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_dateproduct_grid_line {vertical-align: top;text-align: center;}
