.css_codcte43_label { }
.css_codcte43_line { }
.css_codcte43_obj { }
.css_tipodoc43_label { }
.css_tipodoc43_line { }
.css_tipodoc43_obj { }
.css_numdoc43_label { }
.css_numdoc43_line { }
.css_numdoc43_obj { }
.css_ocurren43_label { }
.css_ocurren43_line { }
.css_ocurren43_obj { }
.css_cocte43_label { }
.css_cocte43_line { }
.css_cocte43_obj { }
.css_fecdoc43_label { }
.css_fecdoc43_line { }
.css_fecdoc43_obj { }
.css_tipdoc43_label { }
.css_tipdoc43_line { }
.css_tipdoc43_obj { }
.css_numvencob43_label { }
.css_numvencob43_line { }
.css_numvencob43_obj { }
.css_fedoc43_label { }
.css_fedoc43_line { }
.css_fedoc43_obj { }
.css_totdoc43_label { }
.css_totdoc43_line {text-align:left;}
.css_totdoc43_obj {text-align:left;}
.css_detalle43_label { }
.css_detalle43_line { }
.css_detalle43_obj { }
.css_cvanioant43_label { }
.css_cvanioant43_line { }
.css_cvanioant43_obj { }
.css_cvdivisa43_label { }
.css_cvdivisa43_line { }
.css_cvdivisa43_obj { }
.css_valdivisa43_label { }
.css_valdivisa43_line {text-align:left;}
.css_valdivisa43_obj {text-align:left;}
.css_valdivisaori43_label { }
.css_valdivisaori43_line {text-align:left;}
.css_valdivisaori43_obj {text-align:left;}
.css_factcompra43_label { }
.css_factcompra43_line { }
.css_factcompra43_obj { }
.css_seriecompra43_label { }
.css_seriecompra43_line { }
.css_seriecompra43_obj { }
.css_autocompra43_label { }
.css_autocompra43_line { }
.css_autocompra43_obj { }
.css_codret43_label { }
.css_codret43_line { }
.css_codret43_obj { }
.css_valini43_label { }
.css_valini43_line {text-align:left;}
.css_valini43_obj {text-align:left;}
.css_numcuotasord43_label { }
.css_numcuotasord43_line { }
.css_numcuotasord43_obj { }
.css_valormov43_label { }
.css_valormov43_line {text-align:left;}
.css_valormov43_obj {text-align:left;}
.css_saldoregmov43_label { }
.css_saldoregmov43_line {text-align:left;}
.css_saldoregmov43_obj {text-align:left;}
.css_feccobro43_label { }
.css_feccobro43_line { }
.css_feccobro43_obj { }
.css_codpagounif43_label { }
.css_codpagounif43_line { }
.css_codpagounif43_obj { }
.css_tipodocdb43_label { }
.css_tipodocdb43_line { }
.css_tipodocdb43_obj { }
.css_numdocdb43_label { }
.css_numdocdb43_line { }
.css_numdocdb43_obj { }
.css_ocurrecdocdb43_label { }
.css_ocurrecdocdb43_line { }
.css_ocurrecdocdb43_obj { }
.css_numrecibo43_label { }
.css_numrecibo43_line { }
.css_numrecibo43_obj { }
.css_valorabono43_label { }
.css_valorabono43_line {text-align:left;}
.css_valorabono43_obj {text-align:left;}
.css_efectcheque43_label { }
.css_efectcheque43_line { }
.css_efectcheque43_obj { }
.css_saldoexceso43_label { }
.css_saldoexceso43_line {text-align:left;}
.css_saldoexceso43_obj {text-align:left;}
.css_saldocte43_label { }
.css_saldocte43_line {text-align:left;}
.css_saldocte43_obj {text-align:left;}
.css_codpago43_label { }
.css_codpago43_line { }
.css_codpago43_obj { }
.css_numdocpago43_label { }
.css_numdocpago43_line { }
.css_numdocpago43_obj { }
.css_obsdocpago43_label { }
.css_obsdocpago43_line { }
.css_obsdocpago43_obj { }
.css_uid_label { }
.css_uid_line { }
.css_uid_obj { }
.css_cvtransfer43_label { }
.css_cvtransfer43_line { }
.css_cvtransfer43_obj { }
.css_fectransfer43_label { }
.css_fectransfer43_line { }
.css_fectransfer43_obj { }
.css_fecvencompra43_label { }
.css_fecvencompra43_line { }
.css_fecvencompra43_obj { }
.css_fecvenret43_label { }
.css_fecvenret43_line { }
.css_fecvenret43_obj { }
.css_numautoret43_label { }
.css_numautoret43_line { }
.css_numautoret43_obj { }
.css_credgast43_label { }
.css_credgast43_line { }
.css_credgast43_obj { }
.css_cvanulado43_label { }
.css_cvanulado43_line { }
.css_cvanulado43_obj { }
.css_conta43_label { }
.css_conta43_line { }
.css_conta43_obj { }
.css_cont43_label { }
.css_cont43_line { }
.css_cont43_obj { }
.css_idb_label { }
.css_idb_line { }
.css_idb_obj { }
.css_tipocomptehis_label { }
.css_tipocomptehis_line { }
.css_tipocomptehis_obj { }
.css_tipo_pago_label { }
.css_tipo_pago_line { }
.css_tipo_pago_obj { }
.css_numero_transferencia_label { }
.css_numero_transferencia_line {text-align:left;}
.css_numero_transferencia_obj {text-align:left;}
.css_aprobacion_transferencia_label { }
.css_aprobacion_transferencia_line { }
.css_aprobacion_transferencia_obj { }
.css_banco_label { }
.css_banco_line { }
.css_banco_obj { }
.css_proyecto_label { }
.css_proyecto_line { }
.css_proyecto_obj { }
.css_rubro_label { }
.css_rubro_line { }
.css_rubro_obj { }
.css_categoria_label { }
.css_categoria_line { }
.css_categoria_obj { }
.css_tipo_documento_atado_label { }
.css_tipo_documento_atado_line { }
.css_tipo_documento_atado_obj { }
.css_numero_documento_atado_label { }
.css_numero_documento_atado_line { }
.css_numero_documento_atado_obj { }
.css_valor_superior_al_maximo_label { }
.css_valor_superior_al_maximo_line {text-align:left;}
.css_valor_superior_al_maximo_obj {text-align:left;}
.css_contrato_garantia_label { }
.css_contrato_garantia_line {text-align:left;}
.css_contrato_garantia_obj {text-align:left;}
.css_distribucion_retencion_label { }
.css_distribucion_retencion_line { }
.css_distribucion_retencion_obj { }
