.css_numero_autorizacion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_numero_autorizacion_grid_line {vertical-align: top;text-align: right;}
.css_fecha_autorizacion_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_autorizacion_grid_line {vertical-align: top;text-align: center;}
.css_observacion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_observacion_grid_line {vertical-align: top;text-align: right;}
.css_archivo_pdf_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_archivo_pdf_grid_line {text-align: center;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_grid_line {vertical-align: top;text-align: right;}
.css_numero_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_numero_grid_line {vertical-align: top;text-align: right;}
