.css_codrfid900_det_label {text-align: right;vertical-align: middle;}
.css_codrfid900_det_line {height:0px;text-align: right;}
.css_codrfid_det_label {text-align: right;vertical-align: middle;}
.css_codrfid_det_line {height:0px;text-align: right;}
.css_estado_det_label {text-align: right;vertical-align: middle;}
.css_estado_det_line {height:0px;text-align: right;}
.css_fecharead_det_label {text-align: right;vertical-align: middle;}
.css_fecharead_det_line {height:0px;text-align: right;}
