.css_codrfid900_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codrfid900_grid_line {vertical-align: top;text-align: right;}
.css_codrfid_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codrfid_grid_line {vertical-align: top;text-align: right;}
.css_estado_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_estado_grid_line {vertical-align: top;text-align: right;}
.css_fecharead_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecharead_grid_line {vertical-align: top;text-align: center;}
