.css_idcliente_label {font-family:Geneva, Arial, sans-serif;font-size:28px;font-weight:bold;}
.css_idcliente_line {font-family:Geneva, Arial, sans-serif;font-size:28px;}
.css_idcliente_obj {font-family:Geneva, Arial, sans-serif;font-size:28px;font-weight:bold;}
.css_cliente_label {font-family:Geneva, Arial, sans-serif;font-size:28px;font-weight:bold;}
.css_cliente_line {font-family:Geneva, Arial, sans-serif;font-size:28px;font-weight:bold;}
.css_cliente_obj {font-family:Geneva, Arial, sans-serif;font-size:28px;font-weight:bold;}
.css_correo_label {font-family:Geneva, Arial, sans-serif;font-size:28px;font-weight:bold;}
.css_correo_line {font-family:Geneva, Arial, sans-serif;font-size:22px;font-weight:bold;}
.css_correo_obj {font-family:Geneva, Arial, sans-serif;font-size:22px;font-weight:bold;}
.css_telefono_label {font-family:Geneva, Arial, sans-serif;font-size:28px;font-weight:bold;}
.css_telefono_line {font-family:Geneva, Arial, sans-serif;font-size:28px;font-weight:bold;}
.css_telefono_obj {font-family:Geneva, Arial, sans-serif;font-size:30px;font-weight:bold;}
.css_tipodoc_label { }
.css_tipodoc_line { }
.css_tipodoc_obj {font-size:16px;font-weight:bold;}
.css_direccion_label {font-family:Geneva, Arial, sans-serif;font-size:28px;}
.css_direccion_line { }
.css_direccion_obj { }
