.css_total_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_total_grid_line {color:#000000;font-family:Geneva, Arial, sans-serif;font-size:30px;font-weight:bold;vertical-align: top;text-align: left;}
.css_importe_recibido_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_importe_recibido_grid_line {vertical-align: top;text-align: left;}
