.css_cantidad_label {font-family:Helvetica, Arial, sans-serif;font-size:36px;color:#FFFFFF;}
.css_cantidad_line {font-family:Geneva, Arial, sans-serif;font-size:36px;color:#FFFFFF;font-weight:bold;text-align:left;}
.css_cantidad_obj {font-family:Geneva, Arial, sans-serif;font-size:48px;color:#FFFFFF;font-weight:bold;}
.css_titulo_label { }
.css_titulo_line {font-family:Helvetica, Arial, sans-serif;font-size:26px;color:#FFFFFF;}
.css_titulo_obj { }
.css_total_label { }
.css_total_line {font-family:Helvetica, Arial, sans-serif;font-size:36px;color:#FFFFFF;font-weight:bold;text-align:left;}
.css_total_obj {text-align:left;}
