.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_codigo_det_label {text-align: left;vertical-align: middle;}
.css_codigo_det_line {height:0px;text-align: left;}
.css_numero_det_label {text-align: left;vertical-align: middle;}
.css_numero_det_line {height:0px;text-align: left;}
.css_codigo_documento_det_label {text-align: left;vertical-align: middle;}
.css_codigo_documento_det_line {height:0px;text-align: left;}
.css_establecimiento_det_label {text-align: left;vertical-align: middle;}
.css_establecimiento_det_line {height:0px;text-align: left;}
.css_punto_emision_det_label {text-align: left;vertical-align: middle;}
.css_punto_emision_det_line {height:0px;text-align: left;}
.css_secuencial_det_label {text-align: left;vertical-align: middle;}
.css_secuencial_det_line {height:0px;text-align: left;}
.css_fecha_det_label {text-align: left;vertical-align: middle;}
.css_fecha_det_line {height:0px;text-align: left;}
.css_total_sin_iva_det_label {text-align: left;vertical-align: middle;}
.css_total_sin_iva_det_line {height:0px;text-align: left;}
.css_total_con_iva_det_label {text-align: left;vertical-align: middle;}
.css_total_con_iva_det_line {height:0px;text-align: left;}
.css_iva_det_label {text-align: left;vertical-align: middle;}
.css_iva_det_line {height:0px;text-align: left;}
.css_ice_det_label {text-align: left;vertical-align: middle;}
.css_ice_det_line {height:0px;text-align: left;}
.css_descuentos_det_label {text-align: left;vertical-align: middle;}
.css_descuentos_det_line {height:0px;text-align: left;}
.css_total_det_label {text-align: left;vertical-align: middle;}
.css_total_det_line {height:0px;text-align: left;}
.css_tipo_documento_det_label {text-align: left;vertical-align: middle;}
.css_tipo_documento_det_line {height:0px;text-align: left;}
.css_documento_det_label {text-align: left;vertical-align: middle;}
.css_documento_det_line {height:0px;text-align: left;}
.css_razon_social_det_label {text-align: left;vertical-align: middle;}
.css_razon_social_det_line {height:0px;text-align: left;}
.css_direccion_det_label {text-align: left;vertical-align: middle;}
.css_direccion_det_line {height:0px;text-align: left;}
.css_guia_remision_det_label {text-align: left;vertical-align: middle;}
.css_guia_remision_det_line {height:0px;text-align: left;}
.css_direccion_establecimiento_det_label {text-align: left;vertical-align: middle;}
.css_direccion_establecimiento_det_line {height:0px;text-align: left;}
