.css_NM_Count_cnt_field {text-align: right}
.css_quantity_sum_label {text-align: right; vertical-align: top}
.css_quantity_sum_field {text-align: right; vertical-align: top}
.css_item_total_sum_label {text-align: right; vertical-align: top}
.css_item_total_sum_field {text-align: right; vertical-align: top}
.css_valor_siniva_sum_label {text-align: right; vertical-align: top}
.css_valor_siniva_sum_field {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_label {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_field {text-align: right; vertical-align: top}
