.css_tarifa_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tarifa_grid_line {vertical-align: top;text-align: right;}
.css_baseimponible_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_baseimponible_grid_line {vertical-align: top;text-align: right;}
.css_valor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_grid_line {vertical-align: top;text-align: right;}
.css_idlinea_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idlinea_grid_line {vertical-align: top;text-align: right;}
.css_claveacceso_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_claveacceso_grid_line {vertical-align: top;text-align: right;}
.css_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_grid_line {vertical-align: top;text-align: right;}
.css_codigoporcentaje_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigoporcentaje_grid_line {vertical-align: top;text-align: right;}
