.css_product_name_grid_line {font-family:Geneva, Arial, sans-serif;font-size:10px;font-weight:bold;vertical-align: top;text-align: left;}
.css_image_grid_line {vertical-align: top;text-align: left;}
.css_product_value_grid_line {font-family:Geneva, Arial, sans-serif;font-size:20px;vertical-align: top;text-align: left;}
