.css_parentesco_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_parentesco_grid_line {vertical-align: top;text-align: left;}
.css_sexo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sexo_grid_line {vertical-align: top;text-align: left;}
.css_fecha_nacimiento_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_nacimiento_grid_line {vertical-align: top;text-align: center;}
.css_edad_actual_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_edad_actual_grid_line {vertical-align: top;text-align: right;}
.css_tipo_sub_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_sub_grid_line {vertical-align: top;text-align: left;}
.css_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombre_grid_line {vertical-align: top;text-align: left;}
.css_email_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_email_grid_line {vertical-align: top;text-align: left;}
.css_idfamily_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idfamily_grid_line {vertical-align: top;text-align: right;}
.css_idcustomer_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idcustomer_grid_line {vertical-align: top;text-align: left;}
