.css_pdf_blob_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pdf_blob_grid_line {font-family:Helvetica, Arial, sans-serif;font-size:12px;font-weight:bold;vertical-align: top;text-align: right;}
.css_fechareg_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechareg_grid_line {vertical-align: top;text-align: center;}
.css_idcliente_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idcliente_grid_line {vertical-align: top;text-align: right;}
.css_cliente_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cliente_grid_line {vertical-align: top;text-align: right;}
.css_direccion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_direccion_grid_line {vertical-align: top;text-align: right;}
.css_telefono_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_telefono_grid_line {vertical-align: top;text-align: right;}
.css_serie_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_serie_grid_line {vertical-align: top;text-align: right;}
.css_idcaja_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idcaja_grid_line {vertical-align: top;text-align: right;}
.css_imprime_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_imprime_grid_line {font-family:Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;vertical-align: top;text-align: right;}
.css_idsales_pdf_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idsales_pdf_grid_line {vertical-align: top;text-align: right;}
.css_pdf_url_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pdf_url_grid_line {vertical-align: top;text-align: right;}
.css_pdf_filename_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pdf_filename_grid_line {vertical-align: top;text-align: right;}
