.css_rp01noemp_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rp01noemp_grid_line {vertical-align: top;text-align: right;}
.css_rp01division_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rp01division_grid_line {vertical-align: top;text-align: right;}
.css_rp01depto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rp01depto_grid_line {vertical-align: top;text-align: right;}
.css_rp01seccion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rp01seccion_grid_line {vertical-align: top;text-align: right;}
.css_rp01noemp1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rp01noemp1_grid_line {vertical-align: top;text-align: right;}
.css_rp01nombreemp_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rp01nombreemp_grid_line {vertical-align: top;text-align: right;}
