.css_rp01noemp_det_label {text-align: left;vertical-align: middle;}
.css_rp01noemp_det_line {height:0px;text-align: left;}
.css_rp01division_det_label {text-align: left;vertical-align: middle;}
.css_rp01division_det_line {height:0px;text-align: left;}
.css_rp01depto_det_label {text-align: left;vertical-align: middle;}
.css_rp01depto_det_line {height:0px;text-align: left;}
.css_rp01seccion_det_label {text-align: left;vertical-align: middle;}
.css_rp01seccion_det_line {height:0px;text-align: left;}
.css_rp01noemp1_det_label {text-align: left;vertical-align: middle;}
.css_rp01noemp1_det_line {height:0px;text-align: left;}
.css_rp01nombreemp_det_label {text-align: left;vertical-align: middle;}
.css_rp01nombreemp_det_line {height:0px;text-align: left;}
.css_rp01categoria_det_label {text-align: left;vertical-align: middle;}
.css_rp01categoria_det_line {height:0px;text-align: left;}
.css_rp01turno_det_label {text-align: left;vertical-align: middle;}
.css_rp01turno_det_line {height:0px;text-align: left;}
.css_rp01statusemp_det_label {text-align: left;vertical-align: middle;}
.css_rp01statusemp_det_line {height:0px;text-align: left;}
.css_rp01fechastatus_det_label {text-align: left;vertical-align: middle;}
.css_rp01fechastatus_det_line {height:0px;text-align: left;}
.css_rp01causaretiro_det_label {text-align: left;vertical-align: middle;}
.css_rp01causaretiro_det_line {height:0px;text-align: left;}
.css_rp01direccion_det_label {text-align: left;vertical-align: middle;}
.css_rp01direccion_det_line {height:0px;text-align: left;}
.css_rp01telefono_det_label {text-align: left;vertical-align: middle;}
.css_rp01telefono_det_line {height:0px;text-align: left;}
.css_rp01lugarnacimiento_det_label {text-align: left;vertical-align: middle;}
.css_rp01lugarnacimiento_det_line {height:0px;text-align: left;}
.css_rp01fechanacimiento_det_label {text-align: left;vertical-align: middle;}
.css_rp01fechanacimiento_det_line {height:0px;text-align: left;}
.css_rp01nacionalidad_det_label {text-align: left;vertical-align: middle;}
.css_rp01nacionalidad_det_line {height:0px;text-align: left;}
.css_rp01cedula_det_label {text-align: left;vertical-align: middle;}
.css_rp01cedula_det_line {height:0px;text-align: left;}
.css_rp01noiess_det_label {text-align: left;vertical-align: middle;}
.css_rp01noiess_det_line {height:0px;text-align: left;}
.css_rp01sexo_det_label {text-align: left;vertical-align: middle;}
.css_rp01sexo_det_line {height:0px;text-align: left;}
.css_rp01nolibreta_det_label {text-align: left;vertical-align: middle;}
.css_rp01nolibreta_det_line {height:0px;text-align: left;}
.css_rp01profesion_det_label {text-align: left;vertical-align: middle;}
.css_rp01profesion_det_line {height:0px;text-align: left;}
.css_rp01fechaingreso_det_label {text-align: left;vertical-align: middle;}
.css_rp01fechaingreso_det_line {height:0px;text-align: left;}
.css_rp01fechareingreso_det_label {text-align: left;vertical-align: middle;}
.css_rp01fechareingreso_det_line {height:0px;text-align: left;}
.css_rp01cargo_det_label {text-align: left;vertical-align: middle;}
.css_rp01cargo_det_line {height:0px;text-align: left;}
.css_rp01estadocivil_det_label {text-align: left;vertical-align: middle;}
.css_rp01estadocivil_det_line {height:0px;text-align: left;}
.css_rp01rebajaxcasado_det_label {text-align: left;vertical-align: middle;}
.css_rp01rebajaxcasado_det_line {height:0px;text-align: left;}
.css_rp01nombreconyuge_det_label {text-align: left;vertical-align: middle;}
.css_rp01nombreconyuge_det_line {height:0px;text-align: left;}
.css_rp01nombrepadre_det_label {text-align: left;vertical-align: middle;}
.css_rp01nombrepadre_det_line {height:0px;text-align: left;}
.css_rp01nombremadre_det_label {text-align: left;vertical-align: middle;}
.css_rp01nombremadre_det_line {height:0px;text-align: left;}
.css_rp01nohijos_det_label {text-align: left;vertical-align: middle;}
.css_rp01nohijos_det_line {height:0px;text-align: left;}
.css_rp01fechahijos0_det_label {text-align: left;vertical-align: middle;}
.css_rp01fechahijos0_det_line {height:0px;text-align: left;}
.css_rp01sexohijos0_det_label {text-align: left;vertical-align: middle;}
.css_rp01sexohijos0_det_line {height:0px;text-align: left;}
.css_rp01fechahijos1_det_label {text-align: left;vertical-align: middle;}
.css_rp01fechahijos1_det_line {height:0px;text-align: left;}
.css_rp01sexohijos1_det_label {text-align: left;vertical-align: middle;}
.css_rp01sexohijos1_det_line {height:0px;text-align: left;}
.css_rp01fechahijos2_det_label {text-align: left;vertical-align: middle;}
.css_rp01fechahijos2_det_line {height:0px;text-align: left;}
.css_rp01sexohijos2_det_label {text-align: left;vertical-align: middle;}
.css_rp01sexohijos2_det_line {height:0px;text-align: left;}
.css_rp01fechahijos3_det_label {text-align: left;vertical-align: middle;}
.css_rp01fechahijos3_det_line {height:0px;text-align: left;}
.css_rp01sexohijos3_det_label {text-align: left;vertical-align: middle;}
.css_rp01sexohijos3_det_line {height:0px;text-align: left;}
.css_rp01fechahijos4_det_label {text-align: left;vertical-align: middle;}
.css_rp01fechahijos4_det_line {height:0px;text-align: left;}
.css_rp01sexohijos4_det_label {text-align: left;vertical-align: middle;}
.css_rp01sexohijos4_det_line {height:0px;text-align: left;}
.css_rp01fechahijos5_det_label {text-align: left;vertical-align: middle;}
.css_rp01fechahijos5_det_line {height:0px;text-align: left;}
.css_rp01sexohijos5_det_label {text-align: left;vertical-align: middle;}
.css_rp01sexohijos5_det_line {height:0px;text-align: left;}
.css_rp01fechahijos6_det_label {text-align: left;vertical-align: middle;}
.css_rp01fechahijos6_det_line {height:0px;text-align: left;}
.css_rp01sexohijos6_det_label {text-align: left;vertical-align: middle;}
.css_rp01sexohijos6_det_line {height:0px;text-align: left;}
.css_rp01fechahijos7_det_label {text-align: left;vertical-align: middle;}
.css_rp01fechahijos7_det_line {height:0px;text-align: left;}
.css_rp01sexohijos7_det_label {text-align: left;vertical-align: middle;}
.css_rp01sexohijos7_det_line {height:0px;text-align: left;}
.css_rp01fechahijos8_det_label {text-align: left;vertical-align: middle;}
.css_rp01fechahijos8_det_line {height:0px;text-align: left;}
.css_rp01sexohijos8_det_label {text-align: left;vertical-align: middle;}
.css_rp01sexohijos8_det_line {height:0px;text-align: left;}
.css_rp01fechahijos9_det_label {text-align: left;vertical-align: middle;}
.css_rp01fechahijos9_det_line {height:0px;text-align: left;}
.css_rp01sexohijos9_det_label {text-align: left;vertical-align: middle;}
.css_rp01sexohijos9_det_line {height:0px;text-align: left;}
.css_rp01cargaspadres_det_label {text-align: left;vertical-align: middle;}
.css_rp01cargaspadres_det_line {height:0px;text-align: left;}
.css_rp01otrascargas_det_label {text-align: left;vertical-align: middle;}
.css_rp01otrascargas_det_line {height:0px;text-align: left;}
.css_rp01formapago_det_label {text-align: left;vertical-align: middle;}
.css_rp01formapago_det_line {height:0px;text-align: left;}
.css_rp01nobancoemp_det_label {text-align: left;vertical-align: middle;}
.css_rp01nobancoemp_det_line {height:0px;text-align: left;}
.css_rp01ctabancoemp_det_label {text-align: left;vertical-align: middle;}
.css_rp01ctabancoemp_det_line {height:0px;text-align: left;}
.css_rp01tipoctabco_det_label {text-align: left;vertical-align: middle;}
.css_rp01tipoctabco_det_line {height:0px;text-align: left;}
.css_rp01fechaultvacacion_det_label {text-align: left;vertical-align: middle;}
.css_rp01fechaultvacacion_det_line {height:0px;text-align: left;}
.css_rp01aporte_det_label {text-align: left;vertical-align: middle;}
.css_rp01aporte_det_line {height:0px;text-align: left;}
.css_rp01socio_det_label {text-align: left;vertical-align: middle;}
.css_rp01socio_det_line {height:0px;text-align: left;}
.css_rp01transporte_det_label {text-align: left;vertical-align: middle;}
.css_rp01transporte_det_line {height:0px;text-align: left;}
.css_rp01recibeporc_det_label {text-align: left;vertical-align: middle;}
.css_rp01recibeporc_det_line {height:0px;text-align: left;}
.css_rp01sueldoanterior_det_label {text-align: left;vertical-align: middle;}
.css_rp01sueldoanterior_det_line {height:0px;text-align: left;}
.css_rp01sueldosalario_det_label {text-align: left;vertical-align: middle;}
.css_rp01sueldosalario_det_line {height:0px;text-align: left;}
.css_rp01fecmodsdosal_det_label {text-align: left;vertical-align: middle;}
.css_rp01fecmodsdosal_det_line {height:0px;text-align: left;}
.css_rp01fecmodficha_det_label {text-align: left;vertical-align: middle;}
.css_rp01fecmodficha_det_line {height:0px;text-align: left;}
.css_rp01faltasinjust_det_label {text-align: left;vertical-align: middle;}
.css_rp01faltasinjust_det_line {height:0px;text-align: left;}
.css_rp01ingresos1er_det_label {text-align: left;vertical-align: middle;}
.css_rp01ingresos1er_det_line {height:0px;text-align: left;}
.css_rp01basesocialvalor_det_label {text-align: left;vertical-align: middle;}
.css_rp01basesocialvalor_det_line {height:0px;text-align: left;}
.css_rp01basesocialtiempo_det_label {text-align: left;vertical-align: middle;}
.css_rp01basesocialtiempo_det_line {height:0px;text-align: left;}
.css_rp0114vopagoacum_det_label {text-align: left;vertical-align: middle;}
.css_rp0114vopagoacum_det_line {height:0px;text-align: left;}
.css_rp0115vopagoacum_det_label {text-align: left;vertical-align: middle;}
.css_rp0115vopagoacum_det_line {height:0px;text-align: left;}
.css_rp01cverrorliq_det_label {text-align: left;vertical-align: middle;}
.css_rp01cverrorliq_det_line {height:0px;text-align: left;}
.css_rp01porcentliq_det_label {text-align: left;vertical-align: middle;}
.css_rp01porcentliq_det_line {height:0px;text-align: left;}
.css_rp01tiposangre_det_label {text-align: left;vertical-align: middle;}
.css_rp01tiposangre_det_line {height:0px;text-align: left;}
.css_rp01ingresos2do_det_label {text-align: left;vertical-align: middle;}
.css_rp01ingresos2do_det_line {height:0px;text-align: left;}
.css_rp01provdiremp_det_label {text-align: left;vertical-align: middle;}
.css_rp01provdiremp_det_line {height:0px;text-align: left;}
.css_rp01cantondiremp_det_label {text-align: left;vertical-align: middle;}
.css_rp01cantondiremp_det_line {height:0px;text-align: left;}
.css_rp01ciudaddiremp_det_label {text-align: left;vertical-align: middle;}
.css_rp01ciudaddiremp_det_line {height:0px;text-align: left;}
.css_rp01codocupacion_det_label {text-align: left;vertical-align: middle;}
.css_rp01codocupacion_det_line {height:0px;text-align: left;}
.css_uid_det_label {text-align: left;vertical-align: middle;}
.css_uid_det_line {height:0px;text-align: left;}
.css_block_det_label {text-align: left;vertical-align: middle;}
.css_block_det_line {height:0px;text-align: left;}
.css_ultimoacceso_det_label {text-align: left;vertical-align: middle;}
.css_ultimoacceso_det_line {height:0px;text-align: left;}
.css_rp01foto_det_label {text-align: left;vertical-align: middle;}
.css_rp01foto_det_line {height:0px;text-align: left;}
.css_rp01ctacontable_det_label {text-align: left;vertical-align: middle;}
.css_rp01ctacontable_det_line {height:0px;text-align: left;}
.css_rp01email_det_label {text-align: left;vertical-align: middle;}
.css_rp01email_det_line {height:0px;text-align: left;}
.css_rp01passwd_det_label {text-align: left;vertical-align: middle;}
.css_rp01passwd_det_line {height:0px;text-align: left;}
.css_rp01huella_det_label {text-align: left;vertical-align: middle;}
.css_rp01huella_det_line {height:0px;text-align: left;}
.css_rp01recibefr_det_label {text-align: left;vertical-align: middle;}
.css_rp01recibefr_det_line {height:0px;text-align: left;}
.css_rp01recibedt_det_label {text-align: left;vertical-align: middle;}
.css_rp01recibedt_det_line {height:0px;text-align: left;}
.css_rp01recibedc_det_label {text-align: left;vertical-align: middle;}
.css_rp01recibedc_det_line {height:0px;text-align: left;}
.css_rp01uid_det_label {text-align: left;vertical-align: middle;}
.css_rp01uid_det_line {height:0px;text-align: left;}
.css_rp01fechauid_det_label {text-align: left;vertical-align: middle;}
.css_rp01fechauid_det_line {height:0px;text-align: left;}
.css_rp01obs_det_label {text-align: left;vertical-align: middle;}
.css_rp01obs_det_line {height:0px;text-align: left;}
.css_rp01cauliq_det_label {text-align: left;vertical-align: middle;}
.css_rp01cauliq_det_line {height:0px;text-align: left;}
.css_rp01discapacidad_det_label {text-align: left;vertical-align: middle;}
.css_rp01discapacidad_det_line {height:0px;text-align: left;}
.css_rp01conadis_det_label {text-align: left;vertical-align: middle;}
.css_rp01conadis_det_line {height:0px;text-align: left;}
.css_rp01tpdiscapacidad_det_label {text-align: left;vertical-align: middle;}
.css_rp01tpdiscapacidad_det_line {height:0px;text-align: left;}
.css_rp01prdiscapacidad_det_label {text-align: left;vertical-align: middle;}
.css_rp01prdiscapacidad_det_line {height:0px;text-align: left;}
.css_rp01freserva_det_label {text-align: left;vertical-align: middle;}
.css_rp01freserva_det_line {height:0px;text-align: left;}
.css_rp01codsectorial_det_label {text-align: left;vertical-align: middle;}
.css_rp01codsectorial_det_line {height:0px;text-align: left;}
.css_anticipoporvalor_det_label {text-align: left;vertical-align: middle;}
.css_anticipoporvalor_det_line {height:0px;text-align: left;}
.css_tipidret_det_label {text-align: left;vertical-align: middle;}
.css_tipidret_det_line {height:0px;text-align: left;}
.css_residenciatrab_det_label {text-align: left;vertical-align: middle;}
.css_residenciatrab_det_line {height:0px;text-align: left;}
.css_paisresidencia_det_label {text-align: left;vertical-align: middle;}
.css_paisresidencia_det_line {height:0px;text-align: left;}
.css_aplicaconvenio_det_label {text-align: left;vertical-align: middle;}
.css_aplicaconvenio_det_line {height:0px;text-align: left;}
.css_tipotrabajdiscap_det_label {text-align: left;vertical-align: middle;}
.css_tipotrabajdiscap_det_line {height:0px;text-align: left;}
.css_porcentajediscap_det_label {text-align: left;vertical-align: middle;}
.css_porcentajediscap_det_line {height:0px;text-align: left;}
.css_tipiddiscap_det_label {text-align: left;vertical-align: middle;}
.css_tipiddiscap_det_line {height:0px;text-align: left;}
.css_iddiscap_det_label {text-align: left;vertical-align: middle;}
.css_iddiscap_det_line {height:0px;text-align: left;}
.css_rp01varias_secciones_det_label {text-align: left;vertical-align: middle;}
.css_rp01varias_secciones_det_line {height:0px;text-align: left;}
.css_rp01cc_det_label {text-align: left;vertical-align: middle;}
.css_rp01cc_det_line {height:0px;text-align: left;}
.css_rp01observacion_det_label {text-align: left;vertical-align: middle;}
.css_rp01observacion_det_line {height:0px;text-align: left;}
.css_rp01iessconyugue_det_label {text-align: left;vertical-align: middle;}
.css_rp01iessconyugue_det_line {height:0px;text-align: left;}
.css_rp01tiporefrigerio_det_label {text-align: left;vertical-align: middle;}
.css_rp01tiporefrigerio_det_line {height:0px;text-align: left;}
.css_idiomas_det_label {text-align: left;vertical-align: middle;}
.css_idiomas_det_line {height:0px;text-align: left;}
.css_emergencias_det_label {text-align: left;vertical-align: middle;}
.css_emergencias_det_line {height:0px;text-align: left;}
.css_rp01tipojornada_det_label {text-align: left;vertical-align: middle;}
.css_rp01tipojornada_det_line {height:0px;text-align: left;}
.css_rp01numero_horas_det_label {text-align: left;vertical-align: middle;}
.css_rp01numero_horas_det_line {height:0px;text-align: left;}
.css_rp01emailpersonal_det_label {text-align: left;vertical-align: middle;}
.css_rp01emailpersonal_det_line {height:0px;text-align: left;}
.css_rp01supervisadopor_det_label {text-align: left;vertical-align: middle;}
.css_rp01supervisadopor_det_line {height:0px;text-align: left;}
.css_rp01zonaderiesgo_det_label {text-align: left;vertical-align: middle;}
.css_rp01zonaderiesgo_det_line {height:0px;text-align: left;}
.css_rp01refpersnom1_det_label {text-align: left;vertical-align: middle;}
.css_rp01refpersnom1_det_line {height:0px;text-align: left;}
.css_rp01refpersparen1_det_label {text-align: left;vertical-align: middle;}
.css_rp01refpersparen1_det_line {height:0px;text-align: left;}
.css_rp01refperstel1_det_label {text-align: left;vertical-align: middle;}
.css_rp01refperstel1_det_line {height:0px;text-align: left;}
.css_rp01refpersnom2_det_label {text-align: left;vertical-align: middle;}
.css_rp01refpersnom2_det_line {height:0px;text-align: left;}
.css_rp01refpersparen2_det_label {text-align: left;vertical-align: middle;}
.css_rp01refpersparen2_det_line {height:0px;text-align: left;}
.css_rp01refperstel2_det_label {text-align: left;vertical-align: middle;}
.css_rp01refperstel2_det_line {height:0px;text-align: left;}
.css_rp01tipovivienda_det_label {text-align: left;vertical-align: middle;}
.css_rp01tipovivienda_det_line {height:0px;text-align: left;}
.css_rp01serviciosbasicos_det_label {text-align: left;vertical-align: middle;}
.css_rp01serviciosbasicos_det_line {height:0px;text-align: left;}
.css_rp01viviendadetalle_det_label {text-align: left;vertical-align: middle;}
.css_rp01viviendadetalle_det_line {height:0px;text-align: left;}
.css_rp01dormitorios_det_label {text-align: left;vertical-align: middle;}
.css_rp01dormitorios_det_line {height:0px;text-align: left;}
.css_rp01sala_det_label {text-align: left;vertical-align: middle;}
.css_rp01sala_det_line {height:0px;text-align: left;}
.css_rp01comedor_det_label {text-align: left;vertical-align: middle;}
.css_rp01comedor_det_line {height:0px;text-align: left;}
.css_rp01banos_det_label {text-align: left;vertical-align: middle;}
.css_rp01banos_det_line {height:0px;text-align: left;}
.css_rp01estudiosrealizados_det_label {text-align: left;vertical-align: middle;}
.css_rp01estudiosrealizados_det_line {height:0px;text-align: left;}
.css_rp01ruta1_det_label {text-align: left;vertical-align: middle;}
.css_rp01ruta1_det_line {height:0px;text-align: left;}
.css_rp01ruta2_det_label {text-align: left;vertical-align: middle;}
.css_rp01ruta2_det_line {height:0px;text-align: left;}
.css_rp01ruta3_det_label {text-align: left;vertical-align: middle;}
.css_rp01ruta3_det_line {height:0px;text-align: left;}
.css_rp01actividadesextras_det_label {text-align: left;vertical-align: middle;}
.css_rp01actividadesextras_det_line {height:0px;text-align: left;}
