.css_opcion_grid_line {font-family:Helvetica, Arial, sans-serif;font-size:16px;font-weight:bold;vertical-align: top;text-align: right;}
.css_submenu_grid_line {text-align: center;}
.css_mm_grid_line {vertical-align: top;text-align: right;}
.css_opc_grid_line {vertical-align: top;text-align: right;}
.css_rg_grid_line {vertical-align: top;text-align: right;}
.css_accion_grid_line {vertical-align: top;text-align: right;}
.css_users_grid_line {vertical-align: top;text-align: right;}
