.css_codrfid_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codrfid_grid_line {vertical-align: top;text-align: left;}
.css_fechacompra_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechacompra_grid_line {vertical-align: top;text-align: center;}
.css_ultfechauso_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_ultfechauso_grid_line {vertical-align: top;text-align: center;}
.css_tokens_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tokens_grid_line {color:#FFFFFF;font-family:Verdana, Arial, sans-serif;font-size:26px;background-color:#006600;font-weight:bold;vertical-align: top;text-align: center;}
.css_fecha_registro_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_registro_grid_line {vertical-align: top;text-align: center;}
.css_estado_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_estado_grid_line {vertical-align: top;text-align: right;}
.css_fecha_activacion_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_activacion_grid_line {vertical-align: top;text-align: center;}
.css_codproducto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codproducto_grid_line {vertical-align: top;text-align: left;}
.css_cantidad_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cantidad_grid_line {vertical-align: top;text-align: right;}
.css_detalle_grid_line {text-align: center;}
