.css_id_sales_detail__label {text-align:;}
.css_id_sales_detail__line {text-align:left;}
.css_id_sales_detail__obj {text-align:left;}
.css_unit_value__label {text-align:;}
.css_unit_value__line {text-align:left;}
.css_unit_value__obj {text-align:left;}
.css_quantity__label {text-align:;}
.css_quantity__line {text-align:left;}
.css_quantity__obj {text-align:left;}
.css_discount__label {text-align:;}
.css_discount__line {text-align:left;}
.css_discount__obj {text-align:left;}
.css_item_total__label {text-align:;}
.css_item_total__line {text-align:left;}
.css_item_total__obj {text-align:left;}
.css_id_product__label { }
.css_id_product__line {text-align:left;}
.css_id_product__obj {text-align:left;}
