.css_idturno_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idturno_grid_line {vertical-align: top;text-align: right;}
.css_fecha_apertura_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_apertura_grid_line {vertical-align: top;text-align: center;}
.css_fondo_inicial_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_fondo_inicial_grid_line {vertical-align: top;text-align: right;}
.css_continuar_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_continuar_grid_line {text-align: center;}
.css_idempleado_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idempleado_grid_line {vertical-align: top;text-align: right;}
.css_idcaja_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idcaja_grid_line {vertical-align: top;text-align: right;}
.css_estado_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_estado_grid_line {vertical-align: top;text-align: right;}
