.css_idtipo__label {text-align:;}
.css_idtipo__line {text-align:left;}
.css_idtipo__obj {text-align:left;}
.css_descrip__label { }
.css_descrip__line { }
.css_descrip__obj { }
.css_valor__label {text-align:;}
.css_valor__line {text-align:left;}
.css_valor__obj {text-align:left;}
