.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_codigo_det_label {text-align: left;vertical-align: middle;}
.css_codigo_det_line {height:0px;text-align: left;}
.css_numero_det_label {text-align: left;vertical-align: middle;}
.css_numero_det_line {height:0px;text-align: left;}
.css_codigo_principal_det_label {text-align: left;vertical-align: middle;}
.css_codigo_principal_det_line {height:0px;text-align: left;}
.css_linea_det_label {text-align: left;vertical-align: middle;}
.css_linea_det_line {height:0px;text-align: left;}
.css_descripcion_det_label {text-align: left;vertical-align: middle;}
.css_descripcion_det_line {height:0px;text-align: left;}
.css_cantidad_det_label {text-align: left;vertical-align: middle;}
.css_cantidad_det_line {height:0px;text-align: left;}
.css_precio_unitario_det_label {text-align: left;vertical-align: middle;}
.css_precio_unitario_det_line {height:0px;text-align: left;}
.css_codigo_porcentaje_det_label {text-align: left;vertical-align: middle;}
.css_codigo_porcentaje_det_line {height:0px;text-align: left;}
.css_porcentaje_iva_det_label {text-align: left;vertical-align: middle;}
.css_porcentaje_iva_det_line {height:0px;text-align: left;}
.css_valor_iva_det_label {text-align: left;vertical-align: middle;}
.css_valor_iva_det_line {height:0px;text-align: left;}
.css_descuento_det_label {text-align: left;vertical-align: middle;}
.css_descuento_det_line {height:0px;text-align: left;}
.css_precio_total_sin_impuesto_det_label {text-align: left;vertical-align: middle;}
.css_precio_total_sin_impuesto_det_line {height:0px;text-align: left;}
