.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_codigo_det_label {text-align: right;vertical-align: middle;}
.css_codigo_det_line {height:0px;text-align: right;}
.css_numero_det_label {text-align: right;vertical-align: middle;}
.css_numero_det_line {height:0px;text-align: right;}
.css_forma_pago_det_label {text-align: right;vertical-align: middle;}
.css_forma_pago_det_line {height:0px;text-align: right;}
.css_forma_pago_descripcion_det_label {text-align: right;vertical-align: middle;}
.css_forma_pago_descripcion_det_line {height:0px;text-align: right;}
.css_total_det_label {text-align: right;vertical-align: middle;}
.css_total_det_line {height:0px;text-align: right;}
.css_plazo_det_label {text-align: right;vertical-align: middle;}
.css_plazo_det_line {height:0px;text-align: right;}
.css_tiempo_det_label {text-align: right;vertical-align: middle;}
.css_tiempo_det_line {height:0px;text-align: right;}
