.css_valor__label { }
.css_valor__line {text-align:left;}
.css_valor__obj {text-align:left;}
.css_observacion__label { }
.css_observacion__line { }
.css_observacion__obj { }
.css_tipoe__label { }
.css_tipoe__line {text-align:left;}
.css_tipoe__obj {text-align:left;}
.css_percod__label { }
.css_percod__line { }
.css_percod__obj { }
