.css_id_purchase_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_id_purchase_grid_line {vertical-align: top;text-align: center;}
.css_datepurchase_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_datepurchase_grid_line {vertical-align: top;text-align: center;}
.css_total_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_total_grid_line {vertical-align: top;text-align: center;}
.css_id_supplier_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_id_supplier_grid_line {vertical-align: top;text-align: center;}
.css_id_status_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_id_status_grid_line {vertical-align: top;text-align: center;}
.css_factura_proveedor_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_factura_proveedor_grid_line {vertical-align: top;text-align: right;}
.css_comment_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_comment_grid_line {vertical-align: top;text-align: right;}
.css_detalle_grid_line {text-align: center;}
