.css_pdf_blob_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pdf_blob_grid_line {vertical-align: top;text-align: left;}
.css_pdf_filename_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pdf_filename_grid_line {vertical-align: top;text-align: left;}
.css_pdf_size_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_pdf_size_grid_line {vertical-align: top;text-align: right;}
.css_fechareg_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechareg_grid_line {vertical-align: top;text-align: center;}
