.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_documento_det_label {text-align: left;vertical-align: middle;}
.css_documento_det_line {height:0px;text-align: left;}
.css_nombre_det_label {text-align: left;vertical-align: middle;}
.css_nombre_det_line {height:0px;text-align: left;}
.css_valor_det_label {text-align: left;vertical-align: middle;}
.css_valor_det_line {height:0px;text-align: left;}
