.css_numcaja__label {text-align:;}
.css_numcaja__line {text-align:left;}
.css_numcaja__obj {text-align:left;}
.css_serie__label { }
.css_serie__line { }
.css_serie__obj { }
.css_numero__label {text-align:;}
.css_numero__line {text-align:left;}
.css_numero__obj {text-align:left;}
.css_prodentrega__label {text-align:;}
.css_prodentrega__line {text-align:left;}
.css_prodentrega__obj {text-align:left;}
.css_estab__label { }
.css_estab__line { }
.css_estab__obj { }
.css_ptoemi__label { }
.css_ptoemi__line { }
.css_ptoemi__obj { }
.css_direstablecimiento__label { }
.css_direstablecimiento__line { }
.css_direstablecimiento__obj { }
.css_tipoambiente__label { }
.css_tipoambiente__line { }
.css_tipoambiente__obj { }
.css_tipoemision__label { }
.css_tipoemision__line { }
.css_tipoemision__obj { }
.css_rucem__label { }
.css_rucem__line { }
.css_rucem__obj { }
.css_dirmatriz__label { }
.css_dirmatriz__line { }
.css_dirmatriz__obj { }
.css_nombrecomercial__label { }
.css_nombrecomercial__line { }
.css_nombrecomercial__obj { }
.css_coddoc__label { }
.css_coddoc__line { }
.css_coddoc__obj { }
.css_razonsocial__label { }
.css_razonsocial__line { }
.css_razonsocial__obj { }
.css_rfid_estado__label { }
.css_rfid_estado__line {text-align:left;}
.css_rfid_estado__obj {text-align:left;}
.css_rfid_fecha__label { }
.css_rfid_fecha__line { }
.css_rfid_fecha__obj { }
.css_rfid_read__label { }
.css_rfid_read__line { }
.css_rfid_read__obj { }
.css_ult_rfid__label { }
.css_ult_rfid__line { }
.css_ult_rfid__obj { }
