.css_id_purchase_detail__label {text-align:;}
.css_id_purchase_detail__line {text-align:left;}
.css_id_purchase_detail__obj {text-align:left;}
.css_unit_cost__label { }
.css_unit_cost__line {text-align:left;}
.css_unit_cost__obj {text-align:left;}
.css_quantity__label { }
.css_quantity__line {text-align:left;}
.css_quantity__obj {text-align:left;}
.css_id_product__label { }
.css_id_product__line {text-align:left;}
.css_id_product__obj {text-align:left;}
.css_total__label {text-align:right;}
.css_total__line {text-align:right;}
.css_total__obj {text-align:right;}
