.css_product_name_label { }
.css_product_name_line { }
.css_product_name_obj { }
.css_product_code_label { }
.css_product_code_line { }
.css_product_code_obj { }
.css_id_status_label { }
.css_id_status_line {text-align:left;}
.css_id_status_obj {text-align:left;}
.css_dateproduct_label { }
.css_dateproduct_line { }
.css_dateproduct_obj { }
.css_product_value_label { }
.css_product_value_line {text-align:left;}
.css_product_value_obj {text-align:left;}
.css_product_cost_label { }
.css_product_cost_line {text-align:left;}
.css_product_cost_obj {text-align:left;}
.css_discount_label { }
.css_discount_line {text-align:left;}
.css_discount_obj {text-align:left;}
.css_stock_label { }
.css_stock_line {text-align:left;}
.css_stock_obj {text-align:left;}
.css_id_category_label { }
.css_id_category_line {text-align:left;}
.css_id_category_obj {text-align:left;}
.css_image_label { }
.css_image_line { }
.css_image_obj { }
.css_service_label { }
.css_service_line {text-align:left;}
.css_service_obj {text-align:left;}
.css_kiosko_label { }
.css_kiosko_line {text-align:left;}
.css_kiosko_obj {text-align:left;}
.css_entrada_label { }
.css_entrada_line {text-align:left;}
.css_entrada_obj {text-align:left;}
.css_jugador_label { }
.css_jugador_line {text-align:left;}
.css_jugador_obj {text-align:left;}
.css_visitante_label { }
.css_visitante_line {text-align:left;}
.css_visitante_obj {text-align:left;}
.css_tarjeta_label { }
.css_tarjeta_line {text-align:left;}
.css_tarjeta_obj {text-align:left;}
.css_minutos_label { }
.css_minutos_line {text-align:left;}
.css_minutos_obj {text-align:left;}
.css_tokens_label { }
.css_tokens_line {text-align:left;}
.css_tokens_obj {text-align:left;}
.css_comida_label { }
.css_comida_line {text-align:left;}
.css_comida_obj {text-align:left;}
.css_score_label { }
.css_score_line {text-align:left;}
.css_score_obj {text-align:left;}
.css_poriva_label { }
.css_poriva_line {text-align:left;}
.css_poriva_obj {text-align:left;}
.css_cuentaventa_label { }
.css_cuentaventa_line { }
.css_cuentaventa_obj { }
.css_unidad_label { }
.css_unidad_line { }
.css_unidad_obj { }
.css_tipoitem_label { }
.css_tipoitem_line { }
.css_tipoitem_obj { }
.css_cuentacompra_label { }
.css_cuentacompra_line { }
.css_cuentacompra_obj { }
.css_precioventa_label { }
.css_precioventa_line {text-align:left;}
.css_precioventa_obj {text-align:left;}
.css_puntoventa_label { }
.css_puntoventa_line {text-align:left;}
.css_puntoventa_obj {text-align:left;}
.css_orden_label { }
.css_orden_line {text-align:left;}
.css_orden_obj {text-align:left;}
.css_clubmrjoy_label { }
.css_clubmrjoy_line {text-align:left;}
.css_clubmrjoy_obj {text-align:left;}
.css_combos_recetas_label { }
.css_combos_recetas_line { }
.css_combos_recetas_obj { }
