.css_imagen_grid_line {vertical-align: top;text-align: left;}
.css_valor_grid_line {font-family:Geneva, Arial, sans-serif;font-size:18px;font-weight:bold;vertical-align: top;text-align: right;}
.css_idpay_grid_line {vertical-align: top;text-align: right;}
.css_uniqueid_grid_line {vertical-align: top;text-align: left;}
.css_idpago_grid_line {color:#FFFFFF;font-family:Geneva, Arial, sans-serif;font-size:16px;font-weight:bold;vertical-align: top;text-align: left;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_infoapi_grid_line {vertical-align: top;text-align: left;}
