.css_iddoc_det_label {text-align: right;vertical-align: middle;}
.css_iddoc_det_line {height:0px;text-align: right;}
.css_idcliente_det_label {text-align: right;vertical-align: middle;}
.css_idcliente_det_line {height:0px;text-align: right;}
.css_fecha_afiliacion_det_label {text-align: right;vertical-align: middle;}
.css_fecha_afiliacion_det_line {height:0px;text-align: right;}
.css_local_centro_det_label {text-align: right;vertical-align: middle;}
.css_local_centro_det_line {height:0px;text-align: right;}
.css_fecha_caducidad_det_label {text-align: right;vertical-align: middle;}
.css_fecha_caducidad_det_line {height:0px;text-align: right;}
.css_valor_det_label {text-align: right;vertical-align: middle;}
.css_valor_det_line {height:0px;text-align: right;}
.css_tipo_sub_det_label {text-align: right;vertical-align: middle;}
.css_tipo_sub_det_line {height:0px;text-align: right;}
