.css_idlinea_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idlinea_grid_line {vertical-align: top;text-align: right;}
.css_codigoprincipal_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigoprincipal_grid_line {vertical-align: top;text-align: right;}
.css_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_grid_line {vertical-align: top;text-align: right;}
.css_cantidad_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cantidad_grid_line {vertical-align: top;text-align: right;}
.css_preciounitario_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_preciounitario_grid_line {vertical-align: top;text-align: right;}
.css_preciototalsinimpuesto_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_preciototalsinimpuesto_grid_line {vertical-align: top;text-align: right;}
.css_preciototalsinimpuesto_tot_ger {text-align: right;}
.css_impuestos_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_impuestos_grid_line {text-align: center;}
.css_claveacceso_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_claveacceso_grid_line {vertical-align: top;text-align: right;}
