.css_idlinea_det_label {text-align: left;vertical-align: middle;}
.css_idlinea_det_line {height:0px;text-align: left;}
.css_claveacceso_det_label {text-align: left;vertical-align: middle;}
.css_claveacceso_det_line {height:0px;text-align: left;}
.css_codigoprincipal_det_label {text-align: left;vertical-align: middle;}
.css_codigoprincipal_det_line {height:0px;text-align: left;}
.css_descripcion_det_label {text-align: left;vertical-align: middle;}
.css_descripcion_det_line {height:0px;text-align: left;}
.css_cantidad_det_label {text-align: left;vertical-align: middle;}
.css_cantidad_det_line {height:0px;text-align: left;}
.css_preciounitario_det_label {text-align: left;vertical-align: middle;}
.css_preciounitario_det_line {height:0px;text-align: left;}
.css_descuento_det_label {text-align: left;vertical-align: middle;}
.css_descuento_det_line {height:0px;text-align: left;}
.css_preciototalsinimpuesto_det_label {text-align: left;vertical-align: middle;}
.css_preciototalsinimpuesto_det_line {height:0px;text-align: left;}
