.css_ctahiscon_label { }
.css_ctahiscon_line { }
.css_ctahiscon_obj { }
.css_fechahis_label { }
.css_fechahis_line { }
.css_fechahis_obj { }
.css_tipocomptehis_label { }
.css_tipocomptehis_line { }
.css_tipocomptehis_obj { }
.css_numcomptehis_label { }
.css_numcomptehis_line { }
.css_numcomptehis_obj { }
.css_ocurrenciahis_label { }
.css_ocurrenciahis_line { }
.css_ocurrenciahis_obj { }
.css_nochequehis_label { }
.css_nochequehis_line { }
.css_nochequehis_obj { }
.css_dethis_label { }
.css_dethis_line { }
.css_dethis_obj { }
.css_db1cr2his_label { }
.css_db1cr2his_line { }
.css_db1cr2his_obj { }
.css_valorhis_label { }
.css_valorhis_line {text-align:left;}
.css_valorhis_obj {text-align:left;}
.css_sdoctahis_label { }
.css_sdoctahis_line {text-align:left;}
.css_sdoctahis_obj {text-align:left;}
.css_uid_label { }
.css_uid_line { }
.css_uid_obj { }
.css_estado_label { }
.css_estado_line { }
.css_estado_obj { }
.css_cvtransferhis_label { }
.css_cvtransferhis_line { }
.css_cvtransferhis_obj { }
.css_ctamodulo_label { }
.css_ctamodulo_line { }
.css_ctamodulo_obj { }
.css_doccons_label { }
.css_doccons_line { }
.css_doccons_obj { }
.css_beneficiario_label { }
.css_beneficiario_line { }
.css_beneficiario_obj { }
.css_conciliado_label { }
.css_conciliado_line { }
.css_conciliado_obj { }
.css_codcons_label { }
.css_codcons_line { }
.css_codcons_obj { }
.css_manualcons_label { }
.css_manualcons_line { }
.css_manualcons_obj { }
.css_cerradocons_label { }
.css_cerradocons_line {text-align:left;}
.css_cerradocons_obj {text-align:left;}
.css_fechconciliado_label { }
.css_fechconciliado_line { }
.css_fechconciliado_obj { }
.css_fechcerrado_label { }
.css_fechcerrado_line { }
.css_fechcerrado_obj { }
.css_tipocomptehis_cierre_label { }
.css_tipocomptehis_cierre_line { }
.css_tipocomptehis_cierre_obj { }
.css_cc01_label { }
.css_cc01_line { }
.css_cc01_obj { }
.css_cc02_label { }
.css_cc02_line { }
.css_cc02_obj { }
.css_cc03_label { }
.css_cc03_line { }
.css_cc03_obj { }
.css_cc04_label { }
.css_cc04_line { }
.css_cc04_obj { }
.css_cc05_label { }
.css_cc05_line { }
.css_cc05_obj { }
.css_pord_label { }
.css_pord_line {text-align:left;}
.css_pord_obj {text-align:left;}
.css_idb_label { }
.css_idb_line { }
.css_idb_obj { }
.css_tipodoc_label { }
.css_tipodoc_line { }
.css_tipodoc_obj { }
.css_numdoc_label { }
.css_numdoc_line { }
.css_numdoc_obj { }
.css_modulo_label { }
.css_modulo_line { }
.css_modulo_obj { }
.css_cvanuladohis_label { }
.css_cvanuladohis_line { }
.css_cvanuladohis_obj { }
.css_identificacion_label { }
.css_identificacion_line { }
.css_identificacion_obj { }
.css_estado_anio_label { }
.css_estado_anio_line { }
.css_estado_anio_obj { }
.css_numcomptehis_cierre_label { }
.css_numcomptehis_cierre_line { }
.css_numcomptehis_cierre_obj { }
