.css_tipodocto31_det_label {text-align: left;vertical-align: middle;}
.css_tipodocto31_det_line {height:0px;text-align: left;}
.css_nofact31_det_label {text-align: left;vertical-align: middle;}
.css_nofact31_det_line {height:0px;text-align: left;}
.css_nocte31_det_label {text-align: left;vertical-align: middle;}
.css_nocte31_det_line {height:0px;text-align: left;}
.css_nomcte31_det_label {text-align: left;vertical-align: middle;}
.css_nomcte31_det_line {height:0px;text-align: left;}
.css_localid31_det_label {text-align: left;vertical-align: middle;}
.css_localid31_det_line {height:0px;text-align: left;}
.css_cvectenegro31_det_label {text-align: left;vertical-align: middle;}
.css_cvectenegro31_det_line {height:0px;text-align: left;}
.css_vtabta31_det_label {text-align: left;vertical-align: middle;}
.css_vtabta31_det_line {height:0px;text-align: left;}
.css_descto31_det_label {text-align: left;vertical-align: middle;}
.css_descto31_det_line {height:0px;text-align: left;}
.css_flete31_det_label {text-align: left;vertical-align: middle;}
.css_flete31_det_line {height:0px;text-align: left;}
.css_itm31_det_label {text-align: left;vertical-align: middle;}
.css_itm31_det_line {height:0px;text-align: left;}
.css_novend31_det_label {text-align: left;vertical-align: middle;}
.css_novend31_det_line {height:0px;text-align: left;}
.css_fecfact31_det_label {text-align: left;vertical-align: middle;}
.css_fecfact31_det_line {height:0px;text-align: left;}
.css_condpag31_det_label {text-align: left;vertical-align: middle;}
.css_condpag31_det_line {height:0px;text-align: left;}
.css_nopagos31_det_label {text-align: left;vertical-align: middle;}
.css_nopagos31_det_line {height:0px;text-align: left;}
.css_formapago31_det_label {text-align: left;vertical-align: middle;}
.css_formapago31_det_line {height:0px;text-align: left;}
.css_obra31_det_label {text-align: left;vertical-align: middle;}
.css_obra31_det_line {height:0px;text-align: left;}
.css_orden31_det_label {text-align: left;vertical-align: middle;}
.css_orden31_det_line {height:0px;text-align: left;}
.css_cvnegra31_det_label {text-align: left;vertical-align: middle;}
.css_cvnegra31_det_line {height:0px;text-align: left;}
.css_status31_det_label {text-align: left;vertical-align: middle;}
.css_status31_det_line {height:0px;text-align: left;}
.css_cvimpto31_det_label {text-align: left;vertical-align: middle;}
.css_cvimpto31_det_line {height:0px;text-align: left;}
.css_cvanulado31_det_label {text-align: left;vertical-align: middle;}
.css_cvanulado31_det_line {height:0px;text-align: left;}
.css_efectivo31_det_label {text-align: left;vertical-align: middle;}
.css_efectivo31_det_line {height:0px;text-align: left;}
.css_cheque31_det_label {text-align: left;vertical-align: middle;}
.css_cheque31_det_line {height:0px;text-align: left;}
.css_tarjeta31_det_label {text-align: left;vertical-align: middle;}
.css_tarjeta31_det_line {height:0px;text-align: left;}
.css_acuenta31_det_label {text-align: left;vertical-align: middle;}
.css_acuenta31_det_line {height:0px;text-align: left;}
.css_nobanco31_det_label {text-align: left;vertical-align: middle;}
.css_nobanco31_det_line {height:0px;text-align: left;}
.css_nombanco31_det_label {text-align: left;vertical-align: middle;}
.css_nombanco31_det_line {height:0px;text-align: left;}
.css_nocheque31_det_label {text-align: left;vertical-align: middle;}
.css_nocheque31_det_line {height:0px;text-align: left;}
.css_notarjeta31_det_label {text-align: left;vertical-align: middle;}
.css_notarjeta31_det_line {height:0px;text-align: left;}
.css_nomtarjeta31_det_label {text-align: left;vertical-align: middle;}
.css_nomtarjeta31_det_line {height:0px;text-align: left;}
.css_cvdivisa31_det_label {text-align: left;vertical-align: middle;}
.css_cvdivisa31_det_line {height:0px;text-align: left;}
.css_valdivisa31_det_label {text-align: left;vertical-align: middle;}
.css_valdivisa31_det_line {height:0px;text-align: left;}
.css_lineaprod31_det_label {text-align: left;vertical-align: middle;}
.css_lineaprod31_det_line {height:0px;text-align: left;}
.css_intereses31_det_label {text-align: left;vertical-align: middle;}
.css_intereses31_det_line {height:0px;text-align: left;}
.css_nopedido31_det_label {text-align: left;vertical-align: middle;}
.css_nopedido31_det_line {height:0px;text-align: left;}
.css_fecped31_det_label {text-align: left;vertical-align: middle;}
.css_fecped31_det_line {height:0px;text-align: left;}
.css_ruc31_det_label {text-align: left;vertical-align: middle;}
.css_ruc31_det_line {height:0px;text-align: left;}
.css_tel31_det_label {text-align: left;vertical-align: middle;}
.css_tel31_det_line {height:0px;text-align: left;}
.css_transpor31_det_label {text-align: left;vertical-align: middle;}
.css_transpor31_det_line {height:0px;text-align: left;}
.css_cvtransfer31_det_label {text-align: left;vertical-align: middle;}
.css_cvtransfer31_det_line {height:0px;text-align: left;}
.css_fectrasfer31_det_label {text-align: left;vertical-align: middle;}
.css_fectrasfer31_det_line {height:0px;text-align: left;}
.css_desctofp31_det_label {text-align: left;vertical-align: middle;}
.css_desctofp31_det_line {height:0px;text-align: left;}
.css_catcte31_det_label {text-align: left;vertical-align: middle;}
.css_catcte31_det_line {height:0px;text-align: left;}
.css_uid_det_label {text-align: left;vertical-align: middle;}
.css_uid_det_line {height:0px;text-align: left;}
.css_recargos31_det_label {text-align: left;vertical-align: middle;}
.css_recargos31_det_line {height:0px;text-align: left;}
.css_ice31_det_label {text-align: left;vertical-align: middle;}
.css_ice31_det_line {height:0px;text-align: left;}
.css_fecdocpr31_det_label {text-align: left;vertical-align: middle;}
.css_fecdocpr31_det_line {height:0px;text-align: left;}
.css_tipocomp31_det_label {text-align: left;vertical-align: middle;}
.css_tipocomp31_det_line {height:0px;text-align: left;}
.css_conta31_det_label {text-align: left;vertical-align: middle;}
.css_conta31_det_line {height:0px;text-align: left;}
.css_fecvencidocpr_det_label {text-align: left;vertical-align: middle;}
.css_fecvencidocpr_det_line {height:0px;text-align: left;}
.css_totsiniva31_det_label {text-align: left;vertical-align: middle;}
.css_totsiniva31_det_line {height:0px;text-align: left;}
.css_fecemb_det_label {text-align: left;vertical-align: middle;}
.css_fecemb_det_line {height:0px;text-align: left;}
.css_norefrendo_det_label {text-align: left;vertical-align: middle;}
.css_norefrendo_det_line {height:0px;text-align: left;}
.css_baseice_det_label {text-align: left;vertical-align: middle;}
.css_baseice_det_line {height:0px;text-align: left;}
.css_ncodret43_det_label {text-align: left;vertical-align: middle;}
.css_ncodret43_det_line {height:0px;text-align: left;}
.css_nbaseret43_det_label {text-align: left;vertical-align: middle;}
.css_nbaseret43_det_line {height:0px;text-align: left;}
.css_npctjeret43_det_label {text-align: left;vertical-align: middle;}
.css_npctjeret43_det_line {height:0px;text-align: left;}
.css_contrato_det_label {text-align: left;vertical-align: middle;}
.css_contrato_det_line {height:0px;text-align: left;}
.css_compra_general_det_label {text-align: left;vertical-align: middle;}
.css_compra_general_det_line {height:0px;text-align: left;}
.css_distribucion_rubros_det_label {text-align: left;vertical-align: middle;}
.css_distribucion_rubros_det_line {height:0px;text-align: left;}
.css_dstoley_det_label {text-align: left;vertical-align: middle;}
.css_dstoley_det_line {height:0px;text-align: left;}
.css_remgas31_det_label {text-align: left;vertical-align: middle;}
.css_remgas31_det_line {height:0px;text-align: left;}
.css_estado_electronico_det_label {text-align: left;vertical-align: middle;}
.css_estado_electronico_det_line {height:0px;text-align: left;}
.css_coddest31_det_label {text-align: left;vertical-align: middle;}
.css_coddest31_det_line {height:0px;text-align: left;}
