.css_tipodocto31_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipodocto31_grid_line {vertical-align: top;text-align: right;}
.css_nofact31_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nofact31_grid_line {vertical-align: top;text-align: right;}
.css_nocte31_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nocte31_grid_line {vertical-align: top;text-align: right;}
.css_nomcte31_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nomcte31_grid_line {vertical-align: top;text-align: right;}
.css_localid31_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_localid31_grid_line {vertical-align: top;text-align: right;}
.css_cvectenegro31_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cvectenegro31_grid_line {vertical-align: top;text-align: right;}
