.css_username_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_username_grid_line {vertical-align: top;text-align: right;}
.css_first_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_first_name_grid_line {vertical-align: top;text-align: right;}
.css_puntos_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_puntos_grid_line {color:#66FF00;font-family:Courier New, Courier, mono;font-size:24px;font-weight:bold;vertical-align: top;text-align: right;}
.css_date_register_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_date_register_grid_line {vertical-align: top;text-align: center;}
.css_last_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_last_name_grid_line {vertical-align: top;text-align: right;}
.css_email_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_email_grid_line {vertical-align: top;text-align: right;}
.css_password_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_password_grid_line {vertical-align: top;text-align: right;}
.css_doc_type_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_doc_type_grid_line {vertical-align: top;text-align: right;}
