.css_id_sales_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_sales_grid_line {vertical-align: top;text-align: right;}
.css_sales_price_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sales_price_grid_line {vertical-align: top;text-align: right;}
.css_sales_discount_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sales_discount_grid_line {vertical-align: top;text-align: right;}
.css_total_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_total_grid_line {vertical-align: top;text-align: right;}
.css_datesales_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_datesales_grid_line {vertical-align: top;text-align: center;}
.css_id_status_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_status_grid_line {vertical-align: top;text-align: right;}
