.css_NM_Count_cnt_field {text-align: right}
.css_item_total_sum_label {text-align: right; vertical-align: top}
.css_item_total_sum_field {text-align: right; vertical-align: top}
.css_quantity_sum_label {text-align: right; vertical-align: top}
.css_quantity_sum_field {text-align: right; vertical-align: top}
