.css_fecha_label {text-align:left;}
.css_fecha_grid_line {vertical-align: top;}
.css_idproducto_label {text-align:left;}
.css_idproducto_grid_line {font-family:Helvetica, Arial, sans-serif;font-size:14px;font-weight:bold;vertical-align: top;}
.css_cantidad_label {text-align:left;}
.css_cantidad_grid_line {vertical-align: top;}
.css_promedio_califica_label {text-align:left;}
.css_promedio_califica_grid_line {font-family:Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;vertical-align: top;}
.css_califica_label {text-align:left;}
.css_califica_grid_line {vertical-align: top;}
