.css_NM_Count_cnt_field {text-align: right}
.css_cantidad_avg_label {text-align: right; vertical-align: top}
.css_cantidad_avg_field {text-align: right; vertical-align: top}
.css_promedio_califica_avg_label {text-align: right; vertical-align: top}
.css_promedio_califica_avg_field {text-align: right; vertical-align: top}
