.css_codcte01_label { }
.css_codcte01_line { }
.css_codcte01_obj { }
.css_nomcte01_label { }
.css_nomcte01_line { }
.css_nomcte01_obj { }
.css_cv1cte01_label { }
.css_cv1cte01_line { }
.css_cv1cte01_obj { }
.css_cv2cte01_label { }
.css_cv2cte01_line { }
.css_cv2cte01_obj { }
.css_tipcte01_label { }
.css_tipcte01_line { }
.css_tipcte01_obj { }
.css_ofienccte01_label { }
.css_ofienccte01_line { }
.css_ofienccte01_obj { }
.css_vendcte01_label { }
.css_vendcte01_line { }
.css_vendcte01_obj { }
.css_cobrcte01_label { }
.css_cobrcte01_line { }
.css_cobrcte01_obj { }
.css_loccte01_label { }
.css_loccte01_line { }
.css_loccte01_obj { }
.css_dircte01_label { }
.css_dircte01_line { }
.css_dircte01_obj { }
.css_telcte01_label { }
.css_telcte01_line { }
.css_telcte01_obj { }
.css_cascte01_label { }
.css_cascte01_line { }
.css_cascte01_obj { }
.css_fecing01_label { }
.css_fecing01_line { }
.css_fecing01_obj { }
.css_condpag01_label { }
.css_condpag01_line { }
.css_condpag01_obj { }
.css_desctocte01_label { }
.css_desctocte01_line {text-align:left;}
.css_desctocte01_obj {text-align:left;}
.css_limcred01_label { }
.css_limcred01_line {text-align:left;}
.css_limcred01_obj {text-align:left;}
.css_desppar01_label { }
.css_desppar01_line { }
.css_desppar01_obj { }
.css_cheqpro01_label { }
.css_cheqpro01_line {text-align:left;}
.css_cheqpro01_obj {text-align:left;}
.css_sdoeje01_label { }
.css_sdoeje01_line {text-align:left;}
.css_sdoeje01_obj {text-align:left;}
.css_sdoant01_label { }
.css_sdoant01_line {text-align:left;}
.css_sdoant01_obj {text-align:left;}
.css_sdoact01_label { }
.css_sdoact01_line {text-align:left;}
.css_sdoact01_obj {text-align:left;}
.css_acudbm01_label { }
.css_acudbm01_line {text-align:left;}
.css_acudbm01_obj {text-align:left;}
.css_acucrm01_label { }
.css_acucrm01_line {text-align:left;}
.css_acucrm01_obj {text-align:left;}
.css_acudbe01_label { }
.css_acudbe01_line {text-align:left;}
.css_acudbe01_obj {text-align:left;}
.css_acucre01_label { }
.css_acucre01_line {text-align:left;}
.css_acucre01_obj {text-align:left;}
.css_comentcte01_label { }
.css_comentcte01_line { }
.css_comentcte01_obj { }
.css_statuscte01_label { }
.css_statuscte01_line { }
.css_statuscte01_obj { }
.css_identcte01_label { }
.css_identcte01_line { }
.css_identcte01_obj { }
.css_cordcte01_label { }
.css_cordcte01_line { }
.css_cordcte01_obj { }
.css_limcant01_label { }
.css_limcant01_line { }
.css_limcant01_obj { }
.css_pagleg01_label { }
.css_pagleg01_line { }
.css_pagleg01_obj { }
.css_telcte01b_label { }
.css_telcte01b_line { }
.css_telcte01b_obj { }
.css_telcte01c_label { }
.css_telcte01c_line { }
.css_telcte01c_obj { }
.css_emailcte01_label { }
.css_emailcte01_line { }
.css_emailcte01_obj { }
.css_ctacgcte01_label { }
.css_ctacgcte01_line { }
.css_ctacgcte01_obj { }
.css_obsercte01_label { }
.css_obsercte01_line { }
.css_obsercte01_obj { }
.css_totexceso01_label { }
.css_totexceso01_line {text-align:left;}
.css_totexceso01_obj {text-align:left;}
.css_imagencte01_label { }
.css_imagencte01_line { }
.css_imagencte01_obj { }
.css_block_label { }
.css_block_line { }
.css_block_obj { }
.css_uid_label { }
.css_uid_line { }
.css_uid_obj { }
.css_ultimoacceso_label { }
.css_ultimoacceso_line {text-align:left;}
.css_ultimoacceso_obj {text-align:left;}
.css_idcli_label { }
.css_idcli_line { }
.css_idcli_obj { }
.css_catcte01_label { }
.css_catcte01_line { }
.css_catcte01_obj { }
.css_numautosri01_label { }
.css_numautosri01_line { }
.css_numautosri01_obj { }
.css_seriedoc01_label { }
.css_seriedoc01_line { }
.css_seriedoc01_obj { }
.css_fecvencdoc01_label { }
.css_fecvencdoc01_line { }
.css_fecvencdoc01_obj { }
.css_repleg01_label { }
.css_repleg01_line { }
.css_repleg01_obj { }
.css_coddest01_label { }
.css_coddest01_line { }
.css_coddest01_obj { }
.css_longitud01_label { }
.css_longitud01_line { }
.css_longitud01_obj { }
.css_latitud01_label { }
.css_latitud01_line { }
.css_latitud01_obj { }
.css_zoom01_label { }
.css_zoom01_line { }
.css_zoom01_obj { }
.css_coniva01_label { }
.css_coniva01_line { }
.css_coniva01_obj { }
.css_conret01_label { }
.css_conret01_line { }
.css_conret01_obj { }
.css_tipo_identificacion_label { }
.css_tipo_identificacion_line { }
.css_tipo_identificacion_obj { }
.css_es_padre_label { }
.css_es_padre_line {text-align:left;}
.css_es_padre_obj {text-align:left;}
.css_bonos_label { }
.css_bonos_line { }
.css_bonos_obj { }
.css_rendimiento_label { }
.css_rendimiento_line { }
.css_rendimiento_obj { }
.css_parterel01_label { }
.css_parterel01_line { }
.css_parterel01_obj { }
.css_clase_contribuyente_label { }
.css_clase_contribuyente_line { }
.css_clase_contribuyente_obj { }
.css_tipo_contribuyente_label { }
.css_tipo_contribuyente_line { }
.css_tipo_contribuyente_obj { }
.css_lleva_contabilidad_label { }
.css_lleva_contabilidad_line { }
.css_lleva_contabilidad_obj { }
.css_ctacgant01_label { }
.css_ctacgant01_line { }
.css_ctacgant01_obj { }
.css_residentefiscal01_label { }
.css_residentefiscal01_line { }
.css_residentefiscal01_obj { }
.css_es_cliente_label { }
.css_es_cliente_line { }
.css_es_cliente_obj { }
.css_grupos_label { }
.css_grupos_line { }
.css_grupos_obj { }
.css_codigo_banco_label { }
.css_codigo_banco_line { }
.css_codigo_banco_obj { }
.css_tipo_cuenta_banco_label { }
.css_tipo_cuenta_banco_line { }
.css_tipo_cuenta_banco_obj { }
.css_nro_cuenta_banco_label { }
.css_nro_cuenta_banco_line { }
.css_nro_cuenta_banco_obj { }
.css_pago_transferencia_label { }
.css_pago_transferencia_line { }
.css_pago_transferencia_obj { }
