.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_codigo_empleado_label { }
.css_codigo_empleado_line { }
.css_codigo_empleado_obj { }
.css_tipo_label { }
.css_tipo_line { }
.css_tipo_obj { }
.css_nombre_label { }
.css_nombre_line { }
.css_nombre_obj { }
.css_genero_label { }
.css_genero_line {text-align:left;}
.css_genero_obj {text-align:left;}
.css_fecha_nacimiento_label { }
.css_fecha_nacimiento_line { }
.css_fecha_nacimiento_obj { }
.css_discapacidad_label { }
.css_discapacidad_line { }
.css_discapacidad_obj { }
.css_observacion_label { }
.css_observacion_line { }
.css_observacion_obj { }
