.css_fecha_det_label {text-align: left;vertical-align: middle;}
.css_fecha_det_line {height:0px;text-align: left;}
.css_codgrupo_det_label {text-align: left;vertical-align: middle;}
.css_codgrupo_det_line {height:0px;text-align: left;}
.css_tipovalor_det_label {text-align: left;vertical-align: middle;}
.css_tipovalor_det_line {height:0px;text-align: left;}
.css_cantidad_det_label {text-align: left;vertical-align: middle;}
.css_cantidad_det_line {height:0px;text-align: left;}
.css_valor_det_label {text-align: left;vertical-align: middle;}
.css_valor_det_line {height:0px;text-align: left;}
.css_usuario_det_label {text-align: left;vertical-align: middle;}
.css_usuario_det_line {height:0px;text-align: left;}
.css_estado_det_label {text-align: left;vertical-align: middle;}
.css_estado_det_line {height:0px;text-align: left;}
.css_fecharegistro_det_label {text-align: left;vertical-align: middle;}
.css_fecharegistro_det_line {height:0px;text-align: left;}
