.css_tipovalor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tipovalor_grid_line {vertical-align: top;text-align: right;}
.css_cantidad_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cantidad_grid_line {vertical-align: top;text-align: right;}
.css_valor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_grid_line {vertical-align: top;text-align: right;}
.css_valor_tot_ger {text-align: right;}
.css_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_codgrupo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_codgrupo_grid_line {vertical-align: top;text-align: right;}
.css_usuario_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_usuario_grid_line {vertical-align: top;text-align: right;}
.css_estado_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_estado_grid_line {vertical-align: top;text-align: right;}
.css_fecharegistro_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecharegistro_grid_line {vertical-align: top;text-align: center;}
