.css_cod_device__label {text-align:;}
.css_cod_device__line {text-align:left;}
.css_cod_device__obj {text-align:left;}
.css_cod_activo__label { }
.css_cod_activo__line { }
.css_cod_activo__obj { }
.css_device_name__label { }
.css_device_name__line { }
.css_device_name__obj { }
.css_activa__label {text-align:;}
.css_activa__line {text-align:left;}
.css_activa__obj {text-align:left;}
.css_estado__label {text-align:;}
.css_estado__line {text-align:left;}
.css_estado__obj {text-align:left;}
.css_ult_rfid__label { }
.css_ult_rfid__line { }
.css_ult_rfid__obj { }
.css_ult_fecha__label { }
.css_ult_fecha__line { }
.css_ult_fecha__obj { }
.css_acepta_tokens__label {text-align:;}
.css_acepta_tokens__line {text-align:left;}
.css_acepta_tokens__obj {text-align:left;}
.css_timeout_rfid__label {text-align:;}
.css_timeout_rfid__line {text-align:left;}
.css_timeout_rfid__obj {text-align:left;}
.css_tokens__label {text-align:;}
.css_tokens__line {text-align:left;}
.css_tokens__obj {text-align:left;}
.css_serialrfid__label { }
.css_serialrfid__line { }
.css_serialrfid__obj { }
.css_bidireccion__label {text-align:;}
.css_bidireccion__line {text-align:left;}
.css_bidireccion__obj {text-align:left;}
.css_cod_devicee__label {text-align:;}
.css_cod_devicee__line {text-align:left;}
.css_cod_devicee__obj {text-align:left;}
.css_pin_relay1__label {text-align:;}
.css_pin_relay1__line {text-align:left;}
.css_pin_relay1__obj {text-align:left;}
.css_pin_relay2__label {text-align:;}
.css_pin_relay2__line {text-align:left;}
.css_pin_relay2__obj {text-align:left;}
.css_url_accion__label { }
.css_url_accion__line { }
.css_url_accion__obj { }
.css_url_atraccion__label { }
.css_url_atraccion__line { }
.css_url_atraccion__obj { }
.css_uhfip__label { }
.css_uhfip__line { }
.css_uhfip__obj { }
.css_url_reader__label { }
.css_url_reader__line { }
.css_url_reader__obj { }
.css_cod_rfid900__label { }
.css_cod_rfid900__line { }
.css_cod_rfid900__obj { }
.css_mensaje__label { }
.css_mensaje__line { }
.css_mensaje__obj { }
.css_tipolector__label { }
.css_tipolector__line { }
.css_tipolector__obj { }
.css_url_accion_bg__label { }
.css_url_accion_bg__line { }
.css_url_accion_bg__obj { }
.css_url_inicio__label { }
.css_url_inicio__line { }
.css_url_inicio__obj { }
.css_ledstripe1__label { }
.css_ledstripe1__line { }
.css_ledstripe1__obj { }
.css_ledstripe2__label { }
.css_ledstripe2__line { }
.css_ledstripe2__obj { }
.css_lasteffect__label { }
.css_lasteffect__line { }
.css_lasteffect__obj { }
.css_color__label { }
.css_color__line { }
.css_color__obj { }
.css_sound__label { }
.css_sound__line { }
.css_sound__obj { }
.css_points__label {text-align:;}
.css_points__line {text-align:left;}
.css_points__obj {text-align:left;}
.css_speak__label { }
.css_speak__line { }
.css_speak__obj { }
.css_typereader__label { }
.css_typereader__line { }
.css_typereader__obj { }
