.css_idlinea_det_label {text-align: right;vertical-align: middle;}
.css_idlinea_det_line {height:0px;text-align: right;}
.css_claveacceso_det_label {text-align: right;vertical-align: middle;}
.css_claveacceso_det_line {height:0px;text-align: right;}
.css_codigo_det_label {text-align: right;vertical-align: middle;}
.css_codigo_det_line {height:0px;text-align: right;}
.css_codigoporcentaje_det_label {text-align: right;vertical-align: middle;}
.css_codigoporcentaje_det_line {height:0px;text-align: right;}
.css_baseimponible_det_label {text-align: right;vertical-align: middle;}
.css_baseimponible_det_line {height:0px;text-align: right;}
.css_valor_det_label {text-align: right;vertical-align: middle;}
.css_valor_det_line {height:0px;text-align: right;}
