.css_tag_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tag_grid_line {vertical-align: top;text-align: left;}
.css_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_iddevice_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_iddevice_grid_line {vertical-align: top;text-align: right;}
.css_dataid_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dataid_grid_line {vertical-align: top;text-align: left;}
