.css_fecha_det_label {text-align: left;vertical-align: middle;}
.css_fecha_det_line {height:0px;text-align: left;}
.css_dataid_det_label {text-align: left;vertical-align: middle;}
.css_dataid_det_line {height:0px;text-align: left;}
.css_iddevice_det_label {text-align: left;vertical-align: middle;}
.css_iddevice_det_line {height:0px;text-align: left;}
.css_tag_det_label {text-align: left;vertical-align: middle;}
.css_tag_det_line {height:0px;text-align: left;}
.css_estado_det_label {text-align: left;vertical-align: middle;}
.css_estado_det_line {height:0px;text-align: left;}
