.css_fondoinicial_label { }
.css_fondoinicial_line { }
.css_fondoinicial_obj {text-align:left;}
.css_efectivo_entrega_label { }
.css_efectivo_entrega_line { }
.css_efectivo_entrega_obj {text-align:left;}
.css_tarjeta_entrega_label { }
.css_tarjeta_entrega_line { }
.css_tarjeta_entrega_obj {text-align:left;}
