.css_id_product_det_label {text-align: left;vertical-align: middle;}
.css_id_product_det_line {height:0px;text-align: left;}
.css_product_name_det_label {text-align: left;vertical-align: middle;}
.css_product_name_det_line {height:0px;text-align: left;}
.css_product_code_det_label {text-align: left;vertical-align: middle;}
.css_product_code_det_line {height:0px;text-align: left;}
.css_id_status_det_label {text-align: left;vertical-align: middle;}
.css_id_status_det_line {height:0px;text-align: left;}
.css_dateproduct_det_label {text-align: left;vertical-align: middle;}
.css_dateproduct_det_line {height:0px;text-align: left;}
.css_product_value_det_label {text-align: left;vertical-align: middle;}
.css_product_value_det_line {height:0px;text-align: left;}
.css_product_cost_det_label {text-align: left;vertical-align: middle;}
.css_product_cost_det_line {height:0px;text-align: left;}
.css_stock_det_label {text-align: left;vertical-align: middle;}
.css_stock_det_line {height:0px;text-align: left;}
.css_id_category_det_label {text-align: left;vertical-align: middle;}
.css_id_category_det_line {height:0px;text-align: left;}
.css_image_det_label {text-align: left;vertical-align: middle;}
.css_image_det_line {height:0px;text-align: left;}
.css_service_det_label {text-align: left;vertical-align: middle;}
.css_service_det_line {height:0px;text-align: left;}
.css_kiosko_det_label {text-align: left;vertical-align: middle;}
.css_kiosko_det_line {height:0px;text-align: left;}
.css_entrada_det_label {text-align: left;vertical-align: middle;}
.css_entrada_det_line {height:0px;text-align: left;}
.css_jugador_det_label {text-align: left;vertical-align: middle;}
.css_jugador_det_line {height:0px;text-align: left;}
.css_visitante_det_label {text-align: left;vertical-align: middle;}
.css_visitante_det_line {height:0px;text-align: left;}
.css_tarjeta_det_label {text-align: left;vertical-align: middle;}
.css_tarjeta_det_line {height:0px;text-align: left;}
.css_minutos_det_label {text-align: left;vertical-align: middle;}
.css_minutos_det_line {height:0px;text-align: left;}
.css_tokens_det_label {text-align: left;vertical-align: middle;}
.css_tokens_det_line {height:0px;text-align: left;}
.css_comida_det_label {text-align: left;vertical-align: middle;}
.css_comida_det_line {height:0px;text-align: left;}
.css_score_det_label {text-align: left;vertical-align: middle;}
.css_score_det_line {height:0px;text-align: left;}
.css_poriva_det_label {text-align: left;vertical-align: middle;}
.css_poriva_det_line {height:0px;text-align: left;}
.css_cuentaventa_det_label {text-align: left;vertical-align: middle;}
.css_cuentaventa_det_line {height:0px;text-align: left;}
.css_unidad_det_label {text-align: left;vertical-align: middle;}
.css_unidad_det_line {height:0px;text-align: left;}
.css_tipoitem_det_label {text-align: left;vertical-align: middle;}
.css_tipoitem_det_line {height:0px;text-align: left;}
.css_cuentacompra_det_label {text-align: left;vertical-align: middle;}
.css_cuentacompra_det_line {height:0px;text-align: left;}
.css_precioventa_det_label {text-align: left;vertical-align: middle;}
.css_precioventa_det_line {height:0px;text-align: left;}
.css_puntoventa_det_label {text-align: left;vertical-align: middle;}
.css_puntoventa_det_line {height:0px;text-align: left;}
.css_orden_det_label {text-align: left;vertical-align: middle;}
.css_orden_det_line {height:0px;text-align: left;}
.css_arcade_clasic_det_label {text-align: left;vertical-align: middle;}
.css_arcade_clasic_det_line {height:0px;text-align: left;}
.css_ultfechaventa_det_label {text-align: left;vertical-align: middle;}
.css_ultfechaventa_det_line {height:0px;text-align: left;}
.css_ingrediente_det_label {text-align: left;vertical-align: middle;}
.css_ingrediente_det_line {height:0px;text-align: left;}
