.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_codigo_empleado_det_label {text-align: right;vertical-align: middle;}
.css_codigo_empleado_det_line {height:0px;text-align: right;}
.css_idioma_det_label {text-align: right;vertical-align: middle;}
.css_idioma_det_line {height:0px;text-align: right;}
.css_nivel_det_label {text-align: right;vertical-align: middle;}
.css_nivel_det_line {height:0px;text-align: right;}
