.css_numtab_det_label {text-align: left;vertical-align: middle;}
.css_numtab_det_line {height:0px;text-align: left;}
.css_codtab_det_label {text-align: left;vertical-align: middle;}
.css_codtab_det_line {height:0px;text-align: left;}
.css_nomtab_det_label {text-align: left;vertical-align: middle;}
.css_nomtab_det_line {height:0px;text-align: left;}
.css_ad1tab_det_label {text-align: left;vertical-align: middle;}
.css_ad1tab_det_line {height:0px;text-align: left;}
.css_ad2tab_det_label {text-align: left;vertical-align: middle;}
.css_ad2tab_det_line {height:0px;text-align: left;}
.css_ad3tab_det_label {text-align: left;vertical-align: middle;}
.css_ad3tab_det_line {height:0px;text-align: left;}
.css_ad4tab_det_label {text-align: left;vertical-align: middle;}
.css_ad4tab_det_line {height:0px;text-align: left;}
.css_ad5tab_det_label {text-align: left;vertical-align: middle;}
.css_ad5tab_det_line {height:0px;text-align: left;}
.css_ad6tab_det_label {text-align: left;vertical-align: middle;}
.css_ad6tab_det_line {height:0px;text-align: left;}
.css_ad7tab_det_label {text-align: left;vertical-align: middle;}
.css_ad7tab_det_line {height:0px;text-align: left;}
.css_ad8tab_det_label {text-align: left;vertical-align: middle;}
.css_ad8tab_det_line {height:0px;text-align: left;}
.css_block_det_label {text-align: left;vertical-align: middle;}
.css_block_det_line {height:0px;text-align: left;}
.css_ad9tab_det_label {text-align: left;vertical-align: middle;}
.css_ad9tab_det_line {height:0px;text-align: left;}
.css_ad0tab_det_label {text-align: left;vertical-align: middle;}
.css_ad0tab_det_line {height:0px;text-align: left;}
