.css_numtab_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_numtab_grid_line {vertical-align: top;text-align: left;}
.css_codtab_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codtab_grid_line {vertical-align: top;text-align: left;}
.css_nomtab_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nomtab_grid_line {vertical-align: top;text-align: left;}
.css_ad1tab_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ad1tab_grid_line {vertical-align: top;text-align: right;}
.css_ad2tab_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ad2tab_grid_line {vertical-align: top;text-align: right;}
.css_ad3tab_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ad3tab_grid_line {vertical-align: top;text-align: right;}
