.css_idreg_det_label {text-align: left;vertical-align: middle;}
.css_idreg_det_line {height:0px;text-align: left;}
.css_cod_device_det_label {text-align: left;vertical-align: middle;}
.css_cod_device_det_line {height:0px;text-align: left;}
.css_fecha_det_label {text-align: left;vertical-align: middle;}
.css_fecha_det_line {height:0px;text-align: left;}
.css_usuario_det_label {text-align: left;vertical-align: middle;}
.css_usuario_det_line {height:0px;text-align: left;}
.css_boleto_det_label {text-align: left;vertical-align: middle;}
.css_boleto_det_line {height:0px;text-align: left;}
