.css_idreg_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idreg_grid_line {vertical-align: top;text-align: right;}
.css_cod_device_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cod_device_grid_line {vertical-align: top;text-align: right;}
.css_boleto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_boleto_grid_line {vertical-align: top;text-align: right;}
.css_usuario_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_usuario_grid_line {vertical-align: top;text-align: right;}
.css_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
