.css_idegreso__label { }
.css_idegreso__line {text-align:left;}
.css_idegreso__obj {text-align:left;}
.css_descrip__label { }
.css_descrip__line { }
.css_descrip__obj { }
.css_activo__label { }
.css_activo__line {text-align:left;}
.css_activo__obj {text-align:left;}
