.css_idreg_label { }
.css_idreg_line {text-align:left;}
.css_idreg_obj {text-align:left;}
.css_idcustomer_label { }
.css_idcustomer_line { }
.css_idcustomer_obj { }
.css_nombre_label { }
.css_nombre_line { }
.css_nombre_obj { }
.css_correo_label { }
.css_correo_line { }
.css_correo_obj { }
.css_celular_label { }
.css_celular_line { }
.css_celular_obj { }
.css_idinterno_label { }
.css_idinterno_line { }
.css_idinterno_obj { }
.css_direccion_label { }
.css_direccion_line { }
.css_direccion_obj { }
.css_tipodoc_label { }
.css_tipodoc_line { }
.css_tipodoc_obj { }
.css_ult_fecha_label { }
.css_ult_fecha_line { }
.css_ult_fecha_obj { }
.css_local_centro_label { }
.css_local_centro_line { }
.css_local_centro_obj { }
.css_cliente_tipo_label { }
.css_cliente_tipo_line { }
.css_cliente_tipo_obj { }
.css_afiliado_desde_label { }
.css_afiliado_desde_line { }
.css_afiliado_desde_obj { }
.css_sector_label { }
.css_sector_line { }
.css_sector_obj { }
.css_estado_label { }
.css_estado_line {text-align:left;}
.css_estado_obj {text-align:left;}
.css_uniqueid_label { }
.css_uniqueid_line { }
.css_uniqueid_obj { }
.css_ciudad_label { }
.css_ciudad_line { }
.css_ciudad_obj { }
.css_pais_label { }
.css_pais_line { }
.css_pais_obj { }
.css_fecha1_label { }
.css_fecha1_line { }
.css_fecha1_obj { }
.css_fecha2_label { }
.css_fecha2_line { }
.css_fecha2_obj { }
.css_fecha3_label { }
.css_fecha3_line { }
.css_fecha3_obj { }
