.css_codcte43_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codcte43_grid_line {vertical-align: top;text-align: left;}
.css_tipodoc43_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipodoc43_grid_line {vertical-align: top;text-align: left;}
.css_numdoc43_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_numdoc43_grid_line {vertical-align: top;text-align: left;}
.css_ocurren43_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ocurren43_grid_line {vertical-align: top;text-align: left;}
.css_cocte43_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cocte43_grid_line {vertical-align: top;text-align: left;}
.css_fecdoc43_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecdoc43_grid_line {vertical-align: top;text-align: center;}
