.css_codcte43_det_label {text-align: right;vertical-align: middle;}
.css_codcte43_det_line {height:0px;text-align: right;}
.css_tipodoc43_det_label {text-align: right;vertical-align: middle;}
.css_tipodoc43_det_line {height:0px;text-align: right;}
.css_numdoc43_det_label {text-align: right;vertical-align: middle;}
.css_numdoc43_det_line {height:0px;text-align: right;}
.css_ocurren43_det_label {text-align: right;vertical-align: middle;}
.css_ocurren43_det_line {height:0px;text-align: right;}
.css_cocte43_det_label {text-align: right;vertical-align: middle;}
.css_cocte43_det_line {height:0px;text-align: right;}
.css_fecdoc43_det_label {text-align: right;vertical-align: middle;}
.css_fecdoc43_det_line {height:0px;text-align: right;}
.css_tipdoc43_det_label {text-align: right;vertical-align: middle;}
.css_tipdoc43_det_line {height:0px;text-align: right;}
.css_numvencob43_det_label {text-align: right;vertical-align: middle;}
.css_numvencob43_det_line {height:0px;text-align: right;}
.css_fedoc43_det_label {text-align: right;vertical-align: middle;}
.css_fedoc43_det_line {height:0px;text-align: right;}
.css_totdoc43_det_label {text-align: right;vertical-align: middle;}
.css_totdoc43_det_line {height:0px;text-align: right;}
.css_detalle43_det_label {text-align: right;vertical-align: middle;}
.css_detalle43_det_line {height:0px;text-align: right;}
.css_cvanioant43_det_label {text-align: right;vertical-align: middle;}
.css_cvanioant43_det_line {height:0px;text-align: right;}
.css_cvdivisa43_det_label {text-align: right;vertical-align: middle;}
.css_cvdivisa43_det_line {height:0px;text-align: right;}
.css_valdivisa43_det_label {text-align: right;vertical-align: middle;}
.css_valdivisa43_det_line {height:0px;text-align: right;}
.css_valdivisaori43_det_label {text-align: right;vertical-align: middle;}
.css_valdivisaori43_det_line {height:0px;text-align: right;}
.css_factcompra43_det_label {text-align: right;vertical-align: middle;}
.css_factcompra43_det_line {height:0px;text-align: right;}
.css_seriecompra43_det_label {text-align: right;vertical-align: middle;}
.css_seriecompra43_det_line {height:0px;text-align: right;}
.css_autocompra43_det_label {text-align: right;vertical-align: middle;}
.css_autocompra43_det_line {height:0px;text-align: right;}
.css_codret43_det_label {text-align: right;vertical-align: middle;}
.css_codret43_det_line {height:0px;text-align: right;}
.css_valini43_det_label {text-align: right;vertical-align: middle;}
.css_valini43_det_line {height:0px;text-align: right;}
.css_numcuotasord43_det_label {text-align: right;vertical-align: middle;}
.css_numcuotasord43_det_line {height:0px;text-align: right;}
.css_valormov43_det_label {text-align: right;vertical-align: middle;}
.css_valormov43_det_line {height:0px;text-align: right;}
.css_saldoregmov43_det_label {text-align: right;vertical-align: middle;}
.css_saldoregmov43_det_line {height:0px;text-align: right;}
.css_feccobro43_det_label {text-align: right;vertical-align: middle;}
.css_feccobro43_det_line {height:0px;text-align: right;}
.css_codpagounif43_det_label {text-align: right;vertical-align: middle;}
.css_codpagounif43_det_line {height:0px;text-align: right;}
.css_tipodocdb43_det_label {text-align: right;vertical-align: middle;}
.css_tipodocdb43_det_line {height:0px;text-align: right;}
.css_numdocdb43_det_label {text-align: right;vertical-align: middle;}
.css_numdocdb43_det_line {height:0px;text-align: right;}
.css_ocurrecdocdb43_det_label {text-align: right;vertical-align: middle;}
.css_ocurrecdocdb43_det_line {height:0px;text-align: right;}
.css_numrecibo43_det_label {text-align: right;vertical-align: middle;}
.css_numrecibo43_det_line {height:0px;text-align: right;}
.css_valorabono43_det_label {text-align: right;vertical-align: middle;}
.css_valorabono43_det_line {height:0px;text-align: right;}
.css_efectcheque43_det_label {text-align: right;vertical-align: middle;}
.css_efectcheque43_det_line {height:0px;text-align: right;}
.css_saldoexceso43_det_label {text-align: right;vertical-align: middle;}
.css_saldoexceso43_det_line {height:0px;text-align: right;}
.css_saldocte43_det_label {text-align: right;vertical-align: middle;}
.css_saldocte43_det_line {height:0px;text-align: right;}
.css_codpago43_det_label {text-align: right;vertical-align: middle;}
.css_codpago43_det_line {height:0px;text-align: right;}
.css_numdocpago43_det_label {text-align: right;vertical-align: middle;}
.css_numdocpago43_det_line {height:0px;text-align: right;}
.css_obsdocpago43_det_label {text-align: right;vertical-align: middle;}
.css_obsdocpago43_det_line {height:0px;text-align: right;}
.css_uid_det_label {text-align: right;vertical-align: middle;}
.css_uid_det_line {height:0px;text-align: right;}
.css_cvtransfer43_det_label {text-align: right;vertical-align: middle;}
.css_cvtransfer43_det_line {height:0px;text-align: right;}
.css_fectransfer43_det_label {text-align: right;vertical-align: middle;}
.css_fectransfer43_det_line {height:0px;text-align: right;}
.css_fecvendoc43_det_label {text-align: right;vertical-align: middle;}
.css_fecvendoc43_det_line {height:0px;text-align: right;}
.css_fecvenret43_det_label {text-align: right;vertical-align: middle;}
.css_fecvenret43_det_line {height:0px;text-align: right;}
.css_numautoret43_det_label {text-align: right;vertical-align: middle;}
.css_numautoret43_det_line {height:0px;text-align: right;}
.css_cvanulado43_det_label {text-align: right;vertical-align: middle;}
.css_cvanulado43_det_line {height:0px;text-align: right;}
.css_conta43_det_label {text-align: right;vertical-align: middle;}
.css_conta43_det_line {height:0px;text-align: right;}
.css_relacioncob43_det_label {text-align: right;vertical-align: middle;}
.css_relacioncob43_det_line {height:0px;text-align: right;}
.css_estadocob43_det_label {text-align: right;vertical-align: middle;}
.css_estadocob43_det_line {height:0px;text-align: right;}
.css_nuevocodpago43_det_label {text-align: right;vertical-align: middle;}
.css_nuevocodpago43_det_line {height:0px;text-align: right;}
.css_porccomision1_det_label {text-align: right;vertical-align: middle;}
.css_porccomision1_det_line {height:0px;text-align: right;}
.css_porccomision2_det_label {text-align: right;vertical-align: middle;}
.css_porccomision2_det_line {height:0px;text-align: right;}
.css_porcdesctocomision1_det_label {text-align: right;vertical-align: middle;}
.css_porcdesctocomision1_det_line {height:0px;text-align: right;}
.css_porcdesctocomision2_det_label {text-align: right;vertical-align: middle;}
.css_porcdesctocomision2_det_line {height:0px;text-align: right;}
.css_ope43_det_label {text-align: right;vertical-align: middle;}
.css_ope43_det_line {height:0px;text-align: right;}
.css_tfin43_det_label {text-align: right;vertical-align: middle;}
.css_tfin43_det_line {height:0px;text-align: right;}
.css_fin43_det_label {text-align: right;vertical-align: middle;}
.css_fin43_det_line {height:0px;text-align: right;}
.css_ban43_det_label {text-align: right;vertical-align: middle;}
.css_ban43_det_line {height:0px;text-align: right;}
.css_cobrador43_det_label {text-align: right;vertical-align: middle;}
.css_cobrador43_det_line {height:0px;text-align: right;}
.css_coordinador43_det_label {text-align: right;vertical-align: middle;}
.css_coordinador43_det_line {height:0px;text-align: right;}
.css_cierre_det_label {text-align: right;vertical-align: middle;}
.css_cierre_det_line {height:0px;text-align: right;}
.css_idcierre_det_label {text-align: right;vertical-align: middle;}
.css_idcierre_det_line {height:0px;text-align: right;}
.css_num_bco_dep_det_label {text-align: right;vertical-align: middle;}
.css_num_bco_dep_det_line {height:0px;text-align: right;}
.css_num_deposito_det_label {text-align: right;vertical-align: middle;}
.css_num_deposito_det_line {height:0px;text-align: right;}
.css_num_doc_cont_det_label {text-align: right;vertical-align: middle;}
.css_num_doc_cont_det_line {height:0px;text-align: right;}
.css_tip_doc_cont_det_label {text-align: right;vertical-align: middle;}
.css_tip_doc_cont_det_line {height:0px;text-align: right;}
.css_idb_det_label {text-align: right;vertical-align: middle;}
.css_idb_det_line {height:0px;text-align: right;}
.css_tipocomptehis_det_label {text-align: right;vertical-align: middle;}
.css_tipocomptehis_det_line {height:0px;text-align: right;}
.css_datosretcliente_det_label {text-align: right;vertical-align: middle;}
.css_datosretcliente_det_line {height:0px;text-align: right;}
.css_valoresretcliente_det_label {text-align: right;vertical-align: middle;}
.css_valoresretcliente_det_line {height:0px;text-align: right;}
.css_beneficiario43_det_label {text-align: right;vertical-align: middle;}
.css_beneficiario43_det_line {height:0px;text-align: right;}
.css_numero_cuenta_det_label {text-align: right;vertical-align: middle;}
.css_numero_cuenta_det_line {height:0px;text-align: right;}
.css_fecha_creacion_del_65_det_label {text-align: right;vertical-align: middle;}
.css_fecha_creacion_del_65_det_line {height:0px;text-align: right;}
.css_adicional_det_label {text-align: right;vertical-align: middle;}
.css_adicional_det_line {height:0px;text-align: right;}
.css_fecha_adicional_det_label {text-align: right;vertical-align: middle;}
.css_fecha_adicional_det_line {height:0px;text-align: right;}
.css_id_cotizacion_det_label {text-align: right;vertical-align: middle;}
.css_id_cotizacion_det_line {height:0px;text-align: right;}
.css_id_cuotas_tabla_pagos_det_label {text-align: right;vertical-align: middle;}
.css_id_cuotas_tabla_pagos_det_line {height:0px;text-align: right;}
.css_institucion_det_label {text-align: right;vertical-align: middle;}
.css_institucion_det_line {height:0px;text-align: right;}
.css_estado_electronico_det_label {text-align: right;vertical-align: middle;}
.css_estado_electronico_det_line {height:0px;text-align: right;}
