.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_razon_social_det_label {text-align: right;vertical-align: middle;}
.css_razon_social_det_line {height:0px;text-align: right;}
.css_nombre_comercial_det_label {text-align: right;vertical-align: middle;}
.css_nombre_comercial_det_line {height:0px;text-align: right;}
.css_ruc_det_label {text-align: right;vertical-align: middle;}
.css_ruc_det_line {height:0px;text-align: right;}
.css_direccion_matriz_det_label {text-align: right;vertical-align: middle;}
.css_direccion_matriz_det_line {height:0px;text-align: right;}
.css_obligado_contabilidad_det_label {text-align: right;vertical-align: middle;}
.css_obligado_contabilidad_det_line {height:0px;text-align: right;}
.css_contribuyente_especial_det_label {text-align: right;vertical-align: middle;}
.css_contribuyente_especial_det_line {height:0px;text-align: right;}
.css_regimen_microempresas_det_label {text-align: right;vertical-align: middle;}
.css_regimen_microempresas_det_line {height:0px;text-align: right;}
.css_agente_retencion_det_label {text-align: right;vertical-align: middle;}
.css_agente_retencion_det_line {height:0px;text-align: right;}
