.css_cantidad_label {font-family:Helvetica, Arial, sans-serif;font-size:20px;}
.css_cantidad_line {font-family:Geneva, Arial, sans-serif;font-size:26px;font-weight:bold;text-align:left;}
.css_cantidad_obj {font-family:Courier, mono;font-size:26px;font-weight:bold;text-align:left;}
.css_titulo_label {color:#FFFFFF;}
.css_titulo_line {font-family:Helvetica, Arial, sans-serif;font-size:26px;color:#FFFFFF;}
.css_titulo_obj {color:#FFFFFF;}
.css_total_label { }
.css_total_line {font-family:Helvetica, Arial, sans-serif;font-size:36px;font-weight:bold;text-align:left;}
.css_total_obj {text-align:left;}
