.css_id_product_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_product_grid_line {vertical-align: top;text-align: right;}
.css_unit_cost_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_unit_cost_grid_line {vertical-align: top;text-align: right;}
.css_quantity_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_quantity_grid_line {vertical-align: top;text-align: right;}
.css_id_purchase_detail_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_purchase_detail_grid_line {vertical-align: top;text-align: right;}
.css_id_purchase_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_purchase_grid_line {vertical-align: top;text-align: right;}
