.css_id_purchase_detail_det_label {text-align: left;vertical-align: middle;}
.css_id_purchase_detail_det_line {height:0px;text-align: left;}
.css_id_purchase_det_label {text-align: left;vertical-align: middle;}
.css_id_purchase_det_line {height:0px;text-align: left;}
.css_unit_cost_det_label {text-align: left;vertical-align: middle;}
.css_unit_cost_det_line {height:0px;text-align: left;}
.css_quantity_det_label {text-align: left;vertical-align: middle;}
.css_quantity_det_line {height:0px;text-align: left;}
.css_id_product_det_label {text-align: left;vertical-align: middle;}
.css_id_product_det_line {height:0px;text-align: left;}
