.css_lugar_label {text-align:left;}
.css_lugar_grid_line {color:#FFFFFF;font-family:Helvetica, Arial, sans-serif;font-size:36px;font-weight:bold;vertical-align: middle;}
.css_rfid_label {text-align:left;}
.css_rfid_grid_line {color:#FFFFFF;font-family:Helvetica, Arial, sans-serif;font-size:36px;background-color:#000099;font-weight:bold;vertical-align: top;}
.css_tiempo_promedio_label {text-align:left;}
.css_tiempo_promedio_grid_line {font-family:Helvetica, Arial, sans-serif;font-size:36px;font-weight:bold;vertical-align: top;}
