.css_sucursal_det_label {text-align: right;vertical-align: middle;}
.css_sucursal_det_line {height:0px;text-align: right;}
.css_cuenta_det_label {text-align: right;vertical-align: middle;}
.css_cuenta_det_line {height:0px;text-align: right;}
.css_product_name_det_label {text-align: right;vertical-align: middle;}
.css_product_name_det_line {height:0px;text-align: right;}
.css_fecha_det_label {text-align: right;vertical-align: middle;}
.css_fecha_det_line {height:0px;text-align: right;}
.css_valor_det_label {text-align: right;vertical-align: middle;}
.css_valor_det_line {height:0px;text-align: right;}
.css_cantidad_det_label {text-align: right;vertical-align: middle;}
.css_cantidad_det_line {height:0px;text-align: right;}
