.css_tipovalor__label { }
.css_tipovalor__line {text-align:left;}
.css_tipovalor__obj {text-align:left;}
.css_cantidad__label { }
.css_cantidad__line {text-align:left;}
.css_cantidad__obj {text-align:left;}
