.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_codigo_det_label {text-align: right;vertical-align: middle;}
.css_codigo_det_line {height:0px;text-align: right;}
.css_fecha_det_label {text-align: right;vertical-align: middle;}
.css_fecha_det_line {height:0px;text-align: right;}
.css_numero_det_label {text-align: right;vertical-align: middle;}
.css_numero_det_line {height:0px;text-align: right;}
.css_observacion_det_label {text-align: right;vertical-align: middle;}
.css_observacion_det_line {height:0px;text-align: right;}
