.css_otp_label {font-family:Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;text-align:left;}
.css_otp_line {font-family:Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;text-align:left;}
.css_otp_obj {font-family:Helvetica, Arial, sans-serif;font-size:28px;font-weight:bold;text-align:left;}
