.css_ambiente_det_label {text-align: right;vertical-align: middle;}
.css_ambiente_det_line {height:0px;text-align: right;}
.css_tipoemision_det_label {text-align: right;vertical-align: middle;}
.css_tipoemision_det_line {height:0px;text-align: right;}
.css_razonsocial_det_label {text-align: right;vertical-align: middle;}
.css_razonsocial_det_line {height:0px;text-align: right;}
.css_nombrecomercial_det_label {text-align: right;vertical-align: middle;}
.css_nombrecomercial_det_line {height:0px;text-align: right;}
.css_ruc_det_label {text-align: right;vertical-align: middle;}
.css_ruc_det_line {height:0px;text-align: right;}
.css_claveacceso_det_label {text-align: right;vertical-align: middle;}
.css_claveacceso_det_line {height:0px;text-align: right;}
.css_coddoc_det_label {text-align: right;vertical-align: middle;}
.css_coddoc_det_line {height:0px;text-align: right;}
.css_estab_det_label {text-align: right;vertical-align: middle;}
.css_estab_det_line {height:0px;text-align: right;}
.css_ptoemi_det_label {text-align: right;vertical-align: middle;}
.css_ptoemi_det_line {height:0px;text-align: right;}
.css_secuencial_det_label {text-align: right;vertical-align: middle;}
.css_secuencial_det_line {height:0px;text-align: right;}
.css_dirmatriz_det_label {text-align: right;vertical-align: middle;}
.css_dirmatriz_det_line {height:0px;text-align: right;}
.css_fechaemision_det_label {text-align: right;vertical-align: middle;}
.css_fechaemision_det_line {height:0px;text-align: right;}
.css_direstablecimiento_det_label {text-align: right;vertical-align: middle;}
.css_direstablecimiento_det_line {height:0px;text-align: right;}
.css_obligadocontabilidad_det_label {text-align: right;vertical-align: middle;}
.css_obligadocontabilidad_det_line {height:0px;text-align: right;}
.css_tipoidentificacioncomprador_det_label {text-align: right;vertical-align: middle;}
.css_tipoidentificacioncomprador_det_line {height:0px;text-align: right;}
.css_razonsocialcomprador_det_label {text-align: right;vertical-align: middle;}
.css_razonsocialcomprador_det_line {height:0px;text-align: right;}
.css_identificacioncomprador_det_label {text-align: right;vertical-align: middle;}
.css_identificacioncomprador_det_line {height:0px;text-align: right;}
.css_totalsinimpuestos_det_label {text-align: right;vertical-align: middle;}
.css_totalsinimpuestos_det_line {height:0px;text-align: right;}
.css_totaldescuento_det_label {text-align: right;vertical-align: middle;}
.css_totaldescuento_det_line {height:0px;text-align: right;}
.css_totalconimpuestos_det_label {text-align: right;vertical-align: middle;}
.css_totalconimpuestos_det_line {height:0px;text-align: right;}
.css_propina_det_label {text-align: right;vertical-align: middle;}
.css_propina_det_line {height:0px;text-align: right;}
.css_importetotal_det_label {text-align: right;vertical-align: middle;}
.css_importetotal_det_line {height:0px;text-align: right;}
.css_moneda_det_label {text-align: right;vertical-align: middle;}
.css_moneda_det_line {height:0px;text-align: right;}
.css_fecharegistro_det_label {text-align: right;vertical-align: middle;}
.css_fecharegistro_det_line {height:0px;text-align: right;}
.css_estado_det_label {text-align: right;vertical-align: middle;}
.css_estado_det_line {height:0px;text-align: right;}
.css_documento_det_label {text-align: right;vertical-align: middle;}
.css_documento_det_line {height:0px;text-align: right;}
.css_txtline_det_label {text-align: right;vertical-align: middle;}
.css_txtline_det_line {height:0px;text-align: right;}
.css_codigobarras_det_label {text-align: right;vertical-align: middle;}
.css_codigobarras_det_line {height:0px;text-align: right;}
.css_tipodoc_det_label {text-align: right;vertical-align: middle;}
.css_tipodoc_det_line {height:0px;text-align: right;}
