.css_idlinea_det_label {text-align: right;vertical-align: middle;}
.css_idlinea_det_line {height:0px;text-align: right;}
.css_claveacceso_det_label {text-align: right;vertical-align: middle;}
.css_claveacceso_det_line {height:0px;text-align: right;}
.css_formapago_det_label {text-align: right;vertical-align: middle;}
.css_formapago_det_line {height:0px;text-align: right;}
.css_total_det_label {text-align: right;vertical-align: middle;}
.css_total_det_line {height:0px;text-align: right;}
