.css_idlinea_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idlinea_grid_line {vertical-align: top;text-align: right;}
.css_claveacceso_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_claveacceso_grid_line {vertical-align: top;text-align: right;}
.css_formapago_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_formapago_grid_line {vertical-align: top;text-align: right;}
.css_total_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_total_grid_line {vertical-align: top;text-align: right;}
