.css_idlinea__label {text-align:;}
.css_idlinea__line {text-align:left;}
.css_idlinea__obj {text-align:left;}
.css_claveacceso__label { }
.css_claveacceso__line { }
.css_claveacceso__obj { }
.css_codigoprincipal__label { }
.css_codigoprincipal__line { }
.css_codigoprincipal__obj { }
.css_descripcion__label { }
.css_descripcion__line { }
.css_descripcion__obj { }
.css_cantidad__label {text-align:;}
.css_cantidad__line {text-align:left;}
.css_cantidad__obj {text-align:left;}
.css_preciounitario__label {text-align:;}
.css_preciounitario__line {text-align:left;}
.css_preciounitario__obj {text-align:left;}
.css_descuento__label {text-align:;}
.css_descuento__line {text-align:left;}
.css_descuento__obj {text-align:left;}
.css_preciototalsinimpuesto__label {text-align:;}
.css_preciototalsinimpuesto__line {text-align:left;}
.css_preciototalsinimpuesto__obj {text-align:left;}
