.css_importe_pagar_label {font-family:Arial, sans-serif;font-size:30px;color:#FFFFFF;font-weight:bold;}
.css_importe_pagar_line {font-family:Geneva, Arial, sans-serif;font-size:30px;color:#FFFFFF;}
.css_importe_pagar_obj { }
.css_importe_recibido_label {font-family:Geneva, Arial, sans-serif;font-size:30px;color:#FFFFFF;}
.css_importe_recibido_line {font-family:Geneva, Arial, sans-serif;font-size:30px;color:#FFFFFF;}
.css_importe_recibido_obj { }
.css_fatan_label {font-family:Geneva, Arial, sans-serif;font-size:30px;color:#FFFFFF;}
.css_fatan_line {font-family:Geneva, Arial, sans-serif;font-size:30px;color:#FFFFFF;}
.css_fatan_obj { }
.css_cambio_label {font-family:Geneva, Arial, sans-serif;font-size:30px;color:#FFFFFF;}
.css_cambio_line {font-family:Geneva, Arial, sans-serif;font-size:30px;color:#FFFFFF;}
.css_cambio_obj { }
