.css_ctacontprecc_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ctacontprecc_grid_line {vertical-align: top;text-align: left;}
.css_anoprecc_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_anoprecc_grid_line {vertical-align: top;text-align: left;}
.css_mescc_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_mescc_grid_line {vertical-align: top;text-align: right;}
.css_valorcc_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valorcc_grid_line {vertical-align: top;text-align: right;}
.css_cc01_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cc01_grid_line {vertical-align: top;text-align: left;}
.css_cc02_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cc02_grid_line {vertical-align: top;text-align: left;}
