.css_ctacontprecc_det_label {text-align: right;vertical-align: middle;}
.css_ctacontprecc_det_line {height:0px;text-align: right;}
.css_anoprecc_det_label {text-align: right;vertical-align: middle;}
.css_anoprecc_det_line {height:0px;text-align: right;}
.css_mescc_det_label {text-align: right;vertical-align: middle;}
.css_mescc_det_line {height:0px;text-align: right;}
.css_valorcc_det_label {text-align: right;vertical-align: middle;}
.css_valorcc_det_line {height:0px;text-align: right;}
.css_cc01_det_label {text-align: right;vertical-align: middle;}
.css_cc01_det_line {height:0px;text-align: right;}
.css_cc02_det_label {text-align: right;vertical-align: middle;}
.css_cc02_det_line {height:0px;text-align: right;}
.css_cc03_det_label {text-align: right;vertical-align: middle;}
.css_cc03_det_line {height:0px;text-align: right;}
.css_cc04_det_label {text-align: right;vertical-align: middle;}
.css_cc04_det_line {height:0px;text-align: right;}
.css_cc05_det_label {text-align: right;vertical-align: middle;}
.css_cc05_det_line {height:0px;text-align: right;}
.css_unidad_det_label {text-align: right;vertical-align: middle;}
.css_unidad_det_line {height:0px;text-align: right;}
.css_cantidad_det_label {text-align: right;vertical-align: middle;}
.css_cantidad_det_line {height:0px;text-align: right;}
.css_precio_sin_iva_det_label {text-align: right;vertical-align: middle;}
.css_precio_sin_iva_det_line {height:0px;text-align: right;}
.css_cantidad_consumida_det_label {text-align: right;vertical-align: middle;}
.css_cantidad_consumida_det_line {height:0px;text-align: right;}
.css_valor_consumido_det_label {text-align: right;vertical-align: middle;}
.css_valor_consumido_det_line {height:0px;text-align: right;}
.css_cantidad_modificada_det_label {text-align: right;vertical-align: middle;}
.css_cantidad_modificada_det_line {height:0px;text-align: right;}
.css_precio_modificado_det_label {text-align: right;vertical-align: middle;}
.css_precio_modificado_det_line {height:0px;text-align: right;}
.css_precio_sin_iva_modificado_det_label {text-align: right;vertical-align: middle;}
.css_precio_sin_iva_modificado_det_line {height:0px;text-align: right;}
