.css_picture_char_grid_line {vertical-align: top;text-align: left;}
.css_name_char_grid_line {font-family:Geneva, Arial, sans-serif;font-size:20px;font-weight:bold;vertical-align: top;text-align: left;}
