.css_NM_Count_cnt_field {text-align: right}
.css_total_sum_label {text-align: right; vertical-align: top}
.css_total_sum_field {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_label {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_field {text-align: right; vertical-align: top}
.css_total_avg_label {text-align: right; vertical-align: top}
.css_total_avg_field {text-align: right; vertical-align: top}
.css_total_max_label {text-align: right; vertical-align: top}
.css_total_max_field {text-align: right; vertical-align: top}
.css_total_min_label {text-align: right; vertical-align: top}
.css_total_min_field {text-align: right; vertical-align: top}
