.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_codigo_det_label {text-align: right;vertical-align: middle;}
.css_codigo_det_line {height:0px;text-align: right;}
.css_numero_det_label {text-align: right;vertical-align: middle;}
.css_numero_det_line {height:0px;text-align: right;}
.css_codigo_principal_det_label {text-align: right;vertical-align: middle;}
.css_codigo_principal_det_line {height:0px;text-align: right;}
.css_linea_det_label {text-align: right;vertical-align: middle;}
.css_linea_det_line {height:0px;text-align: right;}
.css_codigo_impuesto_det_label {text-align: right;vertical-align: middle;}
.css_codigo_impuesto_det_line {height:0px;text-align: right;}
.css_codigo_porcentaje_det_label {text-align: right;vertical-align: middle;}
.css_codigo_porcentaje_det_line {height:0px;text-align: right;}
.css_base_imponible_det_label {text-align: right;vertical-align: middle;}
.css_base_imponible_det_line {height:0px;text-align: right;}
.css_tarifa_det_label {text-align: right;vertical-align: middle;}
.css_tarifa_det_line {height:0px;text-align: right;}
.css_valor_det_label {text-align: right;vertical-align: middle;}
.css_valor_det_line {height:0px;text-align: right;}
