.css_cod_device_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cod_device_grid_line {vertical-align: top;text-align: right;}
.css_device_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_device_name_grid_line {vertical-align: top;text-align: right;}
.css_ledstripe1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ledstripe1_grid_line {vertical-align: top;text-align: right;}
.css_ledstripe2_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ledstripe2_grid_line {vertical-align: top;text-align: right;}
.css_ledstripe3_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ledstripe3_grid_line {vertical-align: top;text-align: right;}
.css_ledstripe4_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ledstripe4_grid_line {vertical-align: top;text-align: right;}
.css_color_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_color_grid_line {vertical-align: top;text-align: right;}
.css_cod_activo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cod_activo_grid_line {vertical-align: top;text-align: right;}
.css_cod_grupo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cod_grupo_grid_line {vertical-align: top;text-align: right;}
.css_activa_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_activa_grid_line {vertical-align: top;text-align: right;}
.css_estado_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_estado_grid_line {vertical-align: top;text-align: right;}
.css_ult_rfid_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ult_rfid_grid_line {vertical-align: top;text-align: right;}
.css_ult_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_ult_fecha_grid_line {vertical-align: top;text-align: center;}
.css_valor_default_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_default_grid_line {vertical-align: top;text-align: right;}
.css_acepta_tiempo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_acepta_tiempo_grid_line {vertical-align: top;text-align: right;}
.css_acepta_tokens_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_acepta_tokens_grid_line {vertical-align: top;text-align: right;}
.css_dev_ip_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dev_ip_grid_line {vertical-align: top;text-align: right;}
.css_tipo_dev_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tipo_dev_grid_line {vertical-align: top;text-align: right;}
.css_direccion_torno_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_direccion_torno_grid_line {vertical-align: top;text-align: right;}
.css_timeout_rfid_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_timeout_rfid_grid_line {vertical-align: top;text-align: right;}
.css_discapacitado_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_discapacitado_grid_line {vertical-align: top;text-align: right;}
.css_numcaja_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_numcaja_grid_line {vertical-align: top;text-align: right;}
.css_empleado_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_empleado_grid_line {vertical-align: top;text-align: right;}
.css_tokens_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tokens_grid_line {vertical-align: top;text-align: right;}
.css_serialrfid_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_serialrfid_grid_line {vertical-align: top;text-align: right;}
.css_bidireccion_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_bidireccion_grid_line {vertical-align: top;text-align: right;}
.css_cod_devicee_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cod_devicee_grid_line {vertical-align: top;text-align: right;}
.css_url_1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_url_1_grid_line {vertical-align: top;text-align: right;}
.css_url_2_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_url_2_grid_line {vertical-align: top;text-align: right;}
.css_url_3_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_url_3_grid_line {vertical-align: top;text-align: right;}
.css_foto1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_foto1_grid_line {vertical-align: top;text-align: right;}
.css_foto2_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_foto2_grid_line {vertical-align: top;text-align: right;}
.css_foto3_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_foto3_grid_line {vertical-align: top;text-align: right;}
.css_pin_relay1_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_pin_relay1_grid_line {vertical-align: top;text-align: right;}
.css_pin_relay2_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_pin_relay2_grid_line {vertical-align: top;text-align: right;}
.css_rfid_read_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rfid_read_grid_line {vertical-align: top;text-align: right;}
.css_rfid_estado_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_rfid_estado_grid_line {vertical-align: top;text-align: right;}
.css_rfid_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_rfid_fecha_grid_line {vertical-align: top;text-align: center;}
.css_url_accion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_url_accion_grid_line {vertical-align: top;text-align: right;}
.css_url_atraccion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_url_atraccion_grid_line {vertical-align: top;text-align: right;}
.css_uhfip_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_uhfip_grid_line {vertical-align: top;text-align: right;}
.css_url_reader_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_url_reader_grid_line {vertical-align: top;text-align: right;}
.css_cod_rfid900_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cod_rfid900_grid_line {vertical-align: top;text-align: right;}
.css_mensaje_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_mensaje_grid_line {vertical-align: top;text-align: right;}
.css_tipolector_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipolector_grid_line {vertical-align: top;text-align: right;}
.css_url_accion_bg_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_url_accion_bg_grid_line {vertical-align: top;text-align: right;}
.css_url_inicio_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_url_inicio_grid_line {vertical-align: top;text-align: right;}
.css_lasteffect_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_lasteffect_grid_line {vertical-align: top;text-align: right;}
