.css_id_supplier_det_label {text-align: left;vertical-align: middle;}
.css_id_supplier_det_line {height:0px;text-align: left;}
.css_supplier_name_det_label {text-align: left;vertical-align: middle;}
.css_supplier_name_det_line {height:0px;text-align: left;}
.css_address_det_label {text-align: left;vertical-align: middle;}
.css_address_det_line {height:0px;text-align: left;}
.css_telephone_det_label {text-align: left;vertical-align: middle;}
.css_telephone_det_line {height:0px;text-align: left;}
.css_contact_det_label {text-align: left;vertical-align: middle;}
.css_contact_det_line {height:0px;text-align: left;}
.css_email_det_label {text-align: left;vertical-align: middle;}
.css_email_det_line {height:0px;text-align: left;}
.css_website_det_label {text-align: left;vertical-align: middle;}
.css_website_det_line {height:0px;text-align: left;}
.css_idproveedor_det_label {text-align: left;vertical-align: middle;}
.css_idproveedor_det_line {height:0px;text-align: left;}
