.css_id_supplier_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_supplier_grid_line {vertical-align: top;text-align: right;}
.css_idproveedor_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idproveedor_grid_line {vertical-align: top;text-align: right;}
.css_supplier_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_supplier_name_grid_line {vertical-align: top;text-align: right;}
.css_address_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_address_grid_line {vertical-align: top;text-align: right;}
.css_telephone_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_telephone_grid_line {vertical-align: top;text-align: right;}
.css_contact_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_contact_grid_line {vertical-align: top;text-align: right;}
.css_email_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_email_grid_line {vertical-align: top;text-align: right;}
