.css_qrboleto_det_label {text-align: left;vertical-align: middle;}
.css_qrboleto_det_line {height:0px;text-align: left;}
.css_codrfid_det_label {text-align: left;vertical-align: middle;}
.css_codrfid_det_line {height:0px;text-align: left;}
.css_fecha_registro_det_label {text-align: left;vertical-align: middle;}
.css_fecha_registro_det_line {height:0px;text-align: left;}
.css_uidtrans_det_label {text-align: left;vertical-align: middle;}
.css_uidtrans_det_line {height:0px;text-align: left;}
.css_idsale_det_label {text-align: left;vertical-align: middle;}
.css_idsale_det_line {height:0px;text-align: left;}
.css_idproducto_det_label {text-align: left;vertical-align: middle;}
.css_idproducto_det_line {height:0px;text-align: left;}
.css_ultdevice_det_label {text-align: left;vertical-align: middle;}
.css_ultdevice_det_line {height:0px;text-align: left;}
.css_ultfecha_det_label {text-align: left;vertical-align: middle;}
.css_ultfecha_det_line {height:0px;text-align: left;}
.css_estado_det_label {text-align: left;vertical-align: middle;}
.css_estado_det_line {height:0px;text-align: left;}
.css_nombre_det_label {text-align: left;vertical-align: middle;}
.css_nombre_det_line {height:0px;text-align: left;}
.css_fecha_nacimiento_det_label {text-align: left;vertical-align: middle;}
.css_fecha_nacimiento_det_line {height:0px;text-align: left;}
.css_genero_det_label {text-align: left;vertical-align: middle;}
.css_genero_det_line {height:0px;text-align: left;}
.css_username_det_label {text-align: left;vertical-align: middle;}
.css_username_det_line {height:0px;text-align: left;}
.css_fecha_activacion_det_label {text-align: left;vertical-align: middle;}
.css_fecha_activacion_det_line {height:0px;text-align: left;}
.css_fecha_entrada_det_label {text-align: left;vertical-align: middle;}
.css_fecha_entrada_det_line {height:0px;text-align: left;}
.css_fecha_salida_det_label {text-align: left;vertical-align: middle;}
.css_fecha_salida_det_line {height:0px;text-align: left;}
.css_producto_det_label {text-align: left;vertical-align: middle;}
.css_producto_det_line {height:0px;text-align: left;}
.css_entrada_det_label {text-align: left;vertical-align: middle;}
.css_entrada_det_line {height:0px;text-align: left;}
.css_jugador_det_label {text-align: left;vertical-align: middle;}
.css_jugador_det_line {height:0px;text-align: left;}
.css_visitante_det_label {text-align: left;vertical-align: middle;}
.css_visitante_det_line {height:0px;text-align: left;}
.css_tarjeta_det_label {text-align: left;vertical-align: middle;}
.css_tarjeta_det_line {height:0px;text-align: left;}
.css_tokens_det_label {text-align: left;vertical-align: middle;}
.css_tokens_det_line {height:0px;text-align: left;}
.css_minutos_det_label {text-align: left;vertical-align: middle;}
.css_minutos_det_line {height:0px;text-align: left;}
.css_comida_det_label {text-align: left;vertical-align: middle;}
.css_comida_det_line {height:0px;text-align: left;}
.css_puntos_det_label {text-align: left;vertical-align: middle;}
.css_puntos_det_line {height:0px;text-align: left;}
.css_registro_det_label {text-align: left;vertical-align: middle;}
.css_registro_det_line {height:0px;text-align: left;}
.css_idchar_det_label {text-align: left;vertical-align: middle;}
.css_idchar_det_line {height:0px;text-align: left;}
