.css_idegreso_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idegreso_grid_line {vertical-align: top;text-align: right;}
.css_descrip_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descrip_grid_line {vertical-align: top;text-align: left;}
.css_activo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_activo_grid_line {vertical-align: top;text-align: right;}
