.css_idegreso_det_label {text-align: right;vertical-align: middle;}
.css_idegreso_det_line {height:0px;text-align: right;}
.css_descrip_det_label {text-align: right;vertical-align: middle;}
.css_descrip_det_line {height:0px;text-align: right;}
.css_activo_det_label {text-align: right;vertical-align: middle;}
.css_activo_det_line {height:0px;text-align: right;}
