.css_idegreso_det_label {text-align: left;vertical-align: middle;}
.css_idegreso_det_line {height:0px;text-align: left;}
.css_descrip_det_label {text-align: left;vertical-align: middle;}
.css_descrip_det_line {height:0px;text-align: left;}
.css_activo_det_label {text-align: left;vertical-align: middle;}
.css_activo_det_line {height:0px;text-align: left;}
