.css_datepurchase_label { }
.css_datepurchase_line { }
.css_datepurchase_obj { }
.css_total_label { }
.css_total_line {text-align:left;}
.css_total_obj {text-align:left;}
.css_id_status_label { }
.css_id_status_line {text-align:left;}
.css_id_status_obj {text-align:left;}
.css_id_supplier_label { }
.css_id_supplier_line {text-align:left;}
.css_id_supplier_obj {text-align:left;}
.css_factura_proveedor_label { }
.css_factura_proveedor_line { }
.css_factura_proveedor_obj { }
.css_comment_label { }
.css_comment_line { }
.css_comment_obj { }
.css_detail_label { }
.css_detail_line { }
.css_detail_obj { }
