.css_tipodocto31_label { }
.css_tipodocto31_line { }
.css_tipodocto31_obj { }
.css_nofact31_label { }
.css_nofact31_line { }
.css_nofact31_obj { }
.css_nocte31_label { }
.css_nocte31_line { }
.css_nocte31_obj { }
.css_nomcte31_label { }
.css_nomcte31_line { }
.css_nomcte31_obj { }
.css_localid31_label { }
.css_localid31_line { }
.css_localid31_obj { }
.css_cvectenegro31_label { }
.css_cvectenegro31_line { }
.css_cvectenegro31_obj { }
.css_vtabta31_label { }
.css_vtabta31_line {text-align:left;}
.css_vtabta31_obj {text-align:left;}
.css_descto31_label { }
.css_descto31_line {text-align:left;}
.css_descto31_obj {text-align:left;}
.css_flete31_label { }
.css_flete31_line {text-align:left;}
.css_flete31_obj {text-align:left;}
.css_itm31_label { }
.css_itm31_line {text-align:left;}
.css_itm31_obj {text-align:left;}
.css_novend31_label { }
.css_novend31_line { }
.css_novend31_obj { }
.css_fecfact31_label { }
.css_fecfact31_line { }
.css_fecfact31_obj { }
.css_condpag31_label { }
.css_condpag31_line { }
.css_condpag31_obj { }
.css_nopagos31_label { }
.css_nopagos31_line { }
.css_nopagos31_obj { }
.css_formapago31_label { }
.css_formapago31_line { }
.css_formapago31_obj { }
.css_obra31_label { }
.css_obra31_line { }
.css_obra31_obj { }
.css_orden31_label { }
.css_orden31_line { }
.css_orden31_obj { }
.css_cvnegra31_label { }
.css_cvnegra31_line { }
.css_cvnegra31_obj { }
.css_status31_label { }
.css_status31_line { }
.css_status31_obj { }
.css_cvimpto31_label { }
.css_cvimpto31_line { }
.css_cvimpto31_obj { }
.css_cvanulado31_label { }
.css_cvanulado31_line { }
.css_cvanulado31_obj { }
.css_efectivo31_label { }
.css_efectivo31_line {text-align:left;}
.css_efectivo31_obj {text-align:left;}
.css_cheque31_label { }
.css_cheque31_line {text-align:left;}
.css_cheque31_obj {text-align:left;}
.css_tarjeta31_label { }
.css_tarjeta31_line {text-align:left;}
.css_tarjeta31_obj {text-align:left;}
.css_acuenta31_label { }
.css_acuenta31_line {text-align:left;}
.css_acuenta31_obj {text-align:left;}
.css_nobanco31_label { }
.css_nobanco31_line { }
.css_nobanco31_obj { }
.css_nombanco31_label { }
.css_nombanco31_line { }
.css_nombanco31_obj { }
.css_nocheque31_label { }
.css_nocheque31_line { }
.css_nocheque31_obj { }
.css_notarjeta31_label { }
.css_notarjeta31_line { }
.css_notarjeta31_obj { }
.css_nomtarjeta31_label { }
.css_nomtarjeta31_line { }
.css_nomtarjeta31_obj { }
.css_cvdivisa31_label { }
.css_cvdivisa31_line { }
.css_cvdivisa31_obj { }
.css_valdivisa31_label { }
.css_valdivisa31_line { }
.css_valdivisa31_obj { }
.css_lineaprod31_label { }
.css_lineaprod31_line { }
.css_lineaprod31_obj { }
.css_intereses31_label { }
.css_intereses31_line {text-align:left;}
.css_intereses31_obj {text-align:left;}
.css_nopedido31_label { }
.css_nopedido31_line { }
.css_nopedido31_obj { }
.css_fecped31_label { }
.css_fecped31_line { }
.css_fecped31_obj { }
.css_ruc31_label { }
.css_ruc31_line { }
.css_ruc31_obj { }
.css_tel31_label { }
.css_tel31_line { }
.css_tel31_obj { }
.css_transpor31_label { }
.css_transpor31_line { }
.css_transpor31_obj { }
.css_cvtransfer31_label { }
.css_cvtransfer31_line { }
.css_cvtransfer31_obj { }
.css_fectrasfer31_label { }
.css_fectrasfer31_line { }
.css_fectrasfer31_obj { }
.css_desctofp31_label { }
.css_desctofp31_line {text-align:left;}
.css_desctofp31_obj {text-align:left;}
.css_catcte31_label { }
.css_catcte31_line { }
.css_catcte31_obj { }
.css_uid_label { }
.css_uid_line {text-align:left;}
.css_uid_obj {text-align:left;}
.css_recargos31_label { }
.css_recargos31_line {text-align:left;}
.css_recargos31_obj {text-align:left;}
.css_ice31_label { }
.css_ice31_line {text-align:left;}
.css_ice31_obj {text-align:left;}
.css_fecdocpr31_label { }
.css_fecdocpr31_line { }
.css_fecdocpr31_obj { }
.css_tipocomp31_label { }
.css_tipocomp31_line { }
.css_tipocomp31_obj { }
.css_conta31_label { }
.css_conta31_line {text-align:left;}
.css_conta31_obj {text-align:left;}
.css_fecvencidocpr_label { }
.css_fecvencidocpr_line { }
.css_fecvencidocpr_obj { }
.css_totsiniva31_label { }
.css_totsiniva31_line {text-align:left;}
.css_totsiniva31_obj {text-align:left;}
.css_fecemb_label { }
.css_fecemb_line { }
.css_fecemb_obj { }
.css_norefrendo_label { }
.css_norefrendo_line { }
.css_norefrendo_obj { }
.css_baseice_label { }
.css_baseice_line {text-align:left;}
.css_baseice_obj {text-align:left;}
.css_ncodret43_label { }
.css_ncodret43_line { }
.css_ncodret43_obj { }
.css_nbaseret43_label { }
.css_nbaseret43_line {text-align:left;}
.css_nbaseret43_obj {text-align:left;}
.css_npctjeret43_label { }
.css_npctjeret43_line {text-align:left;}
.css_npctjeret43_obj {text-align:left;}
.css_contrato_label { }
.css_contrato_line { }
.css_contrato_obj { }
.css_compra_general_label { }
.css_compra_general_line { }
.css_compra_general_obj { }
.css_distribucion_rubros_label { }
.css_distribucion_rubros_line { }
.css_distribucion_rubros_obj { }
.css_dstoley_label { }
.css_dstoley_line {text-align:left;}
.css_dstoley_obj {text-align:left;}
.css_remgas31_label { }
.css_remgas31_line { }
.css_remgas31_obj { }
.css_estado_electronico_label { }
.css_estado_electronico_line {text-align:left;}
.css_estado_electronico_obj {text-align:left;}
.css_coddest31_label { }
.css_coddest31_line { }
.css_coddest31_obj { }
