.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_ruc_det_label {text-align: left;vertical-align: middle;}
.css_ruc_det_line {height:0px;text-align: left;}
.css_establecimiento_det_label {text-align: left;vertical-align: middle;}
.css_establecimiento_det_line {height:0px;text-align: left;}
.css_nombre_comercial_det_label {text-align: left;vertical-align: middle;}
.css_nombre_comercial_det_line {height:0px;text-align: left;}
.css_direccion_det_label {text-align: left;vertical-align: middle;}
.css_direccion_det_line {height:0px;text-align: left;}
