.css_NM_Count_cnt_field {text-align: right}
.css_quantity_sum_label {text-align: right; vertical-align: top}
.css_quantity_sum_field {text-align: right; vertical-align: top}
.css_unit_cost_avg_label {text-align: right; vertical-align: top}
.css_unit_cost_avg_field {text-align: right; vertical-align: top}
.css_unit_venta_avg_label {text-align: right; vertical-align: top}
.css_unit_venta_avg_field {text-align: right; vertical-align: top}
.css_costo_unit_venta_avg_label {text-align: right; vertical-align: top}
.css_costo_unit_venta_avg_field {text-align: right; vertical-align: top}
.css_costo_compra_sum_label {text-align: right; vertical-align: top}
.css_costo_compra_sum_field {text-align: right; vertical-align: top}
.css_valor_venta_sum_label {text-align: right; vertical-align: top}
.css_valor_venta_sum_field {text-align: right; vertical-align: top}
.css_costo_venta_sum_label {text-align: right; vertical-align: top}
.css_costo_venta_sum_field {text-align: right; vertical-align: top}
