.css_id_product_det_label {text-align: right;vertical-align: middle;}
.css_id_product_det_line {height:0px;text-align: right;}
.css_quantity_det_label {text-align: right;vertical-align: middle;}
.css_quantity_det_line {height:0px;text-align: right;}
.css_iddoc_det_label {text-align: right;vertical-align: middle;}
.css_iddoc_det_line {height:0px;text-align: right;}
.css_fecha_det_label {text-align: right;vertical-align: middle;}
.css_fecha_det_line {height:0px;text-align: right;}
.css_tipo_det_label {text-align: right;vertical-align: middle;}
.css_tipo_det_line {height:0px;text-align: right;}
.css_product_name_det_label {text-align: right;vertical-align: middle;}
.css_product_name_det_line {height:0px;text-align: right;}
.css_unit_cost_det_label {text-align: right;vertical-align: middle;}
.css_unit_cost_det_line {height:0px;text-align: right;}
.css_unit_venta_det_label {text-align: right;vertical-align: middle;}
.css_unit_venta_det_line {height:0px;text-align: right;}
.css_costo_unit_venta_det_label {text-align: right;vertical-align: middle;}
.css_costo_unit_venta_det_line {height:0px;text-align: right;}
.css_costo_compra_det_label {text-align: right;vertical-align: middle;}
.css_costo_compra_det_line {height:0px;text-align: right;}
.css_valor_venta_det_label {text-align: right;vertical-align: middle;}
.css_valor_venta_det_line {height:0px;text-align: right;}
.css_costo_venta_det_label {text-align: right;vertical-align: middle;}
.css_costo_venta_det_line {height:0px;text-align: right;}
