.css_ctahiscon_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ctahiscon_grid_line {vertical-align: top;text-align: right;}
.css_fechahis_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechahis_grid_line {vertical-align: top;text-align: center;}
.css_tipocomptehis_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipocomptehis_grid_line {vertical-align: top;text-align: right;}
.css_numcomptehis_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_numcomptehis_grid_line {vertical-align: top;text-align: right;}
.css_ocurrenciahis_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ocurrenciahis_grid_line {vertical-align: top;text-align: right;}
.css_nochequehis_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nochequehis_grid_line {vertical-align: top;text-align: right;}
