.css_ctahiscon_det_label {text-align: left;vertical-align: middle;}
.css_ctahiscon_det_line {height:0px;text-align: left;}
.css_fechahis_det_label {text-align: left;vertical-align: middle;}
.css_fechahis_det_line {height:0px;text-align: left;}
.css_tipocomptehis_det_label {text-align: left;vertical-align: middle;}
.css_tipocomptehis_det_line {height:0px;text-align: left;}
.css_numcomptehis_det_label {text-align: left;vertical-align: middle;}
.css_numcomptehis_det_line {height:0px;text-align: left;}
.css_ocurrenciahis_det_label {text-align: left;vertical-align: middle;}
.css_ocurrenciahis_det_line {height:0px;text-align: left;}
.css_nochequehis_det_label {text-align: left;vertical-align: middle;}
.css_nochequehis_det_line {height:0px;text-align: left;}
.css_dethis_det_label {text-align: left;vertical-align: middle;}
.css_dethis_det_line {height:0px;text-align: left;}
.css_db1cr2his_det_label {text-align: left;vertical-align: middle;}
.css_db1cr2his_det_line {height:0px;text-align: left;}
.css_valorhis_det_label {text-align: left;vertical-align: middle;}
.css_valorhis_det_line {height:0px;text-align: left;}
.css_sdoctahis_det_label {text-align: left;vertical-align: middle;}
.css_sdoctahis_det_line {height:0px;text-align: left;}
.css_uid_det_label {text-align: left;vertical-align: middle;}
.css_uid_det_line {height:0px;text-align: left;}
.css_estado_det_label {text-align: left;vertical-align: middle;}
.css_estado_det_line {height:0px;text-align: left;}
.css_cvtransferhis_det_label {text-align: left;vertical-align: middle;}
.css_cvtransferhis_det_line {height:0px;text-align: left;}
.css_ctamodulo_det_label {text-align: left;vertical-align: middle;}
.css_ctamodulo_det_line {height:0px;text-align: left;}
.css_doccons_det_label {text-align: left;vertical-align: middle;}
.css_doccons_det_line {height:0px;text-align: left;}
.css_beneficiario_det_label {text-align: left;vertical-align: middle;}
.css_beneficiario_det_line {height:0px;text-align: left;}
.css_conciliado_det_label {text-align: left;vertical-align: middle;}
.css_conciliado_det_line {height:0px;text-align: left;}
.css_codcons_det_label {text-align: left;vertical-align: middle;}
.css_codcons_det_line {height:0px;text-align: left;}
.css_manualcons_det_label {text-align: left;vertical-align: middle;}
.css_manualcons_det_line {height:0px;text-align: left;}
.css_cerradocons_det_label {text-align: left;vertical-align: middle;}
.css_cerradocons_det_line {height:0px;text-align: left;}
.css_fechconciliado_det_label {text-align: left;vertical-align: middle;}
.css_fechconciliado_det_line {height:0px;text-align: left;}
.css_fechcerrado_det_label {text-align: left;vertical-align: middle;}
.css_fechcerrado_det_line {height:0px;text-align: left;}
.css_tipocomptehis_cierre_det_label {text-align: left;vertical-align: middle;}
.css_tipocomptehis_cierre_det_line {height:0px;text-align: left;}
.css_cc01_det_label {text-align: left;vertical-align: middle;}
.css_cc01_det_line {height:0px;text-align: left;}
.css_cc02_det_label {text-align: left;vertical-align: middle;}
.css_cc02_det_line {height:0px;text-align: left;}
.css_cc03_det_label {text-align: left;vertical-align: middle;}
.css_cc03_det_line {height:0px;text-align: left;}
.css_cc04_det_label {text-align: left;vertical-align: middle;}
.css_cc04_det_line {height:0px;text-align: left;}
.css_cc05_det_label {text-align: left;vertical-align: middle;}
.css_cc05_det_line {height:0px;text-align: left;}
.css_pord_det_label {text-align: left;vertical-align: middle;}
.css_pord_det_line {height:0px;text-align: left;}
.css_idb_det_label {text-align: left;vertical-align: middle;}
.css_idb_det_line {height:0px;text-align: left;}
.css_tipodoc_det_label {text-align: left;vertical-align: middle;}
.css_tipodoc_det_line {height:0px;text-align: left;}
.css_numdoc_det_label {text-align: left;vertical-align: middle;}
.css_numdoc_det_line {height:0px;text-align: left;}
.css_modulo_det_label {text-align: left;vertical-align: middle;}
.css_modulo_det_line {height:0px;text-align: left;}
.css_cvanuladohis_det_label {text-align: left;vertical-align: middle;}
.css_cvanuladohis_det_line {height:0px;text-align: left;}
.css_identificacion_det_label {text-align: left;vertical-align: middle;}
.css_identificacion_det_line {height:0px;text-align: left;}
.css_estado_anio_det_label {text-align: left;vertical-align: middle;}
.css_estado_anio_det_line {height:0px;text-align: left;}
.css_numcomptehis_cierre_det_label {text-align: left;vertical-align: middle;}
.css_numcomptehis_cierre_det_line {height:0px;text-align: left;}
