.css_codcte01_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_codcte01_grid_line {vertical-align: top;text-align: right;}
.css_tipo_cliente_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tipo_cliente_grid_line {vertical-align: top;text-align: right;}
.css_id_nacionalidad_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_nacionalidad_grid_line {vertical-align: top;text-align: right;}
.css_nomcte01_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nomcte01_grid_line {vertical-align: top;text-align: left;}
.css_primer_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_primer_nombre_grid_line {vertical-align: top;text-align: left;}
.css_segundo_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_segundo_nombre_grid_line {vertical-align: top;text-align: left;}
