.css_id_product_det_label {text-align: right;vertical-align: middle;}
.css_id_product_det_line {height:0px;text-align: right;}
.css_quantity_det_label {text-align: right;vertical-align: middle;}
.css_quantity_det_line {height:0px;text-align: right;}
.css_item_total_det_label {text-align: right;vertical-align: middle;}
.css_item_total_det_line {height:0px;text-align: right;}
.css_idturno_det_label {text-align: right;vertical-align: middle;}
.css_idturno_det_line {height:0px;text-align: right;}
.css_serie_det_label {text-align: right;vertical-align: middle;}
.css_serie_det_line {height:0px;text-align: right;}
.css_idcliente_det_label {text-align: right;vertical-align: middle;}
.css_idcliente_det_line {height:0px;text-align: right;}
.css_idempleado_det_label {text-align: right;vertical-align: middle;}
.css_idempleado_det_line {height:0px;text-align: right;}
