.css_idreg_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idreg_grid_line {vertical-align: top;text-align: right;}
.css_idcustomer_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idcustomer_grid_line {vertical-align: top;text-align: left;}
.css_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombre_grid_line {vertical-align: top;text-align: left;}
.css_correo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_correo_grid_line {vertical-align: top;text-align: left;}
.css_celular_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_celular_grid_line {vertical-align: top;text-align: left;}
.css_idinterno_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idinterno_grid_line {vertical-align: top;text-align: left;}
.css_direccion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_direccion_grid_line {vertical-align: top;text-align: left;}
.css_tipodoc_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipodoc_grid_line {vertical-align: top;text-align: left;}
.css_ult_fecha_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ult_fecha_grid_line {vertical-align: top;text-align: left;}
.css_local_centro_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_local_centro_grid_line {vertical-align: top;text-align: left;}
.css_cliente_tipo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cliente_tipo_grid_line {vertical-align: top;text-align: left;}
.css_afiliado_desde_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_afiliado_desde_grid_line {vertical-align: top;text-align: center;}
.css_sector_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sector_grid_line {vertical-align: top;text-align: left;}
.css_estado_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_estado_grid_line {vertical-align: top;text-align: right;}
.css_uniqueid_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_uniqueid_grid_line {vertical-align: top;text-align: left;}
.css_ciudad_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ciudad_grid_line {vertical-align: top;text-align: left;}
.css_pais_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pais_grid_line {vertical-align: top;text-align: left;}
.css_fecha1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fecha1_grid_line {vertical-align: top;text-align: left;}
.css_fecha2_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fecha2_grid_line {vertical-align: top;text-align: left;}
.css_fecha3_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fecha3_grid_line {vertical-align: top;text-align: left;}
