.css_idreg_det_label {text-align: right;vertical-align: middle;}
.css_idreg_det_line {height:0px;text-align: right;}
.css_idcustomer_det_label {text-align: right;vertical-align: middle;}
.css_idcustomer_det_line {height:0px;text-align: right;}
.css_nombre_det_label {text-align: right;vertical-align: middle;}
.css_nombre_det_line {height:0px;text-align: right;}
.css_correo_det_label {text-align: right;vertical-align: middle;}
.css_correo_det_line {height:0px;text-align: right;}
.css_celular_det_label {text-align: right;vertical-align: middle;}
.css_celular_det_line {height:0px;text-align: right;}
.css_idinterno_det_label {text-align: right;vertical-align: middle;}
.css_idinterno_det_line {height:0px;text-align: right;}
.css_direccion_det_label {text-align: right;vertical-align: middle;}
.css_direccion_det_line {height:0px;text-align: right;}
.css_tipodoc_det_label {text-align: right;vertical-align: middle;}
.css_tipodoc_det_line {height:0px;text-align: right;}
.css_ult_fecha_det_label {text-align: right;vertical-align: middle;}
.css_ult_fecha_det_line {height:0px;text-align: right;}
.css_local_centro_det_label {text-align: right;vertical-align: middle;}
.css_local_centro_det_line {height:0px;text-align: right;}
.css_cliente_tipo_det_label {text-align: right;vertical-align: middle;}
.css_cliente_tipo_det_line {height:0px;text-align: right;}
.css_afiliado_desde_det_label {text-align: right;vertical-align: middle;}
.css_afiliado_desde_det_line {height:0px;text-align: right;}
.css_sector_det_label {text-align: right;vertical-align: middle;}
.css_sector_det_line {height:0px;text-align: right;}
.css_estado_det_label {text-align: right;vertical-align: middle;}
.css_estado_det_line {height:0px;text-align: right;}
.css_uniqueid_det_label {text-align: right;vertical-align: middle;}
.css_uniqueid_det_line {height:0px;text-align: right;}
.css_ciudad_det_label {text-align: right;vertical-align: middle;}
.css_ciudad_det_line {height:0px;text-align: right;}
.css_pais_det_label {text-align: right;vertical-align: middle;}
.css_pais_det_line {height:0px;text-align: right;}
.css_fecha1_det_label {text-align: right;vertical-align: middle;}
.css_fecha1_det_line {height:0px;text-align: right;}
.css_fecha2_det_label {text-align: right;vertical-align: middle;}
.css_fecha2_det_line {height:0px;text-align: right;}
.css_fecha3_det_label {text-align: right;vertical-align: middle;}
.css_fecha3_det_line {height:0px;text-align: right;}
