.css_ideg_det_label {text-align: left;vertical-align: middle;}
.css_ideg_det_line {height:0px;text-align: left;}
.css_fechacierre_det_label {text-align: left;vertical-align: middle;}
.css_fechacierre_det_line {height:0px;text-align: left;}
.css_valor_det_label {text-align: left;vertical-align: middle;}
.css_valor_det_line {height:0px;text-align: left;}
.css_observacion_det_label {text-align: left;vertical-align: middle;}
.css_observacion_det_line {height:0px;text-align: left;}
.css_tipoe_det_label {text-align: left;vertical-align: middle;}
.css_tipoe_det_line {height:0px;text-align: left;}
.css_fecharegistro_det_label {text-align: left;vertical-align: middle;}
.css_fecharegistro_det_line {height:0px;text-align: left;}
.css_estado_det_label {text-align: left;vertical-align: middle;}
.css_estado_det_line {height:0px;text-align: left;}
.css_percod_det_label {text-align: left;vertical-align: middle;}
.css_percod_det_line {height:0px;text-align: left;}
.css_documento_det_label {text-align: left;vertical-align: middle;}
.css_documento_det_line {height:0px;text-align: left;}
.css_documentonombre_det_label {text-align: left;vertical-align: middle;}
.css_documentonombre_det_line {height:0px;text-align: left;}
.css_documentosize_det_label {text-align: left;vertical-align: middle;}
.css_documentosize_det_line {height:0px;text-align: left;}
