.css_ideg_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ideg_grid_line {vertical-align: top;text-align: right;}
.css_tipoe_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tipoe_grid_line {vertical-align: top;text-align: right;}
.css_valor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_grid_line {vertical-align: top;text-align: right;}
.css_valor_tot_ger {text-align: right;}
.css_observacion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_observacion_grid_line {vertical-align: top;text-align: left;}
.css_fecharegistro_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecharegistro_grid_line {vertical-align: top;text-align: center;}
.css_percod_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_percod_grid_line {vertical-align: top;text-align: left;}
.css_documento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_documento_grid_line {vertical-align: top;text-align: left;}
.css_fechacierre_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechacierre_grid_line {vertical-align: top;text-align: center;}
