.css_cod_producto_grid_line {vertical-align: top;text-align: right;}
.css_cantidad_grid_line {vertical-align: top;text-align: right;}
.css_idtrans_grid_line {vertical-align: top;text-align: right;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_valor_grid_line {vertical-align: top;text-align: right;}
.css_estado_grid_line {vertical-align: top;text-align: right;}
