.css_codprod01_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codprod01_grid_line {vertical-align: top;text-align: left;}
.css_desprod01_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_desprod01_grid_line {vertical-align: top;text-align: left;}
.css_cve101_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cve101_grid_line {vertical-align: top;text-align: left;}
.css_cve201_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cve201_grid_line {vertical-align: top;text-align: left;}
.css_unidmed01_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_unidmed01_grid_line {vertical-align: top;text-align: left;}
.css_cantmin01_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cantmin01_grid_line {vertical-align: top;text-align: right;}
