.css_qrboleto_det_label {text-align: left;vertical-align: middle;}
.css_qrboleto_det_line {height:0px;text-align: left;}
.css_fecha_registro_det_label {text-align: left;vertical-align: middle;}
.css_fecha_registro_det_line {height:0px;text-align: left;}
.css_idsale_det_label {text-align: left;vertical-align: middle;}
.css_idsale_det_line {height:0px;text-align: left;}
.css_idproducto_det_label {text-align: left;vertical-align: middle;}
.css_idproducto_det_line {height:0px;text-align: left;}
.css_estado_det_label {text-align: left;vertical-align: middle;}
.css_estado_det_line {height:0px;text-align: left;}
.css_nombre_det_label {text-align: left;vertical-align: middle;}
.css_nombre_det_line {height:0px;text-align: left;}
.css_fecha_nacimiento_det_label {text-align: left;vertical-align: middle;}
.css_fecha_nacimiento_det_line {height:0px;text-align: left;}
.css_genero_det_label {text-align: left;vertical-align: middle;}
.css_genero_det_line {height:0px;text-align: left;}
.css_username_det_label {text-align: left;vertical-align: middle;}
.css_username_det_line {height:0px;text-align: left;}
.css_fecha_activacion_det_label {text-align: left;vertical-align: middle;}
.css_fecha_activacion_det_line {height:0px;text-align: left;}
.css_fecha_entrada_det_label {text-align: left;vertical-align: middle;}
.css_fecha_entrada_det_line {height:0px;text-align: left;}
.css_fecha_salida_det_label {text-align: left;vertical-align: middle;}
.css_fecha_salida_det_line {height:0px;text-align: left;}
.css_producto_det_label {text-align: left;vertical-align: middle;}
.css_producto_det_line {height:0px;text-align: left;}
.css_entrada_det_label {text-align: left;vertical-align: middle;}
.css_entrada_det_line {height:0px;text-align: left;}
.css_jugador_det_label {text-align: left;vertical-align: middle;}
.css_jugador_det_line {height:0px;text-align: left;}
.css_visitante_det_label {text-align: left;vertical-align: middle;}
.css_visitante_det_line {height:0px;text-align: left;}
.css_minutos_det_label {text-align: left;vertical-align: middle;}
.css_minutos_det_line {height:0px;text-align: left;}
.css_califica_det_label {text-align: left;vertical-align: middle;}
.css_califica_det_line {height:0px;text-align: left;}
.css_fecha_califica_det_label {text-align: left;vertical-align: middle;}
.css_fecha_califica_det_line {height:0px;text-align: left;}
.css_cliente_det_label {text-align: left;vertical-align: middle;}
.css_cliente_det_line {height:0px;text-align: left;}
.css_idcliente_det_label {text-align: left;vertical-align: middle;}
.css_idcliente_det_line {height:0px;text-align: left;}
.css_telefono_det_label {text-align: left;vertical-align: middle;}
.css_telefono_det_line {height:0px;text-align: left;}
.css_cliente_email_det_label {text-align: left;vertical-align: middle;}
.css_cliente_email_det_line {height:0px;text-align: left;}
.css_serie_det_label {text-align: left;vertical-align: middle;}
.css_serie_det_line {height:0px;text-align: left;}
