.css_quitar_grid_line {text-align: center;}
.css_quantity_grid_line {font-family:Geneva, Arial, sans-serif;font-size:14px;font-weight:bold;vertical-align: top;text-align: center;}
.css_imagen_grid_line {vertical-align: top;text-align: left;}
.css_product_name_grid_line {font-family:Helvetica, Arial, sans-serif;font-size:16px;font-weight:bold;vertical-align: top;text-align: left;}
.css_item_total_grid_line {font-family:Helvetica, Arial, sans-serif;font-size:16px;font-weight:bold;vertical-align: top;text-align: center;}
.css_item_total_tot_ger {text-align: center;font-family:Geneva, Arial, sans-serif;font-size:24px;color:#FFFFFF;}
.css_combos_recetas_grid_line {text-align: center;}
.css_id_sales_detail_grid_line {vertical-align: top;text-align: right;}
.css_id_sales_grid_line {vertical-align: top;text-align: right;}
.css_unit_cost_grid_line {vertical-align: top;text-align: right;}
.css_unit_value_grid_line {font-family:Geneva, Arial, sans-serif;font-size:15px;font-weight:bold;vertical-align: top;text-align: center;}
.css_discount_grid_line {vertical-align: top;text-align: right;}
