.css_NM_Count_cnt_field {text-align: right}
.css_view_sales_detail_group_todo_cantidad_sum_label {text-align: right; vertical-align: top}
.css_view_sales_detail_group_todo_cantidad_sum_field {text-align: right; vertical-align: top}
.css_valor_sum_label {text-align: right; vertical-align: top}
.css_valor_sum_field {text-align: right; vertical-align: top}
