.css_product_name__label { }
.css_product_name__line { }
.css_product_name__obj { }
.css_product_code__label { }
.css_product_code__line { }
.css_product_code__obj { }
.css_id_status__label { }
.css_id_status__line {text-align:left;}
.css_id_status__obj {text-align:left;}
.css_dateproduct__label { }
.css_dateproduct__line { }
.css_dateproduct__obj { }
.css_product_value__label { }
.css_product_value__line {text-align:left;}
.css_product_value__obj {text-align:left;}
.css_product_cost__label { }
.css_product_cost__line {text-align:left;}
.css_product_cost__obj {text-align:left;}
.css_discount__label { }
.css_discount__line {text-align:left;}
.css_discount__obj {text-align:left;}
.css_stock__label { }
.css_stock__line {text-align:left;}
.css_stock__obj {text-align:left;}
.css_id_category__label { }
.css_id_category__line {text-align:left;}
.css_id_category__obj {text-align:left;}
.css_image__label { }
.css_image__line { }
.css_image__obj { }
.css_service__label { }
.css_service__line {text-align:left;}
.css_service__obj {text-align:left;}
.css_kiosko__label { }
.css_kiosko__line {text-align:left;}
.css_kiosko__obj {text-align:left;}
.css_entrada__label { }
.css_entrada__line {text-align:left;}
.css_entrada__obj {text-align:left;}
.css_jugador__label { }
.css_jugador__line {text-align:left;}
.css_jugador__obj {text-align:left;}
.css_visitante__label { }
.css_visitante__line {text-align:left;}
.css_visitante__obj {text-align:left;}
.css_tarjeta__label { }
.css_tarjeta__line {text-align:left;}
.css_tarjeta__obj {text-align:left;}
.css_minutos__label { }
.css_minutos__line {text-align:left;}
.css_minutos__obj {text-align:left;}
.css_tokens__label { }
.css_tokens__line {text-align:left;}
.css_tokens__obj {text-align:left;}
.css_comida__label { }
.css_comida__line {text-align:left;}
.css_comida__obj {text-align:left;}
.css_score__label { }
.css_score__line {text-align:left;}
.css_score__obj {text-align:left;}
.css_poriva__label { }
.css_poriva__line {text-align:left;}
.css_poriva__obj {text-align:left;}
.css_cuentaventa__label { }
.css_cuentaventa__line { }
.css_cuentaventa__obj { }
.css_unidad__label { }
.css_unidad__line { }
.css_unidad__obj { }
.css_tipoitem__label { }
.css_tipoitem__line { }
.css_tipoitem__obj { }
.css_cuentacompra__label { }
.css_cuentacompra__line { }
.css_cuentacompra__obj { }
.css_precioventa__label { }
.css_precioventa__line {text-align:left;}
.css_precioventa__obj {text-align:left;}
.css_puntoventa__label { }
.css_puntoventa__line {text-align:left;}
.css_puntoventa__obj {text-align:left;}
