.css_id_sales_det_label {text-align: right;vertical-align: middle;}
.css_id_sales_det_line {height:0px;text-align: right;}
.css_sales_price_det_label {text-align: right;vertical-align: middle;}
.css_sales_price_det_line {height:0px;text-align: right;}
.css_sales_discount_det_label {text-align: right;vertical-align: middle;}
.css_sales_discount_det_line {height:0px;text-align: right;}
.css_total_det_label {text-align: right;vertical-align: middle;}
.css_total_det_line {height:0px;text-align: right;}
.css_datesales_det_label {text-align: right;vertical-align: middle;}
.css_datesales_det_line {height:0px;text-align: right;}
.css_id_status_det_label {text-align: right;vertical-align: middle;}
.css_id_status_det_line {height:0px;text-align: right;}
.css_idcaja_det_label {text-align: right;vertical-align: middle;}
.css_idcaja_det_line {height:0px;text-align: right;}
.css_idcliente_det_label {text-align: right;vertical-align: middle;}
.css_idcliente_det_line {height:0px;text-align: right;}
.css_cliente_det_label {text-align: right;vertical-align: middle;}
.css_cliente_det_line {height:0px;text-align: right;}
.css_direccion_det_label {text-align: right;vertical-align: middle;}
.css_direccion_det_line {height:0px;text-align: right;}
.css_telefono_det_label {text-align: right;vertical-align: middle;}
.css_telefono_det_line {height:0px;text-align: right;}
.css_factura_det_label {text-align: right;vertical-align: middle;}
.css_factura_det_line {height:0px;text-align: right;}
.css_serie_det_label {text-align: right;vertical-align: middle;}
.css_serie_det_line {height:0px;text-align: right;}
.css_clave_acceso_det_label {text-align: right;vertical-align: middle;}
.css_clave_acceso_det_line {height:0px;text-align: right;}
.css_enviosri_det_label {text-align: right;vertical-align: middle;}
.css_enviosri_det_line {height:0px;text-align: right;}
.css_fechaenvio_det_label {text-align: right;vertical-align: middle;}
.css_fechaenvio_det_line {height:0px;text-align: right;}
.css_uniqueid_det_label {text-align: right;vertical-align: middle;}
.css_uniqueid_det_line {height:0px;text-align: right;}
.css_estado_det_label {text-align: right;vertical-align: middle;}
.css_estado_det_line {height:0px;text-align: right;}
.css_fechaid_det_label {text-align: right;vertical-align: middle;}
.css_fechaid_det_line {height:0px;text-align: right;}
.css_importe_recibido_det_label {text-align: right;vertical-align: middle;}
.css_importe_recibido_det_line {height:0px;text-align: right;}
.css_codigoid_det_label {text-align: right;vertical-align: middle;}
.css_codigoid_det_line {height:0px;text-align: right;}
.css_totalsinimpuestos_det_label {text-align: right;vertical-align: middle;}
.css_totalsinimpuestos_det_line {height:0px;text-align: right;}
.css_totaldescuento_det_label {text-align: right;vertical-align: middle;}
.css_totaldescuento_det_line {height:0px;text-align: right;}
.css_baseimponible_det_label {text-align: right;vertical-align: middle;}
.css_baseimponible_det_line {height:0px;text-align: right;}
.css_valoriva_det_label {text-align: right;vertical-align: middle;}
.css_valoriva_det_line {height:0px;text-align: right;}
.css_importetotal_det_label {text-align: right;vertical-align: middle;}
.css_importetotal_det_line {height:0px;text-align: right;}
.css_idpago_det_label {text-align: right;vertical-align: middle;}
.css_idpago_det_line {height:0px;text-align: right;}
.css_totalpago_det_label {text-align: right;vertical-align: middle;}
.css_totalpago_det_line {height:0px;text-align: right;}
.css_cliente_email_det_label {text-align: right;vertical-align: middle;}
.css_cliente_email_det_line {height:0px;text-align: right;}
.css_idempleado_det_label {text-align: right;vertical-align: middle;}
.css_idempleado_det_line {height:0px;text-align: right;}
.css_idturno_det_label {text-align: right;vertical-align: middle;}
.css_idturno_det_line {height:0px;text-align: right;}
.css_codpago_sri_det_label {text-align: right;vertical-align: middle;}
.css_codpago_sri_det_line {height:0px;text-align: right;}
.css_imprime_det_label {text-align: right;vertical-align: middle;}
.css_imprime_det_line {height:0px;text-align: right;}
.css_comprobante_det_label {text-align: right;vertical-align: middle;}
.css_comprobante_det_line {height:0px;text-align: right;}
.css_id_sales_detail_det_label {text-align: right;vertical-align: middle;}
.css_id_sales_detail_det_line {height:0px;text-align: right;}
.css_unit_cost_det_label {text-align: right;vertical-align: middle;}
.css_unit_cost_det_line {height:0px;text-align: right;}
.css_unit_value_det_label {text-align: right;vertical-align: middle;}
.css_unit_value_det_line {height:0px;text-align: right;}
.css_quantity_det_label {text-align: right;vertical-align: middle;}
.css_quantity_det_line {height:0px;text-align: right;}
.css_discount_det_label {text-align: right;vertical-align: middle;}
.css_discount_det_line {height:0px;text-align: right;}
.css_item_total_det_label {text-align: right;vertical-align: middle;}
.css_item_total_det_line {height:0px;text-align: right;}
.css_id_product_det_label {text-align: right;vertical-align: middle;}
.css_id_product_det_line {height:0px;text-align: right;}
.css_uniqueidtrans_det_label {text-align: right;vertical-align: middle;}
.css_uniqueidtrans_det_line {height:0px;text-align: right;}
.css_fechatrans_det_label {text-align: right;vertical-align: middle;}
.css_fechatrans_det_line {height:0px;text-align: right;}
.css_valor_siniva_det_label {text-align: right;vertical-align: middle;}
.css_valor_siniva_det_line {height:0px;text-align: right;}
.css_valor_unitario_det_label {text-align: right;vertical-align: middle;}
.css_valor_unitario_det_line {height:0px;text-align: right;}
.css_codproducto_det_label {text-align: right;vertical-align: middle;}
.css_codproducto_det_line {height:0px;text-align: right;}
.css_producto_det_label {text-align: right;vertical-align: middle;}
.css_producto_det_line {height:0px;text-align: right;}
.css_entrada_det_label {text-align: right;vertical-align: middle;}
.css_entrada_det_line {height:0px;text-align: right;}
.css_jugador_det_label {text-align: right;vertical-align: middle;}
.css_jugador_det_line {height:0px;text-align: right;}
.css_visitante_det_label {text-align: right;vertical-align: middle;}
.css_visitante_det_line {height:0px;text-align: right;}
.css_tarjeta_det_label {text-align: right;vertical-align: middle;}
.css_tarjeta_det_line {height:0px;text-align: right;}
.css_tokens_det_label {text-align: right;vertical-align: middle;}
.css_tokens_det_line {height:0px;text-align: right;}
.css_minutos_det_label {text-align: right;vertical-align: middle;}
.css_minutos_det_line {height:0px;text-align: right;}
.css_comida_det_label {text-align: right;vertical-align: middle;}
.css_comida_det_line {height:0px;text-align: right;}
.css_cuentaventa_det_label {text-align: right;vertical-align: middle;}
.css_cuentaventa_det_line {height:0px;text-align: right;}
.css_sucursal_det_label {text-align: right;vertical-align: middle;}
.css_sucursal_det_line {height:0px;text-align: right;}
