.css_codcte43_label { }
.css_codcte43_line { }
.css_codcte43_obj { }
.css_tipodoc43_label { }
.css_tipodoc43_line { }
.css_tipodoc43_obj { }
.css_numdoc43_label { }
.css_numdoc43_line { }
.css_numdoc43_obj { }
.css_ocurren43_label { }
.css_ocurren43_line { }
.css_ocurren43_obj { }
.css_cocte43_label { }
.css_cocte43_line { }
.css_cocte43_obj { }
.css_fecdoc43_label { }
.css_fecdoc43_line { }
.css_fecdoc43_obj { }
.css_tipdoc43_label { }
.css_tipdoc43_line { }
.css_tipdoc43_obj { }
.css_numvencob43_label { }
.css_numvencob43_line { }
.css_numvencob43_obj { }
.css_fedoc43_label { }
.css_fedoc43_line { }
.css_fedoc43_obj { }
.css_totdoc43_label { }
.css_totdoc43_line {text-align:left;}
.css_totdoc43_obj {text-align:left;}
.css_detalle43_label { }
.css_detalle43_line { }
.css_detalle43_obj { }
.css_cvanioant43_label { }
.css_cvanioant43_line { }
.css_cvanioant43_obj { }
.css_cvdivisa43_label { }
.css_cvdivisa43_line { }
.css_cvdivisa43_obj { }
.css_valdivisa43_label { }
.css_valdivisa43_line {text-align:left;}
.css_valdivisa43_obj {text-align:left;}
.css_valdivisaori43_label { }
.css_valdivisaori43_line {text-align:left;}
.css_valdivisaori43_obj {text-align:left;}
.css_factcompra43_label { }
.css_factcompra43_line { }
.css_factcompra43_obj { }
.css_seriecompra43_label { }
.css_seriecompra43_line { }
.css_seriecompra43_obj { }
.css_autocompra43_label { }
.css_autocompra43_line { }
.css_autocompra43_obj { }
.css_codret43_label { }
.css_codret43_line { }
.css_codret43_obj { }
.css_valini43_label { }
.css_valini43_line {text-align:left;}
.css_valini43_obj {text-align:left;}
.css_numcuotasord43_label { }
.css_numcuotasord43_line { }
.css_numcuotasord43_obj { }
.css_valormov43_label { }
.css_valormov43_line {text-align:left;}
.css_valormov43_obj {text-align:left;}
.css_saldoregmov43_label { }
.css_saldoregmov43_line {text-align:left;}
.css_saldoregmov43_obj {text-align:left;}
.css_feccobro43_label { }
.css_feccobro43_line { }
.css_feccobro43_obj { }
.css_codpagounif43_label { }
.css_codpagounif43_line { }
.css_codpagounif43_obj { }
.css_tipodocdb43_label { }
.css_tipodocdb43_line { }
.css_tipodocdb43_obj { }
.css_numdocdb43_label { }
.css_numdocdb43_line { }
.css_numdocdb43_obj { }
.css_ocurrecdocdb43_label { }
.css_ocurrecdocdb43_line { }
.css_ocurrecdocdb43_obj { }
.css_numrecibo43_label { }
.css_numrecibo43_line { }
.css_numrecibo43_obj { }
.css_valorabono43_label { }
.css_valorabono43_line {text-align:left;}
.css_valorabono43_obj {text-align:left;}
.css_efectcheque43_label { }
.css_efectcheque43_line { }
.css_efectcheque43_obj { }
.css_saldoexceso43_label { }
.css_saldoexceso43_line {text-align:left;}
.css_saldoexceso43_obj {text-align:left;}
.css_saldocte43_label { }
.css_saldocte43_line {text-align:left;}
.css_saldocte43_obj {text-align:left;}
.css_codpago43_label { }
.css_codpago43_line { }
.css_codpago43_obj { }
.css_numdocpago43_label { }
.css_numdocpago43_line { }
.css_numdocpago43_obj { }
.css_obsdocpago43_label { }
.css_obsdocpago43_line { }
.css_obsdocpago43_obj { }
.css_uid_label { }
.css_uid_line { }
.css_uid_obj { }
.css_cvtransfer43_label { }
.css_cvtransfer43_line { }
.css_cvtransfer43_obj { }
.css_fectransfer43_label { }
.css_fectransfer43_line { }
.css_fectransfer43_obj { }
.css_fecvendoc43_label { }
.css_fecvendoc43_line { }
.css_fecvendoc43_obj { }
.css_fecvenret43_label { }
.css_fecvenret43_line { }
.css_fecvenret43_obj { }
.css_numautoret43_label { }
.css_numautoret43_line { }
.css_numautoret43_obj { }
.css_cvanulado43_label { }
.css_cvanulado43_line { }
.css_cvanulado43_obj { }
.css_conta43_label { }
.css_conta43_line { }
.css_conta43_obj { }
.css_relacioncob43_label { }
.css_relacioncob43_line { }
.css_relacioncob43_obj { }
.css_estadocob43_label { }
.css_estadocob43_line { }
.css_estadocob43_obj { }
.css_nuevocodpago43_label { }
.css_nuevocodpago43_line { }
.css_nuevocodpago43_obj { }
.css_porccomision1_label { }
.css_porccomision1_line {text-align:left;}
.css_porccomision1_obj {text-align:left;}
.css_porccomision2_label { }
.css_porccomision2_line {text-align:left;}
.css_porccomision2_obj {text-align:left;}
.css_porcdesctocomision1_label { }
.css_porcdesctocomision1_line {text-align:left;}
.css_porcdesctocomision1_obj {text-align:left;}
.css_porcdesctocomision2_label { }
.css_porcdesctocomision2_line {text-align:left;}
.css_porcdesctocomision2_obj {text-align:left;}
.css_ope43_label { }
.css_ope43_line { }
.css_ope43_obj { }
.css_tfin43_label { }
.css_tfin43_line { }
.css_tfin43_obj { }
.css_fin43_label { }
.css_fin43_line { }
.css_fin43_obj { }
.css_ban43_label { }
.css_ban43_line { }
.css_ban43_obj { }
.css_cobrador43_label { }
.css_cobrador43_line { }
.css_cobrador43_obj { }
.css_coordinador43_label { }
.css_coordinador43_line { }
.css_coordinador43_obj { }
.css_cierre_label { }
.css_cierre_line { }
.css_cierre_obj { }
.css_idcierre_label { }
.css_idcierre_line { }
.css_idcierre_obj { }
.css_num_bco_dep_label { }
.css_num_bco_dep_line { }
.css_num_bco_dep_obj { }
.css_num_deposito_label { }
.css_num_deposito_line { }
.css_num_deposito_obj { }
.css_num_doc_cont_label { }
.css_num_doc_cont_line { }
.css_num_doc_cont_obj { }
.css_tip_doc_cont_label { }
.css_tip_doc_cont_line { }
.css_tip_doc_cont_obj { }
.css_idb_label { }
.css_idb_line { }
.css_idb_obj { }
.css_tipocomptehis_label { }
.css_tipocomptehis_line { }
.css_tipocomptehis_obj { }
.css_datosretcliente_label { }
.css_datosretcliente_line { }
.css_datosretcliente_obj { }
.css_valoresretcliente_label { }
.css_valoresretcliente_line { }
.css_valoresretcliente_obj { }
.css_beneficiario43_label { }
.css_beneficiario43_line { }
.css_beneficiario43_obj { }
.css_numero_cuenta_label { }
.css_numero_cuenta_line { }
.css_numero_cuenta_obj { }
.css_fecha_creacion_del_65_label { }
.css_fecha_creacion_del_65_line { }
.css_fecha_creacion_del_65_obj { }
.css_adicional_label { }
.css_adicional_line { }
.css_adicional_obj { }
.css_fecha_adicional_label { }
.css_fecha_adicional_line { }
.css_fecha_adicional_obj { }
.css_id_cotizacion_label { }
.css_id_cotizacion_line { }
.css_id_cotizacion_obj { }
.css_id_cuotas_tabla_pagos_label { }
.css_id_cuotas_tabla_pagos_line {text-align:left;}
.css_id_cuotas_tabla_pagos_obj {text-align:left;}
.css_institucion_label { }
.css_institucion_line {text-align:left;}
.css_institucion_obj {text-align:left;}
.css_estado_electronico_label { }
.css_estado_electronico_line {text-align:left;}
.css_estado_electronico_obj {text-align:left;}
