.css_NM_Count_cnt_field {text-align: right}
.css_sistema_total_sum_label {text-align: right; vertical-align: top}
.css_sistema_total_sum_field {text-align: right; vertical-align: top}
.css_total_entrega_sum_label {text-align: right; vertical-align: top}
.css_total_entrega_sum_field {text-align: right; vertical-align: top}
.css_entrega_efectivo_sum_label {text-align: right; vertical-align: top}
.css_entrega_efectivo_sum_field {text-align: right; vertical-align: top}
.css_entrega_tarjeta_sum_label {text-align: right; vertical-align: top}
.css_entrega_tarjeta_sum_field {text-align: right; vertical-align: top}
.css_sistema_efectivo_sum_label {text-align: right; vertical-align: top}
.css_sistema_efectivo_sum_field {text-align: right; vertical-align: top}
.css_sistema_tarjeta_sum_label {text-align: right; vertical-align: top}
.css_sistema_tarjeta_sum_field {text-align: right; vertical-align: top}
.css_diferencia_sum_label {text-align: right; vertical-align: top}
.css_diferencia_sum_field {text-align: right; vertical-align: top}
