.css_idcalifica__label {text-align:;}
.css_idcalifica__line {text-align:left;}
.css_idcalifica__obj {text-align:left;}
.css_descrip__label { }
.css_descrip__line { }
.css_descrip__obj { }
.css_valor__label {text-align:;}
.css_valor__line {text-align:left;}
.css_valor__obj {text-align:left;}
.css_orden__label {text-align:;}
.css_orden__line {text-align:left;}
.css_orden__obj {text-align:left;}
.css_imagen__label { }
.css_imagen__line { }
.css_imagen__obj { }
