.css_factura_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_factura_grid_line {text-align: left;}
.css_pdf_blob_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pdf_blob_grid_line {font-family:Helvetica, Arial, sans-serif;font-size:12px;font-weight:bold;vertical-align: top;text-align: left;}
.css_imprime_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_imprime_grid_line {font-family:Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;vertical-align: top;text-align: right;}
.css_idsales_pdf_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idsales_pdf_grid_line {vertical-align: top;text-align: right;}
.css_idcaja_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idcaja_grid_line {vertical-align: top;text-align: right;}
.css_pdf_url_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pdf_url_grid_line {vertical-align: top;text-align: left;}
.css_pdf_filename_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pdf_filename_grid_line {vertical-align: top;text-align: left;}
