.css_cod_device_label { }
.css_cod_device_line {text-align:left;}
.css_cod_device_obj {text-align:left;}
.css_cod_activo_label { }
.css_cod_activo_line { }
.css_cod_activo_obj { }
.css_cod_grupo_label { }
.css_cod_grupo_line { }
.css_cod_grupo_obj { }
.css_device_name_label { }
.css_device_name_line { }
.css_device_name_obj { }
.css_activa_label { }
.css_activa_line {text-align:left;}
.css_activa_obj {text-align:left;}
.css_acepta_tokens_label { }
.css_acepta_tokens_line {text-align:left;}
.css_acepta_tokens_obj {text-align:left;}
.css_dev_ip_label { }
.css_dev_ip_line { }
.css_dev_ip_obj { }
.css_tokens_label { }
.css_tokens_line {text-align:left;}
.css_tokens_obj {text-align:left;}
.css_pin_relay1_label { }
.css_pin_relay1_line { }
.css_pin_relay1_obj { }
.css_pin_relay2_label { }
.css_pin_relay2_line { }
.css_pin_relay2_obj { }
.css_url_accion_label { }
.css_url_accion_line { }
.css_url_accion_obj { }
.css_url_atraccion_label { }
.css_url_atraccion_line { }
.css_url_atraccion_obj { }
