.css_NM_Count_cnt_field {text-align: right}
.css_entrada_sum_label {text-align: right; vertical-align: top}
.css_entrada_sum_field {text-align: right; vertical-align: top}
.css_jugador_sum_label {text-align: right; vertical-align: top}
.css_jugador_sum_field {text-align: right; vertical-align: top}
.css_visitante_sum_label {text-align: right; vertical-align: top}
.css_visitante_sum_field {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_label {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_field {text-align: right; vertical-align: top}
