.css_id_sales_label { }
.css_id_sales_line {text-align:left;}
.css_id_sales_obj {text-align:left;}
.css_sales_price_label { }
.css_sales_price_line {text-align:left;}
.css_sales_price_obj {text-align:left;}
.css_sales_discount_label { }
.css_sales_discount_line {text-align:left;}
.css_sales_discount_obj {text-align:left;}
.css_total_label { }
.css_total_line {text-align:left;}
.css_total_obj {text-align:left;}
.css_datesales_label { }
.css_datesales_line { }
.css_datesales_obj { }
.css_id_status_label { }
.css_id_status_line {text-align:left;}
.css_id_status_obj {text-align:left;}
.css_detail_label { }
.css_detail_line { }
.css_detail_obj { }
