.css_idfamily_det_label {text-align: left;vertical-align: middle;}
.css_idfamily_det_line {height:0px;text-align: left;}
.css_idcustomer_det_label {text-align: left;vertical-align: middle;}
.css_idcustomer_det_line {height:0px;text-align: left;}
.css_nombre_det_label {text-align: left;vertical-align: middle;}
.css_nombre_det_line {height:0px;text-align: left;}
.css_parentesco_det_label {text-align: left;vertical-align: middle;}
.css_parentesco_det_line {height:0px;text-align: left;}
.css_fecha_nacimiento_det_label {text-align: left;vertical-align: middle;}
.css_fecha_nacimiento_det_line {height:0px;text-align: left;}
.css_sexo_det_label {text-align: left;vertical-align: middle;}
.css_sexo_det_line {height:0px;text-align: left;}
.css_email_det_label {text-align: left;vertical-align: middle;}
.css_email_det_line {height:0px;text-align: left;}
.css_tipo_sub_det_label {text-align: left;vertical-align: middle;}
.css_tipo_sub_det_line {height:0px;text-align: left;}
.css_edad_actual_det_label {text-align: left;vertical-align: middle;}
.css_edad_actual_det_line {height:0px;text-align: left;}
