.css_image_grid_line {vertical-align: top;text-align: right;}
.css_product_name_grid_line {color:#FFFFFF;font-family:Geneva, Arial, sans-serif;font-size:16px;font-weight:bold;vertical-align: top;text-align: right;}
.css_product_value_grid_line {color:#FFFFFF;font-family:Geneva, Arial, sans-serif;font-size:16px;font-weight:bold;vertical-align: top;text-align: right;}
.css_id_product_grid_line {vertical-align: top;text-align: center;}
.css_product_code_grid_line {vertical-align: top;text-align: right;}
.css_id_status_grid_line {vertical-align: top;text-align: right;}
.css_dateproduct_grid_line {vertical-align: top;text-align: center;}
