.css_fecha_det_label {text-align: left;vertical-align: middle;}
.css_fecha_det_line {height:0px;text-align: left;}
.css_idproducto_det_label {text-align: left;vertical-align: middle;}
.css_idproducto_det_line {font-family:Helvetica, Arial, sans-serif;font-size:14px;font-weight:bold;height:0px;text-align: left;}
.css_promedio_califica_det_label {text-align: left;vertical-align: middle;}
.css_promedio_califica_det_line {font-family:Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;height:0px;text-align: left;}
.css_cantidad_det_label {text-align: left;vertical-align: middle;}
.css_cantidad_det_line {height:0px;text-align: left;}
.css_califica_det_label {text-align: left;vertical-align: middle;}
.css_califica_det_line {height:0px;text-align: left;}
