.css_codcte01_det_label {text-align: left;vertical-align: middle;}
.css_codcte01_det_line {height:0px;text-align: left;}
.css_nomcte01_det_label {text-align: left;vertical-align: middle;}
.css_nomcte01_det_line {height:0px;text-align: left;}
.css_cv1cte01_det_label {text-align: left;vertical-align: middle;}
.css_cv1cte01_det_line {height:0px;text-align: left;}
.css_cv2cte01_det_label {text-align: left;vertical-align: middle;}
.css_cv2cte01_det_line {height:0px;text-align: left;}
.css_tipcte01_det_label {text-align: left;vertical-align: middle;}
.css_tipcte01_det_line {height:0px;text-align: left;}
.css_ofienccte01_det_label {text-align: left;vertical-align: middle;}
.css_ofienccte01_det_line {height:0px;text-align: left;}
.css_vendcte01_det_label {text-align: left;vertical-align: middle;}
.css_vendcte01_det_line {height:0px;text-align: left;}
.css_cobrcte01_det_label {text-align: left;vertical-align: middle;}
.css_cobrcte01_det_line {height:0px;text-align: left;}
.css_loccte01_det_label {text-align: left;vertical-align: middle;}
.css_loccte01_det_line {height:0px;text-align: left;}
.css_dircte01_det_label {text-align: left;vertical-align: middle;}
.css_dircte01_det_line {height:0px;text-align: left;}
.css_telcte01_det_label {text-align: left;vertical-align: middle;}
.css_telcte01_det_line {height:0px;text-align: left;}
.css_cascte01_det_label {text-align: left;vertical-align: middle;}
.css_cascte01_det_line {height:0px;text-align: left;}
.css_fecing01_det_label {text-align: left;vertical-align: middle;}
.css_fecing01_det_line {height:0px;text-align: left;}
.css_condpag01_det_label {text-align: left;vertical-align: middle;}
.css_condpag01_det_line {height:0px;text-align: left;}
.css_desctocte01_det_label {text-align: left;vertical-align: middle;}
.css_desctocte01_det_line {height:0px;text-align: left;}
.css_limcred01_det_label {text-align: left;vertical-align: middle;}
.css_limcred01_det_line {height:0px;text-align: left;}
.css_desppar01_det_label {text-align: left;vertical-align: middle;}
.css_desppar01_det_line {height:0px;text-align: left;}
.css_cheqpro01_det_label {text-align: left;vertical-align: middle;}
.css_cheqpro01_det_line {height:0px;text-align: left;}
.css_sdoeje01_det_label {text-align: left;vertical-align: middle;}
.css_sdoeje01_det_line {height:0px;text-align: left;}
.css_sdoant01_det_label {text-align: left;vertical-align: middle;}
.css_sdoant01_det_line {height:0px;text-align: left;}
.css_sdoact01_det_label {text-align: left;vertical-align: middle;}
.css_sdoact01_det_line {height:0px;text-align: left;}
.css_acudbm01_det_label {text-align: left;vertical-align: middle;}
.css_acudbm01_det_line {height:0px;text-align: left;}
.css_acucrm01_det_label {text-align: left;vertical-align: middle;}
.css_acucrm01_det_line {height:0px;text-align: left;}
.css_acudbe01_det_label {text-align: left;vertical-align: middle;}
.css_acudbe01_det_line {height:0px;text-align: left;}
.css_acucre01_det_label {text-align: left;vertical-align: middle;}
.css_acucre01_det_line {height:0px;text-align: left;}
.css_comentcte01_det_label {text-align: left;vertical-align: middle;}
.css_comentcte01_det_line {height:0px;text-align: left;}
.css_statuscte01_det_label {text-align: left;vertical-align: middle;}
.css_statuscte01_det_line {height:0px;text-align: left;}
.css_identcte01_det_label {text-align: left;vertical-align: middle;}
.css_identcte01_det_line {height:0px;text-align: left;}
.css_cordcte01_det_label {text-align: left;vertical-align: middle;}
.css_cordcte01_det_line {height:0px;text-align: left;}
.css_limcant01_det_label {text-align: left;vertical-align: middle;}
.css_limcant01_det_line {height:0px;text-align: left;}
.css_pagleg01_det_label {text-align: left;vertical-align: middle;}
.css_pagleg01_det_line {height:0px;text-align: left;}
.css_telcte01b_det_label {text-align: left;vertical-align: middle;}
.css_telcte01b_det_line {height:0px;text-align: left;}
.css_telcte01c_det_label {text-align: left;vertical-align: middle;}
.css_telcte01c_det_line {height:0px;text-align: left;}
.css_emailcte01_det_label {text-align: left;vertical-align: middle;}
.css_emailcte01_det_line {height:0px;text-align: left;}
.css_ctacgcte01_det_label {text-align: left;vertical-align: middle;}
.css_ctacgcte01_det_line {height:0px;text-align: left;}
.css_obsercte01_det_label {text-align: left;vertical-align: middle;}
.css_obsercte01_det_line {height:0px;text-align: left;}
.css_totexceso01_det_label {text-align: left;vertical-align: middle;}
.css_totexceso01_det_line {height:0px;text-align: left;}
.css_imagencte01_det_label {text-align: left;vertical-align: middle;}
.css_imagencte01_det_line {height:0px;text-align: left;}
.css_block_det_label {text-align: left;vertical-align: middle;}
.css_block_det_line {height:0px;text-align: left;}
.css_uid_det_label {text-align: left;vertical-align: middle;}
.css_uid_det_line {height:0px;text-align: left;}
.css_ultimoacceso_det_label {text-align: left;vertical-align: middle;}
.css_ultimoacceso_det_line {height:0px;text-align: left;}
.css_idcli_det_label {text-align: left;vertical-align: middle;}
.css_idcli_det_line {height:0px;text-align: left;}
.css_catcte01_det_label {text-align: left;vertical-align: middle;}
.css_catcte01_det_line {height:0px;text-align: left;}
.css_numautosri01_det_label {text-align: left;vertical-align: middle;}
.css_numautosri01_det_line {height:0px;text-align: left;}
.css_seriedoc01_det_label {text-align: left;vertical-align: middle;}
.css_seriedoc01_det_line {height:0px;text-align: left;}
.css_fecvencdoc01_det_label {text-align: left;vertical-align: middle;}
.css_fecvencdoc01_det_line {height:0px;text-align: left;}
.css_repleg01_det_label {text-align: left;vertical-align: middle;}
.css_repleg01_det_line {height:0px;text-align: left;}
.css_coddest01_det_label {text-align: left;vertical-align: middle;}
.css_coddest01_det_line {height:0px;text-align: left;}
.css_longitud01_det_label {text-align: left;vertical-align: middle;}
.css_longitud01_det_line {height:0px;text-align: left;}
.css_latitud01_det_label {text-align: left;vertical-align: middle;}
.css_latitud01_det_line {height:0px;text-align: left;}
.css_zoom01_det_label {text-align: left;vertical-align: middle;}
.css_zoom01_det_line {height:0px;text-align: left;}
.css_coniva01_det_label {text-align: left;vertical-align: middle;}
.css_coniva01_det_line {height:0px;text-align: left;}
.css_conret01_det_label {text-align: left;vertical-align: middle;}
.css_conret01_det_line {height:0px;text-align: left;}
.css_tipo_identificacion_det_label {text-align: left;vertical-align: middle;}
.css_tipo_identificacion_det_line {height:0px;text-align: left;}
.css_es_padre_det_label {text-align: left;vertical-align: middle;}
.css_es_padre_det_line {height:0px;text-align: left;}
.css_bonos_det_label {text-align: left;vertical-align: middle;}
.css_bonos_det_line {height:0px;text-align: left;}
.css_rendimiento_det_label {text-align: left;vertical-align: middle;}
.css_rendimiento_det_line {height:0px;text-align: left;}
.css_parterel01_det_label {text-align: left;vertical-align: middle;}
.css_parterel01_det_line {height:0px;text-align: left;}
.css_clase_contribuyente_det_label {text-align: left;vertical-align: middle;}
.css_clase_contribuyente_det_line {height:0px;text-align: left;}
.css_tipo_contribuyente_det_label {text-align: left;vertical-align: middle;}
.css_tipo_contribuyente_det_line {height:0px;text-align: left;}
.css_lleva_contabilidad_det_label {text-align: left;vertical-align: middle;}
.css_lleva_contabilidad_det_line {height:0px;text-align: left;}
.css_ctacgant01_det_label {text-align: left;vertical-align: middle;}
.css_ctacgant01_det_line {height:0px;text-align: left;}
.css_residentefiscal01_det_label {text-align: left;vertical-align: middle;}
.css_residentefiscal01_det_line {height:0px;text-align: left;}
.css_es_cliente_det_label {text-align: left;vertical-align: middle;}
.css_es_cliente_det_line {height:0px;text-align: left;}
.css_grupos_det_label {text-align: left;vertical-align: middle;}
.css_grupos_det_line {height:0px;text-align: left;}
.css_codigo_banco_det_label {text-align: left;vertical-align: middle;}
.css_codigo_banco_det_line {height:0px;text-align: left;}
.css_tipo_cuenta_banco_det_label {text-align: left;vertical-align: middle;}
.css_tipo_cuenta_banco_det_line {height:0px;text-align: left;}
.css_nro_cuenta_banco_det_label {text-align: left;vertical-align: middle;}
.css_nro_cuenta_banco_det_line {height:0px;text-align: left;}
.css_pago_transferencia_det_label {text-align: left;vertical-align: middle;}
.css_pago_transferencia_det_line {height:0px;text-align: left;}
