.css_codcte01_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codcte01_grid_line {vertical-align: top;text-align: right;}
.css_nomcte01_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nomcte01_grid_line {vertical-align: top;text-align: right;}
.css_cv1cte01_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cv1cte01_grid_line {vertical-align: top;text-align: right;}
.css_cv2cte01_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cv2cte01_grid_line {vertical-align: top;text-align: right;}
.css_tipcte01_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipcte01_grid_line {vertical-align: top;text-align: right;}
.css_ofienccte01_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ofienccte01_grid_line {vertical-align: top;text-align: right;}
