.css_codpais_label { }
.css_codpais_line {font-family:Helvetica, Arial, sans-serif;font-size:26px;font-weight:bold;}
.css_codpais_obj {font-family:Helvetica, Arial, sans-serif;font-size:26px;font-weight:bold;}
.css_codpais2_label { }
.css_codpais2_line {font-family:Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;}
.css_codpais2_obj {font-family:Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;}
.css_userid_label { }
.css_userid_line { }
.css_userid_obj { }
.css_celular_label { }
.css_celular_line { }
.css_celular_obj {font-family:Helvetica, Arial, sans-serif;font-size:36px;font-weight:bold;}
