.css_id_product_det_label {text-align: right;vertical-align: middle;}
.css_id_product_det_line {height:0px;text-align: right;}
.css_product_code_det_label {text-align: right;vertical-align: middle;}
.css_product_code_det_line {height:0px;text-align: right;}
.css_product_name_det_label {text-align: right;vertical-align: middle;}
.css_product_name_det_line {height:0px;text-align: right;}
.css_stock_det_label {text-align: right;vertical-align: middle;}
.css_stock_det_line {height:0px;text-align: right;}
.css_id_category_det_label {text-align: right;vertical-align: middle;}
.css_id_category_det_line {height:0px;text-align: right;}
.css_cuentaventa_det_label {text-align: right;vertical-align: middle;}
.css_cuentaventa_det_line {height:0px;text-align: right;}
.css_id_status_det_label {text-align: right;vertical-align: middle;}
.css_id_status_det_line {height:0px;text-align: right;}
