.css_id_product_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_product_grid_line {vertical-align: top;text-align: right;}
.css_product_code_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_product_code_grid_line {vertical-align: top;text-align: left;}
.css_product_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_product_name_grid_line {vertical-align: top;text-align: left;}
.css_id_status_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_status_grid_line {vertical-align: top;text-align: right;}
.css_stock_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_stock_grid_line {vertical-align: top;text-align: right;}
.css_stock_kardex_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_stock_kardex_grid_line {text-align: right;}
.css_id_category_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_category_grid_line {vertical-align: top;text-align: right;}
