.css_importe_pagar_label {font-family:Arial, sans-serif;font-size:30px;color:#FFFFFF;font-weight:bold;}
.css_importe_pagar_line {font-family:Geneva, Arial, sans-serif;font-size:30px;}
.css_importe_pagar_obj {font-family:Geneva, Arial, sans-serif;font-size:16px;color:#000000;background-color:#FFFFFF;}
.css_importe_recibido_label {font-family:Geneva, Arial, sans-serif;font-size:30px;color:#000000;background-color:#FFFFFF;}
.css_importe_recibido_line {font-family:Geneva, Arial, sans-serif;font-size:30px;color:#FFFFFF;}
.css_importe_recibido_obj {font-family:Geneva, Arial, sans-serif;font-size:30px;color:#000000;background-color:#FFFFFF;font-weight:bold;}
.css_fatan_label {font-family:Geneva, Arial, sans-serif;font-size:30px;color:#FFFFFF;}
.css_fatan_line {font-family:Geneva, Arial, sans-serif;font-size:30px;color:#FFFFFF;}
.css_fatan_obj { }
.css_cambio_label {font-family:Geneva, Arial, sans-serif;font-size:30px;color:#FFFFFF;}
.css_cambio_line {font-family:Geneva, Arial, sans-serif;font-size:30px;color:#FFFFFF;}
.css_cambio_obj { }
.css_formapago_label {font-family:Geneva, Arial, sans-serif;font-size:30px;color:#FFFFFF;font-weight:bold;}
.css_formapago_line {font-family:Geneva, Arial, sans-serif;font-size:30px;color:#FFFFFF;font-weight:bold;}
.css_formapago_obj {font-family:Geneva, Arial, sans-serif;font-size:30px;color:#000000;background-color:#FFFFFF;font-weight:bold;}
