.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_grid_line {vertical-align: top;text-align: left;}
.css_numero_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_numero_grid_line {vertical-align: top;text-align: left;}
.css_codigo_impuesto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_impuesto_grid_line {vertical-align: top;text-align: left;}
.css_codigo_porcentaje_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_porcentaje_grid_line {vertical-align: top;text-align: left;}
.css_base_imponible_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_base_imponible_grid_line {vertical-align: top;text-align: right;}
