.css_idpays_type_det_label {text-align: left;vertical-align: middle;}
.css_idpays_type_det_line {height:0px;text-align: left;}
.css_descrip_det_label {text-align: left;vertical-align: middle;}
.css_descrip_det_line {height:0px;text-align: left;}
.css_imagen_det_label {text-align: left;vertical-align: middle;}
.css_imagen_det_line {height:0px;text-align: left;}
.css_tipo_det_label {text-align: left;vertical-align: middle;}
.css_tipo_det_line {height:0px;text-align: left;}
.css_efectivo_det_label {text-align: left;vertical-align: middle;}
.css_efectivo_det_line {height:0px;text-align: left;}
