.css_idpays_type_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idpays_type_grid_line {vertical-align: top;text-align: left;}
.css_descrip_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descrip_grid_line {vertical-align: top;text-align: left;}
.css_imagen_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_imagen_grid_line {vertical-align: top;text-align: left;}
.css_tipo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_grid_line {vertical-align: top;text-align: left;}
.css_efectivo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_efectivo_grid_line {vertical-align: top;text-align: right;}
