.css_idcliente_label {font-family:Geneva, Arial, sans-serif;font-size:18px;color:#FFFFFF;font-weight:bold;}
.css_idcliente_line {font-family:Geneva, Arial, sans-serif;font-size:18px;color:#FFFFFF;}
.css_idcliente_obj {font-family:Geneva, Arial, sans-serif;font-size:18px;color:#FFFFFF;font-weight:bold;}
.css_cliente_label {font-family:Geneva, Arial, sans-serif;font-size:18px;color:#FFFFFF;font-weight:bold;}
.css_cliente_line {font-family:Geneva, Arial, sans-serif;font-size:18px;color:#FFFFFF;font-weight:bold;}
.css_cliente_obj {font-family:Geneva, Arial, sans-serif;font-size:18px;color:#FFFFFF;font-weight:bold;}
.css_correo_label {font-family:Geneva, Arial, sans-serif;font-size:18px;color:#FFFFFF;font-weight:bold;}
.css_correo_line {font-family:Geneva, Arial, sans-serif;font-size:18px;color:#FFFFFF;font-weight:bold;}
.css_correo_obj {font-family:Geneva, Arial, sans-serif;font-size:18px;color:#FFFFFF;font-weight:bold;}
.css_telefono_label {font-family:Geneva, Arial, sans-serif;font-size:18px;color:#FFFFFF;font-weight:bold;}
.css_telefono_line {font-family:Geneva, Arial, sans-serif;font-size:18px;color:#FFFFFF;font-weight:bold;}
.css_telefono_obj {font-family:Geneva, Arial, sans-serif;font-size:18px;color:#FFFFFF;font-weight:bold;}
.css_tipodoc_label {font-family:Helvetica, Arial, sans-serif;font-size:30px;color:#FFFFFF;font-weight:bold;}
.css_tipodoc_line {font-family:Helvetica, Arial, sans-serif;font-size:30px;color:#FFFFFF;font-weight:bold;}
.css_tipodoc_obj {font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:bold;}
.css_direccion_label {font-family:Helvetica, Arial, sans-serif;font-size:24px;color:#FFFFFF;font-weight:bold;}
.css_direccion_line {font-family:Helvetica, Arial, sans-serif;font-size:24px;color:#FFFFFF;}
.css_direccion_obj {font-family:Helvetica, Arial, sans-serif;font-size:24px;color:#FFFFFF;}
