.css_tipomov_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipomov_grid_line {vertical-align: top;text-align: right;}
.css_idmaq_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idmaq_grid_line {vertical-align: top;text-align: right;}
.css_credito_tokens_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_credito_tokens_grid_line {vertical-align: top;text-align: right;}
.css_debito_tokens_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_debito_tokens_grid_line {vertical-align: top;text-align: right;}
.css_saldo_tokens_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_saldo_tokens_grid_line {vertical-align: top;text-align: right;}
.css_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_codtarjeta_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codtarjeta_grid_line {vertical-align: top;text-align: right;}
