.css_codtarjeta_det_label {text-align: left;vertical-align: middle;}
.css_codtarjeta_det_line {height:0px;text-align: left;}
.css_tipomov_det_label {text-align: left;vertical-align: middle;}
.css_tipomov_det_line {height:0px;text-align: left;}
.css_fecha_det_label {text-align: left;vertical-align: middle;}
.css_fecha_det_line {height:0px;text-align: left;}
.css_credito_tokens_det_label {text-align: left;vertical-align: middle;}
.css_credito_tokens_det_line {height:0px;text-align: left;}
.css_debito_tokens_det_label {text-align: left;vertical-align: middle;}
.css_debito_tokens_det_line {height:0px;text-align: left;}
.css_idmaq_det_label {text-align: left;vertical-align: middle;}
.css_idmaq_det_line {height:0px;text-align: left;}
.css_numcaja_det_label {text-align: left;vertical-align: middle;}
.css_numcaja_det_line {height:0px;text-align: left;}
.css_uidtrans_det_label {text-align: left;vertical-align: middle;}
.css_uidtrans_det_line {height:0px;text-align: left;}
.css_saldo_tokens_det_label {text-align: left;vertical-align: middle;}
.css_saldo_tokens_det_line {height:0px;text-align: left;}
.css_saldo_anterior_det_label {text-align: left;vertical-align: middle;}
.css_saldo_anterior_det_line {height:0px;text-align: left;}
