.css_id_sales_det_label {text-align: left;vertical-align: middle;}
.css_id_sales_det_line {height:0px;text-align: left;}
.css_sales_price_det_label {text-align: left;vertical-align: middle;}
.css_sales_price_det_line {height:0px;text-align: left;}
.css_sales_discount_det_label {text-align: left;vertical-align: middle;}
.css_sales_discount_det_line {height:0px;text-align: left;}
.css_total_det_label {text-align: left;vertical-align: middle;}
.css_total_det_line {height:0px;text-align: left;}
.css_datesales_det_label {text-align: left;vertical-align: middle;}
.css_datesales_det_line {height:0px;text-align: left;}
.css_id_status_det_label {text-align: left;vertical-align: middle;}
.css_id_status_det_line {height:0px;text-align: left;}
.css_idcaja_det_label {text-align: left;vertical-align: middle;}
.css_idcaja_det_line {height:0px;text-align: left;}
.css_idcliente_det_label {text-align: left;vertical-align: middle;}
.css_idcliente_det_line {height:0px;text-align: left;}
.css_cliente_det_label {text-align: left;vertical-align: middle;}
.css_cliente_det_line {height:0px;text-align: left;}
.css_direccion_det_label {text-align: left;vertical-align: middle;}
.css_direccion_det_line {height:0px;text-align: left;}
.css_telefono_det_label {text-align: left;vertical-align: middle;}
.css_telefono_det_line {height:0px;text-align: left;}
.css_factura_det_label {text-align: left;vertical-align: middle;}
.css_factura_det_line {height:0px;text-align: left;}
.css_serie_det_label {text-align: left;vertical-align: middle;}
.css_serie_det_line {height:0px;text-align: left;}
.css_clave_acceso_det_label {text-align: left;vertical-align: middle;}
.css_clave_acceso_det_line {height:0px;text-align: left;}
.css_enviosri_det_label {text-align: left;vertical-align: middle;}
.css_enviosri_det_line {height:0px;text-align: left;}
.css_fechaenvio_det_label {text-align: left;vertical-align: middle;}
.css_fechaenvio_det_line {height:0px;text-align: left;}
.css_uniqueid_det_label {text-align: left;vertical-align: middle;}
.css_uniqueid_det_line {height:0px;text-align: left;}
.css_estado_det_label {text-align: left;vertical-align: middle;}
.css_estado_det_line {height:0px;text-align: left;}
.css_fechaid_det_label {text-align: left;vertical-align: middle;}
.css_fechaid_det_line {height:0px;text-align: left;}
.css_importe_recibido_det_label {text-align: left;vertical-align: middle;}
.css_importe_recibido_det_line {height:0px;text-align: left;}
.css_codigoid_det_label {text-align: left;vertical-align: middle;}
.css_codigoid_det_line {height:0px;text-align: left;}
.css_totalsinimpuestos_det_label {text-align: left;vertical-align: middle;}
.css_totalsinimpuestos_det_line {height:0px;text-align: left;}
.css_totaldescuento_det_label {text-align: left;vertical-align: middle;}
.css_totaldescuento_det_line {height:0px;text-align: left;}
.css_baseimponible_det_label {text-align: left;vertical-align: middle;}
.css_baseimponible_det_line {height:0px;text-align: left;}
.css_valoriva_det_label {text-align: left;vertical-align: middle;}
.css_valoriva_det_line {height:0px;text-align: left;}
.css_importetotal_det_label {text-align: left;vertical-align: middle;}
.css_importetotal_det_line {height:0px;text-align: left;}
.css_idpago_det_label {text-align: left;vertical-align: middle;}
.css_idpago_det_line {height:0px;text-align: left;}
.css_totalpago_det_label {text-align: left;vertical-align: middle;}
.css_totalpago_det_line {height:0px;text-align: left;}
.css_cliente_email_det_label {text-align: left;vertical-align: middle;}
.css_cliente_email_det_line {height:0px;text-align: left;}
.css_idempleado_det_label {text-align: left;vertical-align: middle;}
.css_idempleado_det_line {height:0px;text-align: left;}
.css_idturno_det_label {text-align: left;vertical-align: middle;}
.css_idturno_det_line {height:0px;text-align: left;}
.css_facturaxml_det_label {text-align: left;vertical-align: middle;}
.css_facturaxml_det_line {height:0px;text-align: left;}
.css_facturaxml64_det_label {text-align: left;vertical-align: middle;}
.css_facturaxml64_det_line {height:0px;text-align: left;}
.css_codpago_sri_det_label {text-align: left;vertical-align: middle;}
.css_codpago_sri_det_line {height:0px;text-align: left;}
.css_imprime_det_label {text-align: left;vertical-align: middle;}
.css_imprime_det_line {height:0px;text-align: left;}
.css_comprobante_det_label {text-align: left;vertical-align: middle;}
.css_comprobante_det_line {height:0px;text-align: left;}
.css_facturapdf_det_label {text-align: left;vertical-align: middle;}
.css_facturapdf_det_line {height:0px;text-align: left;}
.css_valordetalle_det_label {text-align: left;vertical-align: middle;}
.css_valordetalle_det_line {height:0px;text-align: left;}
