.css_ambiente_label { }
.css_ambiente_line { }
.css_ambiente_obj { }
.css_tipoemision_label { }
.css_tipoemision_line { }
.css_tipoemision_obj { }
.css_razonsocial_label { }
.css_razonsocial_line { }
.css_razonsocial_obj { }
.css_nombrecomercial_label { }
.css_nombrecomercial_line { }
.css_nombrecomercial_obj { }
.css_ruc_label { }
.css_ruc_line { }
.css_ruc_obj { }
.css_claveacceso_label { }
.css_claveacceso_line { }
.css_claveacceso_obj { }
.css_coddoc_label { }
.css_coddoc_line { }
.css_coddoc_obj { }
.css_estab_label { }
.css_estab_line { }
.css_estab_obj { }
.css_ptoemi_label { }
.css_ptoemi_line { }
.css_ptoemi_obj { }
.css_secuencial_label { }
.css_secuencial_line { }
.css_secuencial_obj { }
.css_dirmatriz_label { }
.css_dirmatriz_line { }
.css_dirmatriz_obj { }
.css_fechaemision_label { }
.css_fechaemision_line { }
.css_fechaemision_obj { }
.css_tipoidentificacioncomprador_label { }
.css_tipoidentificacioncomprador_line { }
.css_tipoidentificacioncomprador_obj { }
.css_razonsocialcomprador_label { }
.css_razonsocialcomprador_line { }
.css_razonsocialcomprador_obj { }
.css_identificacioncomprador_label { }
.css_identificacioncomprador_line { }
.css_identificacioncomprador_obj { }
.css_totalsinimpuestos_label {text-align:;}
.css_totalsinimpuestos_line {text-align:left;}
.css_totalsinimpuestos_obj {text-align:left;}
.css_totaldescuento_label {text-align:;}
.css_totaldescuento_line {text-align:left;}
.css_totaldescuento_obj {text-align:left;}
.css_totalconimpuestos_label {text-align:;}
.css_totalconimpuestos_line {text-align:left;}
.css_totalconimpuestos_obj {text-align:left;}
.css_propina_label {text-align:;}
.css_propina_line {text-align:left;}
.css_propina_obj {text-align:left;}
.css_importetotal_label {text-align:;}
.css_importetotal_line {text-align:left;}
.css_importetotal_obj {text-align:left;}
.css_moneda_label { }
.css_moneda_line { }
.css_moneda_obj { }
.css_fecharegistro_label { }
.css_fecharegistro_line { }
.css_fecharegistro_obj { }
.css_estado_label {text-align:;}
.css_estado_line {text-align:left;}
.css_estado_obj {text-align:left;}
