.css_cod_device_label { }
.css_cod_device_line {text-align:left;}
.css_cod_device_obj {text-align:left;}
.css_cod_activo_label { }
.css_cod_activo_line { }
.css_cod_activo_obj { }
.css_cod_grupo_label { }
.css_cod_grupo_line { }
.css_cod_grupo_obj { }
.css_device_name_label { }
.css_device_name_line { }
.css_device_name_obj { }
.css_activa_label { }
.css_activa_line {text-align:left;}
.css_activa_obj {text-align:left;}
.css_estado_label { }
.css_estado_line {text-align:left;}
.css_estado_obj {text-align:left;}
.css_ult_rfid_label { }
.css_ult_rfid_line { }
.css_ult_rfid_obj { }
.css_ult_fecha_label { }
.css_ult_fecha_line { }
.css_ult_fecha_obj { }
.css_valor_default_label { }
.css_valor_default_line {text-align:left;}
.css_valor_default_obj {text-align:left;}
.css_acepta_tiempo_label { }
.css_acepta_tiempo_line {text-align:left;}
.css_acepta_tiempo_obj {text-align:left;}
.css_acepta_tokens_label { }
.css_acepta_tokens_line {text-align:left;}
.css_acepta_tokens_obj {text-align:left;}
.css_dev_ip_label { }
.css_dev_ip_line { }
.css_dev_ip_obj { }
.css_tipo_dev_label { }
.css_tipo_dev_line {text-align:left;}
.css_tipo_dev_obj {text-align:left;}
.css_direccion_torno_label { }
.css_direccion_torno_line {text-align:left;}
.css_direccion_torno_obj {text-align:left;}
.css_timeout_rfid_label { }
.css_timeout_rfid_line {text-align:left;}
.css_timeout_rfid_obj {text-align:left;}
.css_discapacitado_label { }
.css_discapacitado_line {text-align:left;}
.css_discapacitado_obj {text-align:left;}
.css_numcaja_label { }
.css_numcaja_line {text-align:left;}
.css_numcaja_obj {text-align:left;}
.css_empleado_label { }
.css_empleado_line {text-align:left;}
.css_empleado_obj {text-align:left;}
.css_tokens_label { }
.css_tokens_line {text-align:left;}
.css_tokens_obj {text-align:left;}
.css_serialrfid_label { }
.css_serialrfid_line { }
.css_serialrfid_obj { }
.css_bidireccion_label { }
.css_bidireccion_line {text-align:left;}
.css_bidireccion_obj {text-align:left;}
.css_cod_devicee_label { }
.css_cod_devicee_line {text-align:left;}
.css_cod_devicee_obj {text-align:left;}
.css_url_1_label { }
.css_url_1_line { }
.css_url_1_obj { }
.css_url_2_label { }
.css_url_2_line { }
.css_url_2_obj { }
.css_url_3_label { }
.css_url_3_line { }
.css_url_3_obj { }
.css_foto1_label { }
.css_foto1_line { }
.css_foto1_obj { }
.css_foto2_label { }
.css_foto2_line { }
.css_foto2_obj { }
.css_foto3_label { }
.css_foto3_line { }
.css_foto3_obj { }
.css_pin_relay1_label { }
.css_pin_relay1_line {text-align:left;}
.css_pin_relay1_obj {text-align:left;}
.css_pin_relay2_label { }
.css_pin_relay2_line {text-align:left;}
.css_pin_relay2_obj {text-align:left;}
.css_rfid_read_label { }
.css_rfid_read_line { }
.css_rfid_read_obj { }
.css_rfid_estado_label { }
.css_rfid_estado_line {text-align:left;}
.css_rfid_estado_obj {text-align:left;}
.css_rfid_fecha_label { }
.css_rfid_fecha_line { }
.css_rfid_fecha_obj { }
.css_url_accion_label { }
.css_url_accion_line { }
.css_url_accion_obj { }
.css_url_atraccion_label { }
.css_url_atraccion_line { }
.css_url_atraccion_obj { }
.css_uhfip_label { }
.css_uhfip_line { }
.css_uhfip_obj { }
.css_url_reader_label { }
.css_url_reader_line { }
.css_url_reader_obj { }
.css_cod_rfid900_label { }
.css_cod_rfid900_line { }
.css_cod_rfid900_obj { }
.css_mensaje_label { }
.css_mensaje_line { }
.css_mensaje_obj { }
.css_tipolector_label { }
.css_tipolector_line { }
.css_tipolector_obj { }
.css_url_accion_bg_label { }
.css_url_accion_bg_line { }
.css_url_accion_bg_obj { }
.css_url_inicio_label { }
.css_url_inicio_line { }
.css_url_inicio_obj { }
.css_ledstripe1_label { }
.css_ledstripe1_line { }
.css_ledstripe1_obj { }
.css_ledstripe2_label { }
.css_ledstripe2_line { }
.css_ledstripe2_obj { }
.css_ledstripe3_label { }
.css_ledstripe3_line { }
.css_ledstripe3_obj { }
.css_ledstripe4_label { }
.css_ledstripe4_line { }
.css_ledstripe4_obj { }
.css_lasteffect_label { }
.css_lasteffect_line { }
.css_lasteffect_obj { }
.css_color_label { }
.css_color_line { }
.css_color_obj { }
