.css_opcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_opcion_grid_line {font-family:Helvetica, Arial, sans-serif;font-size:14px;font-weight:bold;vertical-align: top;text-align: left;}
.css_mm_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_mm_grid_line {vertical-align: top;text-align: left;}
.css_opc_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_opc_grid_line {vertical-align: top;text-align: left;}
.css_rg_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rg_grid_line {vertical-align: top;text-align: left;}
.css_accion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_accion_grid_line {vertical-align: top;text-align: left;}
.css_users_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_users_grid_line {vertical-align: top;text-align: left;}
.css_opciones_grid_line {text-align: center;}
