.css_tokens_label { }
.css_tokens_line {font-family:Helvetica, Arial, sans-serif;font-size:48px;color:#FFFFFF;font-weight:bold;text-align:center;}
.css_tokens_obj {text-align:right;}
.css_moneda_label { }
.css_moneda_line {text-align:center;}
.css_moneda_obj { }
