.css_id_product_det_label {text-align: right;vertical-align: middle;}
.css_id_product_det_line {height:0px;text-align: right;}
.css_product_name_det_label {text-align: right;vertical-align: middle;}
.css_product_name_det_line {height:0px;text-align: right;}
.css_product_code_det_label {text-align: right;vertical-align: middle;}
.css_product_code_det_line {height:0px;text-align: right;}
.css_id_status_det_label {text-align: right;vertical-align: middle;}
.css_id_status_det_line {height:0px;text-align: right;}
.css_dateproduct_det_label {text-align: right;vertical-align: middle;}
.css_dateproduct_det_line {height:0px;text-align: right;}
.css_product_value_det_label {text-align: right;vertical-align: middle;}
.css_product_value_det_line {height:0px;text-align: right;}
.css_product_cost_det_label {text-align: right;vertical-align: middle;}
.css_product_cost_det_line {height:0px;text-align: right;}
.css_discount_det_label {text-align: right;vertical-align: middle;}
.css_discount_det_line {height:0px;text-align: right;}
.css_stock_det_label {text-align: right;vertical-align: middle;}
.css_stock_det_line {height:0px;text-align: right;}
.css_id_category_det_label {text-align: right;vertical-align: middle;}
.css_id_category_det_line {height:0px;text-align: right;}
.css_image_det_label {text-align: right;vertical-align: middle;}
.css_image_det_line {height:0px;text-align: right;}
.css_service_det_label {text-align: right;vertical-align: middle;}
.css_service_det_line {height:0px;text-align: right;}
.css_kiosko_det_label {text-align: right;vertical-align: middle;}
.css_kiosko_det_line {height:0px;text-align: right;}
.css_jugador_det_label {text-align: right;vertical-align: middle;}
.css_jugador_det_line {height:0px;text-align: right;}
.css_minutos_det_label {text-align: right;vertical-align: middle;}
.css_minutos_det_line {height:0px;text-align: right;}
.css_tokens_det_label {text-align: right;vertical-align: middle;}
.css_tokens_det_line {height:0px;text-align: right;}
.css_score_det_label {text-align: right;vertical-align: middle;}
.css_score_det_line {height:0px;text-align: right;}
.css_idcaja_det_label {text-align: right;vertical-align: middle;}
.css_idcaja_det_line {height:0px;text-align: right;}
.css_tarjetarfid_det_label {text-align: right;vertical-align: middle;}
.css_tarjetarfid_det_line {height:0px;text-align: right;}
