.css_val1_label { }
.css_val1_line { }
.css_val1_obj { }
.css_val2_label { }
.css_val2_line { }
.css_val2_obj { }
.css_titulo_label {font-family:Helvetica, Arial, sans-serif;font-size:26px;color:#FFFFFF;font-weight:bold;}
.css_titulo_line {font-family:Helvetica, Arial, sans-serif;font-size:36px;color:#FFFFFF;font-weight:bold;text-align:left;vertical-align:text-top;}
.css_titulo_obj { }
.css_logomr_label { }
.css_logomr_line {text-align:left;}
.css_logomr_obj { }
