.css_codcte43_det_label {text-align: left;vertical-align: middle;}
.css_codcte43_det_line {height:0px;text-align: left;}
.css_tipodoc43_det_label {text-align: left;vertical-align: middle;}
.css_tipodoc43_det_line {height:0px;text-align: left;}
.css_numdoc43_det_label {text-align: left;vertical-align: middle;}
.css_numdoc43_det_line {height:0px;text-align: left;}
.css_ocurren43_det_label {text-align: left;vertical-align: middle;}
.css_ocurren43_det_line {height:0px;text-align: left;}
.css_cocte43_det_label {text-align: left;vertical-align: middle;}
.css_cocte43_det_line {height:0px;text-align: left;}
.css_fecdoc43_det_label {text-align: left;vertical-align: middle;}
.css_fecdoc43_det_line {height:0px;text-align: left;}
.css_tipdoc43_det_label {text-align: left;vertical-align: middle;}
.css_tipdoc43_det_line {height:0px;text-align: left;}
.css_numvencob43_det_label {text-align: left;vertical-align: middle;}
.css_numvencob43_det_line {height:0px;text-align: left;}
.css_fedoc43_det_label {text-align: left;vertical-align: middle;}
.css_fedoc43_det_line {height:0px;text-align: left;}
.css_totdoc43_det_label {text-align: left;vertical-align: middle;}
.css_totdoc43_det_line {height:0px;text-align: left;}
.css_detalle43_det_label {text-align: left;vertical-align: middle;}
.css_detalle43_det_line {height:0px;text-align: left;}
.css_cvanioant43_det_label {text-align: left;vertical-align: middle;}
.css_cvanioant43_det_line {height:0px;text-align: left;}
.css_cvdivisa43_det_label {text-align: left;vertical-align: middle;}
.css_cvdivisa43_det_line {height:0px;text-align: left;}
.css_valdivisa43_det_label {text-align: left;vertical-align: middle;}
.css_valdivisa43_det_line {height:0px;text-align: left;}
.css_valdivisaori43_det_label {text-align: left;vertical-align: middle;}
.css_valdivisaori43_det_line {height:0px;text-align: left;}
.css_factcompra43_det_label {text-align: left;vertical-align: middle;}
.css_factcompra43_det_line {height:0px;text-align: left;}
.css_seriecompra43_det_label {text-align: left;vertical-align: middle;}
.css_seriecompra43_det_line {height:0px;text-align: left;}
.css_autocompra43_det_label {text-align: left;vertical-align: middle;}
.css_autocompra43_det_line {height:0px;text-align: left;}
.css_codret43_det_label {text-align: left;vertical-align: middle;}
.css_codret43_det_line {height:0px;text-align: left;}
.css_valini43_det_label {text-align: left;vertical-align: middle;}
.css_valini43_det_line {height:0px;text-align: left;}
.css_numcuotasord43_det_label {text-align: left;vertical-align: middle;}
.css_numcuotasord43_det_line {height:0px;text-align: left;}
.css_valormov43_det_label {text-align: left;vertical-align: middle;}
.css_valormov43_det_line {height:0px;text-align: left;}
.css_saldoregmov43_det_label {text-align: left;vertical-align: middle;}
.css_saldoregmov43_det_line {height:0px;text-align: left;}
.css_feccobro43_det_label {text-align: left;vertical-align: middle;}
.css_feccobro43_det_line {height:0px;text-align: left;}
.css_codpagounif43_det_label {text-align: left;vertical-align: middle;}
.css_codpagounif43_det_line {height:0px;text-align: left;}
.css_tipodocdb43_det_label {text-align: left;vertical-align: middle;}
.css_tipodocdb43_det_line {height:0px;text-align: left;}
.css_numdocdb43_det_label {text-align: left;vertical-align: middle;}
.css_numdocdb43_det_line {height:0px;text-align: left;}
.css_ocurrecdocdb43_det_label {text-align: left;vertical-align: middle;}
.css_ocurrecdocdb43_det_line {height:0px;text-align: left;}
.css_numrecibo43_det_label {text-align: left;vertical-align: middle;}
.css_numrecibo43_det_line {height:0px;text-align: left;}
.css_valorabono43_det_label {text-align: left;vertical-align: middle;}
.css_valorabono43_det_line {height:0px;text-align: left;}
.css_efectcheque43_det_label {text-align: left;vertical-align: middle;}
.css_efectcheque43_det_line {height:0px;text-align: left;}
.css_saldoexceso43_det_label {text-align: left;vertical-align: middle;}
.css_saldoexceso43_det_line {height:0px;text-align: left;}
.css_saldocte43_det_label {text-align: left;vertical-align: middle;}
.css_saldocte43_det_line {height:0px;text-align: left;}
.css_codpago43_det_label {text-align: left;vertical-align: middle;}
.css_codpago43_det_line {height:0px;text-align: left;}
.css_numdocpago43_det_label {text-align: left;vertical-align: middle;}
.css_numdocpago43_det_line {height:0px;text-align: left;}
.css_obsdocpago43_det_label {text-align: left;vertical-align: middle;}
.css_obsdocpago43_det_line {height:0px;text-align: left;}
.css_uid_det_label {text-align: left;vertical-align: middle;}
.css_uid_det_line {height:0px;text-align: left;}
.css_cvtransfer43_det_label {text-align: left;vertical-align: middle;}
.css_cvtransfer43_det_line {height:0px;text-align: left;}
.css_fectransfer43_det_label {text-align: left;vertical-align: middle;}
.css_fectransfer43_det_line {height:0px;text-align: left;}
.css_tipoimp43_det_label {text-align: left;vertical-align: middle;}
.css_tipoimp43_det_line {height:0px;text-align: left;}
.css_porcimp43_det_label {text-align: left;vertical-align: middle;}
.css_porcimp43_det_line {height:0px;text-align: left;}
.css_bienserv43_det_label {text-align: left;vertical-align: middle;}
.css_bienserv43_det_line {height:0px;text-align: left;}
.css_credgast43_det_label {text-align: left;vertical-align: middle;}
.css_credgast43_det_line {height:0px;text-align: left;}
.css_fecvencompra43_det_label {text-align: left;vertical-align: middle;}
.css_fecvencompra43_det_line {height:0px;text-align: left;}
.css_fecvenret43_det_label {text-align: left;vertical-align: middle;}
.css_fecvenret43_det_line {height:0px;text-align: left;}
.css_numautoret43_det_label {text-align: left;vertical-align: middle;}
.css_numautoret43_det_line {height:0px;text-align: left;}
.css_sdoexeact43_det_label {text-align: left;vertical-align: middle;}
.css_sdoexeact43_det_line {height:0px;text-align: left;}
.css_sdoregact43_det_label {text-align: left;vertical-align: middle;}
.css_sdoregact43_det_line {height:0px;text-align: left;}
.css_conta43_det_label {text-align: left;vertical-align: middle;}
.css_conta43_det_line {height:0px;text-align: left;}
.css_cvanulado43_det_label {text-align: left;vertical-align: middle;}
.css_cvanulado43_det_line {height:0px;text-align: left;}
.css_baseret43_det_label {text-align: left;vertical-align: middle;}
.css_baseret43_det_line {height:0px;text-align: left;}
.css_ret_con_iva43_det_label {text-align: left;vertical-align: middle;}
.css_ret_con_iva43_det_line {height:0px;text-align: left;}
.css_retenciones43_det_label {text-align: left;vertical-align: middle;}
.css_retenciones43_det_line {height:0px;text-align: left;}
.css_idb_det_label {text-align: left;vertical-align: middle;}
.css_idb_det_line {height:0px;text-align: left;}
.css_tipocomptehis_det_label {text-align: left;vertical-align: middle;}
.css_tipocomptehis_det_line {height:0px;text-align: left;}
.css_banco_det_label {text-align: left;vertical-align: middle;}
.css_banco_det_line {height:0px;text-align: left;}
.css_numero_transferencia_det_label {text-align: left;vertical-align: middle;}
.css_numero_transferencia_det_line {height:0px;text-align: left;}
.css_estado_electronico_det_label {text-align: left;vertical-align: middle;}
.css_estado_electronico_det_line {height:0px;text-align: left;}
.css_proyecto_det_label {text-align: left;vertical-align: middle;}
.css_proyecto_det_line {height:0px;text-align: left;}
.css_rubro_det_label {text-align: left;vertical-align: middle;}
.css_rubro_det_line {height:0px;text-align: left;}
.css_categoria_det_label {text-align: left;vertical-align: middle;}
.css_categoria_det_line {height:0px;text-align: left;}
.css_tipo_documento_atado_det_label {text-align: left;vertical-align: middle;}
.css_tipo_documento_atado_det_line {height:0px;text-align: left;}
.css_numero_documento_atado_det_label {text-align: left;vertical-align: middle;}
.css_numero_documento_atado_det_line {height:0px;text-align: left;}
.css_valor_superior_al_maximo_det_label {text-align: left;vertical-align: middle;}
.css_valor_superior_al_maximo_det_line {height:0px;text-align: left;}
.css_distribucion_retencion_det_label {text-align: left;vertical-align: middle;}
.css_distribucion_retencion_det_line {height:0px;text-align: left;}
