.css_idproducto__label { }
.css_idproducto__line {text-align:left;}
.css_idproducto__obj {text-align:left;}
.css_idproducto_receta__label { }
.css_idproducto_receta__line {text-align:left;}
.css_idproducto_receta__obj {text-align:left;}
.css_cantidad__label {text-align:;}
.css_cantidad__line {text-align:left;}
.css_cantidad__obj {text-align:left;}
.css_unidad__label { }
.css_unidad__line { }
.css_unidad__obj { }
