.css_rfid_grid_line {color:#FFFFFF;font-family:Helvetica, Arial, sans-serif;font-size:20px;background-color:#000099;font-weight:bold;vertical-align: top;text-align: right;}
.css_fecha_inicio_grid_line {color:#FFFFFF;font-size:14px;font-weight:bold;vertical-align: top;text-align: center;}
.css_fecha_fin_grid_line {font-size:14px;font-weight:bold;vertical-align: top;text-align: center;}
.css_segundos_grid_line {color:#FFFFFF;font-family:Helvetica, Arial, sans-serif;font-size:20px;background-color:#000066;font-weight:bold;vertical-align: middle;text-align: center;}
.css_idreg_grid_line {vertical-align: top;text-align: right;}
.css_cod_device_grid_line {vertical-align: top;text-align: right;}
.css_nombrerfid_grid_line {vertical-align: top;text-align: right;}
